/*========================================================/                                           
/                     Contents                            /
/=========================================================/ 

1.  Fonts
2.  Main 
3.  Header 
4.  Banner 
5.  Section 
6.  Notes
7.  Figure 
8.  Sidebar 
9.  Mobile contents 
10. Lists
11. Links

/**********************************************************                                           
/*                    1. Fonts                            *
/*********************************************************/
@font-face {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2'), url('../fonts/MaterialIcons-Regular.woff') format('woff'), url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}
/**********************************************************                                           
/*                    2. Main styles                      *
/*********************************************************/
.page {
  font-family: "Open Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.625em;
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 0 auto;
  padding-top: 10px;
  color: #131313;
  background-color: #eeeeee;
  justify-content: space-between;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page__container {
  width: 810px;
}
.h2 {
  font-size: 1.6384em;
  font-weight: 700;
  line-height: normal;
  box-sizing: border-box;
  width: 100%;
  margin-top: .8em;
  margin-bottom: .8em;
  padding-bottom: 5px;
  text-align: left;
  color: #131313;
  border-bottom: 1px solid #ebebeb;
}
.h3 {
  font-size: 1.2em;
  font-weight: 700;
  line-height: normal;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #131313;
}
sup {
  position: relative;
  left: .15em;
}
/*=======================================================*/
@media (max-width: 1170px) {
  .page {
    width: 972px;
  }
  .page__container {
    width: 670px;
  }
}
@media (max-width: 1030px) {
  .page {
    width: 720px;
    margin: 0 auto;
  }
  .page__container {
    width: 670px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  .page {
    font-weight: 300;
    width: 100%;
  }
  .page__container {
    width: 95.1704545454545%;
  }
  .h2 {
    font-size: 1.48945455em;
    color: black;
    margin-top: .8em;
  }
  .h3 {
    font-size: 1.2em;
    color: black;
  }
}
@media (max-width: 500px) {
  .page__container {
    width: 100%;
  }
}
/**********************************************************                                           
/*                    3. Header                           *
/*********************************************************/
.header {
  padding: 3% 7%;
  text-align: center;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.header__category {
  font-size: 0.9375em;
  font-weight: 400;
  color: #cf4d35;
}
.header__headline {
  font-size: 1.84em;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: .3em;
  color: #131313;
}
.entry-data {
  font-weight: 400;
  margin: 0;
  padding: 0;
  list-style: none;
}
.entry-data__item {
  font-size: 0.9375em;
  display: inline-block;
  color: #b4b4b4;
}
.entry-data__item + .entry-data__item::before {
  margin: 0 5px;
  content: '\2022';
}
/*=======================================================*/
@media (max-width: 720px) {
  .header {
    padding: 1em 3.5%;
  }
  .header__headline {
    font-size: 1.6384em;
    font-weight: 600;
    line-height: 1.25em;
    color: black;
  }
}
/**********************************************************                                           
/*                    4. Banner                           *
/*********************************************************/
.banner {
  position: relative;
  width: 100%;
  background-color: #ec7d2e;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.banner::after {
  display: block;
  padding-bottom: 63.3333333333333%;
  content: '';
}
.banner__img {
  position: absolute;
  z-index: 1;
  display: block;
  max-width: 100%;
}
.banner__wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  box-shadow: 0 1px 3px 5px rgba(0, 0, 0, 0.1);
  width: 49.382716049382715%;
  height: 77.97270955165692%;
}
.banner__logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 95%;
  height: 95%;
  margin: auto;
  border: 10px solid #eeeeee;
  border-radius: 50%;
  background-color: #eeeeee;
  box-shadow: 0 1px 3px 5px rgba(0, 0, 0, 0.1);
}
/**********************************************************                                           
/*                    5. Section                          *
/*********************************************************/
.section {
  box-sizing: border-box;
  margin: 20px 0 20px;
  padding: 4% 10% 4% 10%;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.section__text {
  margin-top: 0;
  margin-bottom: 1.625em;
  word-wrap: break-word;
}
.instructions {
  margin-top: 20px;
  padding: 5% 5% 2%;
  border-top: 4px solid #558abb;
  background-color: #dde4e9;
}
.instructions__header {
  font-size: 1.2em;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 1.04em;
}
.section__img {
  font-size: 0.9375em;
  display: block;
  max-width: 100%;
  margin: 1.625em auto 1.625em;
  color: #b4b4b4;
}
.section__img--size-xs {
  width: 30%;
}
.section__img--size-s {
  width: 45%;
}
.section__img--size-m {
  width: 55%;
}
.section__img--size-l {
  width: 65%;
}
.section__img--size-xl {
  width: 75%;
}
/*=======================================================*/
@media (max-width: 720px) {
  .page__text {
    -webkit-font-smoothing: subpixel-antialiased;
  }
  .instructions__header {
    font-size: 1.09090909em;
  }
  .instructions__text {
    font-weight: 400;
  }
}
@media (max-width: 500px) {
  .section {
    padding: 1% 5% 5% 5%;
  }
  .instructions__text {
    font-size: 0.9375em;
  }
  .instructions b {
    font-weight: 600;
  }
  .instructions .list-item {
    font-size: 0.9375em;
  }
}
/**********************************************************                                           
/*                    6. Notes                            *
/*********************************************************/
.aside {
  box-sizing: border-box;
  width: 100%;
  margin-top: 1.625em;
  margin-bottom: 1.625em;
  padding: 12px 20px 12px 50px;
}
.aside__text {
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.625em;
  display: inline-block;
  margin: 0;
}
.aside--note {
  color: #6c5328;
  background-color: #fff5cc;
}
.aside--tip {
  color: #1b5e20;
  background-color: #e7fbec;
}
.aside--warning {
  color: #d50000;
  background-color: #fbe9e7;
}
.aside__type {
  font-weight: 600;
  color: inherit;
}
.aside__type::before {
  font-family: 'Material Icons';
  font-size: 1.8em;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  display: inline-block;
  float: left;
  margin-left: -35px;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.aside__type--note::before {
  content: 'help';
  color: #ffab00;
}
.aside__type--tip::before {
  content: 'description';
  color: #4caf50;
}
.aside__type--warning::before {
  content: 'warning';
  color: #ff1744;
}
/**********************************************************                                           
/*                    7. Figure                           *
/*********************************************************/
.figure {
  margin: 1.625em auto 1.625em;
  text-align: center;
}
.figure__figcaption {
  text-align: center;
  color: gray;
}
/**********************************************************                                           
/*                    8. Sidebar                          *
/*********************************************************/
.sidebar {
  position: sticky;
  top: 10px;
  overflow: hidden;
  width: 330px;
  height: 100%;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.sidebar__header {
  font-size: 1.1em;
  font-weight: 400;
  line-height: .9em;
  position: relative;
  display: block;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 16px;
  text-align: center;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f9f9f9;
}
.sidebar__item {
  position: relative;
}
.sidebar__number {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 40px;
  height: 100%;
  text-align: center;
  color: white;
  background-color: #4367d4;
}
.sidebar__item::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  transition: .3s;
  transition-property: transform;
  transform: translate(-99.4%, 0);
  background: #4367d4;
  -webkit-backface-visibility: hidden;
}
.sidebar__link {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  z-index: 3;
  display: block;
  padding-right: 45px;
  padding-left: 20px;
  transition: .4s;
  text-decoration: none;
  color: #131313;
}
.sidebar__item:hover::before {
  transform: translate(0, 0);
  -webkit-backface-visibility: hidden;
}
.sidebar__item:hover .sidebar__link {
  color: white;
}
/*=======================================================*/
@media (max-width: 1170px) {
  .sidebar {
    width: 272px;
  }
}
@media (max-width: 1030px) {
  .sidebar {
    display: none;
  }
  .sidebar__item::before {
    transform: none;
    background-color: transparent;
  }
  .sidebar__item:hover::before {
    transform: none;
  }
  .sidebar__item:hover .sidebar__link {
    color: inherit;
  }
  .sidebar__number {
    font-weight: 300;
    width: auto;
    color: #4367d4;
    background-color: #f9f9f9;
  }
  .sidebar__link {
    padding-right: 40px;
    padding-left: 0;
  }
  .sidebar__list {
    padding: 2% 10% 2% 10%;
  }
}
@media (max-width: 500px) {
  .sidebar__list {
    padding: 2% 5% 2% 5%;
  }
}
/**********************************************************                                           
/*                    9. Mobile contents                 *
/*********************************************************/
.mobile-contents {
  position: static;
  display: none;
  width: 100%;
  height: auto;
}
.contents-header {
  position: sticky;
  z-index: 4;
  top: 0;
  display: none;
  width: 100%;
  height: 50px;
}
.contents-header__title {
  font-size: 1em;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  background-color: #4367d4;
}
.contents-header__link {
  display: block;
  text-decoration: none;
  color: white;
}
/*=======================================================*/
@media (max-width: 1030px) {
  .mobile-contents {
    display: block;
  }
  .contents-header {
    display: block;
  }
}
@media (max-width: 270px) {
  .contents-header,
  .mobile-contents {
    display: none;
  }
}
/**********************************************************                                           
/*                    10. Lists                           *
/*********************************************************/
.ordered-list {
  margin-top: 0;
  margin-bottom: 1.625em;
  padding: 0;
  list-style-position: inside;
  list-style-type: decimal;
}
.unordered-list {
  margin-bottom: 1.625em;
  margin-left: 18px;
  padding: 0;
  list-style-type: none;
}
.ordered-list--nested {
  margin-top: 1.625em;
  padding-left: 6%;
  list-style-type: lower-alpha;
}
.unordered-list--nested {
  margin-top: 1.625em;
  margin-left: 6%;
}
.unordered-list .unordered-list__item::before {
  float: left;
  width: 5px;
  height: 5px;
  margin-top: .65em;
  margin-left: -1em;
  content: '';
  border-radius: 50%;
  background-color: #4367d4;
}
.instructions .unordered-list__item::before {
  background-color: #558abb;
}
/**********************************************************                                           
/*                    11. Links                           *
/*********************************************************/
.link {
  text-decoration: none;
  word-wrap: break-word;
  color: inherit;
}
.link--hover:hover {
  text-decoration: underline;
}
.link--section {
  font-weight: 700;
  color: #369be9;
}
.link--section:visited {
  font-weight: 700;
  color: #6a1b9a;
}
.link--aside {
  text-decoration: underline;
  color: inherit;
}
.link--instructions {
  font-weight: 700;
  color: #558abb;
}
.link--instructions:visited {
  font-weight: 700;
  color: #6a1b9a;
}
.link--anchor {
  font-weight: 700;
  color: #2e7d32;
}
