.note {
  font-size: $base-font-size - 1px;
  line-height: 1.5;
  width: 75%;
  padding: 14px;
  padding-left: 60px;
  color: white;
  border-radius: $border-radius--lg;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);

  @media (max-width: $mobile) {
    width: auto;
    padding-right: 15px;
  }

  &__icon {
    position: absolute;
    top: 23px;
    left: 19px;
    width: 25px;
    height: 25px;
    fill: white;
  }

  &__text {
    font-weight: inherit;
    margin: 0;
  }

  &--inf {
    background: $info;
  }

  &--tip {
    background: $tip;
  }

  &--warning {
    background: $warning;
  }
}