- var selected = "main-nav__item--selected"

mixin mainNav
  nav.main-nav
    a(href="#target").main-nav__open-btn
      +svg("main-nav__open-icon", "menu")
    a.main-nav__open-target(id="target")
    div.main-nav__inner
      ul.main-nav__list.js-fixed-menu
        li
          a(href="#0").main-nav__close-btn
            +svg("main-nav__close-icon", "arrow-down")
        li.main-nav__item(class= attributes.index)
          a.main-nav__link(href= link.index) macOS на ПК 
        li.main-nav__item(class= attributes.vmware)
          a.main-nav__link(href= link.vmware ) macOS на VMWare
        li.main-nav__item(class= attributes.services)
          a.main-nav__link(href= link.services) Запуск iCloud &amp; App Store
        li.main-nav__item(class= attributes.sound)
          a.main-nav__link(href= link.sound) Завод звука
        li.main-nav__item.main-nav__item--popup(class= attributes.pageA0)
          a.main-nav__link Разное
            +svg("main-nav__popup-icon", "arrow-down")

          ul.main-nav__list
            li.main-nav__item(class= attributes.kexts)
              a.main-nav__link(href= link.kexts) Установка кекстов
            li.main-nav__item(class= attributes.efi)
              a.main-nav__link(href= link.efi) Монтирование EFI