//
// Font shorthands are not used
// due to bug with REM in IE10.
//

::selection {
  color: white;
  background: $selection;
}

:root {
  word-wrap: break-word;
  color: $base-font-color;
  background: white;
  font-family: $base-font;
  font-weight: 400;
  line-height: 1.7;
}

.page {
  margin: 0;
  font-size: 17px;

  @media (max-width: $mobile) {
    font-size: 18px;
  }

  &.is-fixed {
    overflow: hidden;
  }

  &__header {
    position: fixed;
    z-index: 3;
    top: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;

    @media (max-width: $desktop) {
      margin-bottom: 70px;
    }

    @media (max-width: $tablet) {
      width: 80%;
      margin: 0 auto 70px;
    }

    @media (max-width: $mobile) {
      width: 90%;
      margin-bottom: 50px;
    }
  }

  &__sidebar {
    width: 260px;
    margin-left: $margin--large * 1.5;

    @media (max-width: $desktop) {
      margin-left: $margin--large;
    }
  }

  &__footer {
    position: relative;
    z-index: 1;
  }

  &__scroll-btn {
    display: none;

    @media (max-width: $tablet) {
      position: fixed;
      z-index: 5;
      right: 40px;
      bottom: 40px;
      display: block;
    }

    @media (max-width: $mobile) {
      right: 20px;
      bottom: 20px;
    }
  }
}
