// ==========================================================================
// Global
// ==========================================================================

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

::selection {
  color: white;
  background: $selection;
}

//
// Font shorthands are not used  
// due to bug with REM in IE10.
//

:root {
  word-wrap: break-word;
  color: $base;
  background: white;
  font-family: $base-font;
  font-weight: 400;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transpent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page {
  margin: 0;
  font-size: 19px;

  @media (max-width: $mobile) {
    font-size: 18px;
  }

  &.is-fixed {
    overflow: hidden;
  }

  &__header {
    position: fixed;
    z-index: 10;
    top: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;

    @media (max-width: $desktop) {
      margin-bottom: 70px;
    }

    @media (max-width: $tablet) {
      width: 85%;
      margin: 0 auto 70px;
    }

    @media (max-width: $mobile) {
      width: 90%;
      margin-bottom: 50px;
    }
  }

  &__sidebar {
    width: $sidebar-width;
    margin-left: $margin--large;

    @media (max-width: $desktop) {
      width: $sidebar-width--mobile;
    }
  }

  &__scroll-btn {
    display: none;

    @media (max-width: $tablet) {
      position: fixed;
      z-index: 99;
      right: 40px;
      bottom: 40px;
      display: block;
    }

    @media (max-width: $mobile) {
      right: 20px;
      bottom: 20px;
    }
  }
}
