.page {
  margin: 0;
  background: @grey-235;
  color: @font-color;
  word-wrap: break-word;
  font: 400 16px / 1.6 @font-family;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transpent;

  &__outdated {
    margin: 3px 0;
    padding: 3px 0;
    background: #ccc;
  }

  &__header {
    position: relative;
    z-index: 3;
    width: 100%;

    @media (max-width: @tablet) {
      position: fixed;
      top: 0;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: @layout;

    @media (max-width: @desktop) {
      width: 960px;
    }

    @media (max-width: @tablet) {
      width: 100%;
    }
  }

  &__sidebar {
    position: sticky;
    top: @margin + 55px;
    margin-top: @margin + 28px;
    margin-left: @margin;
    width: 300px;
    height: 100%;

    @media (max-width: @desktop) {
      width: 250px;
    }

    @media (max-width: @tablet) {
      display: none;
    }
  }

  &__article {
    box-sizing: border-box;
    margin-top: @margin + 28px;
    width: 814px;

    @media (max-width: @desktop) {
      width: 650px;
    }

    @media (max-width: @tablet) {
      width: 100%;
    }
  }

  &__nav {
    display: none;

    @media (max-width: @tablet) {
      z-index: 2;
      display: block;
      margin-bottom: @margin * 1.5;
    }
  }

  &__scroll-to-top {
    display: none;

    @media (max-width: @tablet) {
      position: fixed;
      right: 6%;
      bottom: 4%;
      z-index: 3;
      display: block;
    }

    @media (max-width: @mobile) {
      right: 5%;
      bottom: 3%;
    }
  }
}
