//
// Font shorthands are not used  
// due to bug with REM in IE10.
//

:root {
  word-wrap: break-word;
  color: $base;
  background: white;
  font-family: $base-font;
  font-weight: 400;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transpent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page {
  margin: 0;
  font-size: 19px;

  @media (max-width: $mobile) {
    font-size: 18px;
  }

  &.is-fixed {
    overflow: hidden;
  }
  
  &__outdated {
    margin: 3px 0;
    padding: 3px 0;
    background: gray;
  }

  &__header {
    position: fixed;
    z-index: 10;
    top: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 1060px;
    margin: 0 auto 150px;

    @media (max-width: $desktop) {
      width: 880px;
    }

    @media (max-width: $tablet) {
      width: 80%;
      margin-bottom: 70px;
    }

    @media (max-width: $tablet) {
      width: 90%;
      margin-bottom: 50px;
    }
  }

  &__sidebar {
    position: sticky;
    top: 125px;
  }

  &__scroll-btn {
    display: none;

    @media (max-width: $tablet) {
      position: fixed;
      z-index: 99;
      right: 40px;
      bottom: 40px;
      display: block;
    }

    @media (max-width: $mobile) {
      right: 20px;
      bottom: 20px;
    }
  }
}
