.contents {
  @media (max-width: $medium-screen) {
    width: 100%;
    font-size: 1em;
  }

  &__headline {
    margin-bottom: 10px;

    @media (max-width: $medium-screen) {
      padding-top: 25px;
      margin-bottom: 15px;
      font-size: 30px;
    }

    @media (max-width: $small-screen) {
      font-size: 22px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    height: 50px;
    line-height: 50px;

    &:last-child {
      height: 55px;
    }
  }

  &__link {
    position: relative;
    display: block;
    height: 100%;
    padding-left: 22px;
    padding-right: 37px;
    color: inherit;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .contents__item:hover &,
    .contents__item.is-active & {
      color: $accent-color;

      @media (max-width: $medium-screen) {
        color: inherit;
      }
    }
  }

  //
  // Specify height 101% to fix white gap
  // between items in some cases
  //
  &__icon-wrapper {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 35px;
    height: 101%;
    background: $accent-color;

    .contents__item:first-child & {
      border-top-left-radius: 20px;
    }
  }

  &__icon {
    @include x-center();
    display: inline-block;
    width: 17px;
    height: 17px;
    fill: white;

    .contents__item:hover &,
    .contents__item.is-active & {
      fill: transparentize(white, .2);
    }
  }
}
