.my-links {
  display: inline-flex;

  &__item {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 50%;
    background: $dimmed-font-color;
    transition: $transition;

    &:hover {
      background: white;
    }
  }

  &__icon {
    @include x-center();
    width: 17px;
    height: 17px;
    fill: $footer-color;
    transition: $transition;

    .my-links__item:hover & {
      fill: transparentize($footer-color, .2);
    }
  }
}
