.note {
  display: flex;
  align-items: center;
  width: 70%;
  padding: 12px 12px 12px 17px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  font-family: $second-fonts;
  font-size: 15px;
  line-height: 1.5;

  @media (max-width: $small-screen) {
    width: auto;
    padding-left: 55px;
    font-size: 0.895em;
  }

  &__icon {
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    margin-right: 15px;
    fill: white;

    @media (max-width: $small-screen) {
      width: 25px;
      height: 25px;
      left: 16px;
    }
  }

  &__text {
    margin: 0;
    font-weight: inherit;
  }

  &--inf { background: #7e57c2; }
  &--tip { background: #00acc1; }
  &--warning { background: #ec407a; }
}
