.scroll-btn {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: $accent-color;
  box-shadow: 1px 1px 4px 0 rgba(101, 119, 134, .75);
  transition: transform .30s;
  transform: scale(0);

  @media (max-width: $small-screen) {
    width: 55px;
    height: 55px;
  }

  &.is-active {
    transform: scale(1);
  }

  &__icon {
    @include x-center();
    width: 25px;
    height: 25px;
    fill: white;

    @media (max-width: $small-screen) {
      width: 20px;
      height: 20px;
    }
  }
}
