.scroll-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: $accent;
  box-shadow: 1px 1px 4px 0 rgba(101, 119, 134, .75);
  transition: transform .30s;
  transform: scale(0);

  // Workaround
  display: block;

  @media (max-width: $mobile) {
    width: 55px;
    height: 55px;
  }

  &.is-visible {
    transform: scale(1);
  }

  &__icon {
    width: 25px;
    height: 25px;
    fill: white;
    
    @include x-center();

    @media (max-width: $mobile) {
      width: 20px;
      height: 20px;
    }
  }
}
