.scroll-btn {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: $accent;
  box-shadow: 1px 1px 4px 0 rgba(101, 119, 134, .75);
  transition: transform .30s;
  transform: scale(0);

  @media (max-width: $mobile) {
    width: 55px;
    height: 55px;
  }

  &.is-visible {
    transform: scale(1);
  }

  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: auto;
    fill: white;

    @media (max-width: $mobile) {
      width: 20px;
      height: 20px;
    }
  }
}
