mixin sidebar
  aside.page__sidebar.sidebar
    .sidebar__inner
      case hasPageNav
        default
          +pageNav("desktop")
        when false
          // Empty
      +share(appendClass = "sidebar__item")