mixin sidebar
  aside.page__sidebar.sidebar(data-toggle="sidebar")
    case hasPageNav
      default
        +pageNav("desktop")
      when false
        // Empty
    +share(appendClass = "sidebar__item")