- var sidebarItem = "sidebar__item"

mixin sidebar
  case hasPageNav
    default
      aside.page__sidebar.sidebar
        +pageNav
        +reference(state = sidebarItem)
        +share(state = sidebarItem)
    when false
      aside.page__sidebar.sidebar
        +reference(state = sidebarItem)
        +share(state = sidebarItem)