- var sidebar = "sidebar__item" + " "

mixin sidebar
  case hasContentsList
    default
      aside.page__sidebar.sidebar
        +page-nav
        +reference(state = sidebar)
        +share(state = sidebar)
    when false
      aside.page__sidebar.sidebar
        +reference(state = sidebar)
        +share(state = sidebar)