- var accent = "article-header__img-wrapper--theme-accent"

mixin articleHeader

  mixin datePublished
    time.article-header__data-item(datetime= datePublished[2] + "-" + datePublished[1] + "-" + datePublished[0])= datePublished[0] + "." + datePublished[1] + "." + datePublished[2]
  
  mixin dateModified
    time.article-header__data-item(
      data-modified= dateModified[2] + dateModified[1] + dateModified[0] 
      datetime= dateModified[2] + "-" + dateModified[1] + "-" + dateModified[0]) Обновлено&nbsp;

  header.article__header.article-header
    .article-header__img-wrapper(class= attributes.theme)
      img.article-header__img(src= articleHeader.image alt="")
    h1.article-header__headline!= articleHeader.title
    .article-header__data
      case isDateModified
        default
          +datePublished
        when true
          +datePublished
          +dateModified
      if block
        block
    hr.line