.article-header {
  padding: 70px;
  border-radius: 60px;
  text-align: center;
  background: linear-gradient(135deg, $light 22px, white 22px, white 24px, transparent 24px, transparent 67px, white 67px, white 69px, transparent 69px),
              linear-gradient(225deg, $light 22px, white 22px, white 24px, transparent 24px, transparent 67px, white 67px, white 69px, transparent 69px)0 64px;
  background-color: $light;
  background-size: 64px 128px;

  @media (max-width: $mobile) {
    border-radius: 35px;
    padding: 30px 10px;
  }

  &__img-wrapper {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto 25px;
    border-radius: 50%;
    background: $accent;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);

    @media (max-width: $mobile) {
      width: 100px;
      height: 100px;
      margin-bottom: 15px;
    }
  }

  &__img {
    width: 70%;
    @include x-center();
  }

  &__headline {
    margin: 0 0 15px;
    color: $base-font-color;
    font-family: $headings-font;
    font-size: $h1;
    font-weight: 700;
    line-height: 1.5;

    @media (max-width: $mobile) {
      margin-bottom: 12px;
      font-size: $h1--mobile;
    }
  }

  &__data {
    font-size: 0.842em;
  }

  &__data-item {
    display: inline-block;
    line-height: 2;

    &::after {
      content: "•";
      margin: 0 5px;
    }

    &:last-child::after {
      display: none;
    }
  }
}
