include ../../pug/_mixins

- var themeAlt    = " article-header__img-wrapper--alt-theme"
- var accentTheme = " article-header__img-wrapper--accent-theme"

mixin article-header

	- headlineTxt = pageTitle

	mixin time
		time(datetime= datePublished[2] + "-" + datePublished[1] + "-" + datePublished[0])= datePublished[0] + "." + datePublished[1] + "." + datePublished[2]

	header.article__header.article-header
		.article-header__img-wrapper(class= attributes.theme)
			img.article-header__img(src= imgArticle alt="")
		h1.article-header__headline!= headlineTxt
		ul.article-header__list
			case isDateModified
				default
					li.article-header__item
						+time
				when true
					li.article-header__item
						+time
					li.article-header__item
						time.js-modified-date(
							data-time= dateModified[2] + dateModified[1] + dateModified[0] 
							datetime= dateModified[2] + "-" + dateModified[1] + "-" + dateModified[0]) Обновлено&nbsp;
			if block
			block