.article-header {
  padding-top: 70px;
  text-align: center;
  hyphens: none;

  @media (max-width: $tablet) {
    padding-top: 30px;
  }

  &__img-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background: #f0f0f0;

    @media (max-width: $mobile) {
      width: 140px;
      height: 140px;
      margin-bottom: 10px;
    }

    &--theme-alt {
      width: 230px;
      height: 230px;
      background: white;
    }

    &--theme-accent {
      background: lighten($accent, 1);
    }
  }

  &__img {
    width: 80%;

    @include x-center();
  }

  &__headline {
    margin: 0 0 15px;
    font-family: $headings-font-family;
    font-size: $h1-font-size;
    font-weight: 700;
    line-height: 1.5;

    @media (max-width: $mobile) {
      margin-bottom: 12px;
      font-size: $h1-font-size--mobile;
    }

    br {
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__date {
    display: inline-block;
    margin-bottom: 60px;
    color: #666;
    font-size: 14px;

    @media (max-width: $tablet) {
      margin-bottom: 25px;
    }

    &::after {
      margin: 0 5px;
      content: "•";
    }

    &:last-of-type::after {
      display: none;
    }
  }
}
