.article-header {
  padding-top: 40px;
  text-align: center;
  hyphens: none;

  @media (max-width: $tablet) {
    padding-top: 30px;
  }

  &::after {
    position: relative;
    display: block;
    height: 2px;
    margin-top: $margin;
    content: "";
    border-radius: $border-radius;
    background: $grey-235;
  }

  &__img-wrapper {
    position: relative;
    width: 230px;
    height: 230px;
    margin: 0 auto 15px;
    border-radius: 50%;
    background: $grey-240;

    @media (max-width: $mobile) {
      width: 140px;
      height: 140px;
      margin-bottom: 10px;
    }

    &--theme-alt {
      width: 240px;
      height: 240px;
      background: white;
    }

    &--theme-accent {
      background: $accent-color;
    }
  }

  &__img {
    width: 80%;

    @include x-center();
  }

  &__headline {
    font-family: $font-family--heading;
    font-size: $h1-size;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 15px;

    @media (max-width: $mobile) {
      font-size: $h1-size--mobile;
      margin-bottom: 12px;
    }

    br {
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__list {
    font-size: $font-size--tiny;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    color: $font-color--light;

    &::after {
      margin: 0 5px;
      content: "\2022";
    }

    &:last-child::after {
      display: none;
    }
  }
}
