.article-header {
  text-align: center;

  &::after {
    position: relative;
    display: block;
    margin-top: 30px;
    height: 2px;
    border-radius: 10px;
    background-color: @grey-light;
    content: "";

    @media (max-width: @tablet) {
      z-index: 1;
      margin-top: 20px;
      height: 2px;
      background-color: @grey-light;
    }
  }

  &__img-wrapper {
    position: relative;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: lighten(@grey, 32);

    @media (max-width: @mobile) {
      width: 170px;
      height: 170px;
    }

    &--theme-alt {
      width: 330px;
      height: 330px;
      background-color: white;

      @media (max-width: @mobile) {
        width: 190px;
        height: 190px;
      }
    }

    &--theme-accent {
      background-color: @accent-color;
    }
  }

  &__img {
    width: 80%;

    .center();

    .article-header__img-wrapper--theme-alt & {
      width: 100%;
    }
  }

  &__headline {
    margin: 25px 0 15px;
    font-weight: 600;
    font-size: @h1-size;
    line-height: 1.5;

    @media (max-width: @mobile) {
      margin: 12px 0 10px;
      font-size: @h1-size--mobile;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    font-size: @font-size--tiny;
  }

  &__item {
    display: inline-block;
    color: darken(@grey, 7);

    &::after {
      margin: 0 5px;
      content: "\2022";
    }

    &:last-child::after {
      display: none;
    }
  }
}
