include ../../pug/_mixins

- var themeAlt = " article-header__img-wrapper--alt-theme"
- var accentTheme = " article-header__img-wrapper--accent-theme"

mixin article-header

	- headlineTxt = pageTitle

	mixin time
		time(datetime= String(datePublished[2]) + "-" + String(datePublished[1]) + "-" + String(datePublished[0]))= String(datePublished[0]) + "." + String(datePublished[1]) + "." + String(datePublished[2])

	header.article__header.article-header
		.article-header__img-wrapper(class= attributes.theme)
			img.article-header__img(src= imgArticle alt="")
		h1.article-header__headline!= headlineTxt
		ul.article-header__entry-data
			case isDateModified
				default
					li.article-header__entry-data-item
						+time
				when true
					li.article-header__entry-data-item
						+time
					li.article-header__entry-data-item
						time.js-modified-date(data-time=String(dateModified[2]) + String(dateModified[1]) + String(dateModified[0]) datetime=String(dateModified[2]) + "-" + String(dateModified[1]) + "-" + 
						String(dateModified[0])) Обновлено&nbsp;
			if block
			block