.aside {
  overflow: hidden;
  border: 1px solid $border;
  border-radius: 20px;

  &__headline {
    margin: 0;
    padding-top: 20px;
    color: $base-font-color;
    text-align: center;
    font-family: $headings-font;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;

    @media (max-width: $tablet) {
      padding: 0;
    }
  }
}
