.error404 {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media (max-width: $medium-screen) {
    flex-direction: column;
  }

  &__img {
    display: block;
    width: 400px;
    margin: 10px 15px -10px;
    transform: translate(0, -1000px);

    @media (max-width: $medium-screen) {
      width: 50vw;
    }

    &.is-animated {
      animation: fall  $fall-duration ease-out,
                 shake $shake-duration $shake-delay forwards;
    }
  }

  &__text-wrapper {
    margin: 10px 15px;
    text-align: center;
    line-height: 1;
  }

  &__type {
    margin-bottom: 10px;
    color: $accent-color;
    font-size: 112px;

    @media (max-width: $small-screen) {
      margin-bottom: 15px;
      font-size: 64px;
    }
  }

  &__desc {
    position: relative;
    left: 4px;
    color: $grey-133;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;

    @media (max-width: $small-screen) {
      font-size: 17px;
    }
  }
}

@keyframes fall {
  from {
    transform: translate(0, -400px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 10px);
  }
  33% {
    transform: translate(0);
  }
  66% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0);
  }
}
