.sidebar {
  @media (max-width: $tablet) {
    display: none;
  }

  &__inner {
    position: fixed;
    top: $header-width + $margin--large;
    width: inherit;
    height: 100%;
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin: 0;
    }
  }
}
