mixin pageNav(state)

  - var i = 0

  mixin pageNavInner
    h2.aside__headline.page-nav__headline= "Оглавление"
    ul.page-nav__list
      each item in itemList
        li.page-nav__item
          a.page-nav__link(href="#" + (i+1))
            span!= itemList[i++] + " "
            span.page-nav__icon-wrapper
              +svg("link-solid")(class="page-nav__icon")

  case state
    when "desktop"
      nav.aside.page-nav.sidebar__item(data-toggle="pageNav")
        +pageNavInner
    when "mobile"
      nav.aside.page-nav.article__page-nav
        +pageNavInner
        