.page-nav {
  @media (max-width: $tablet) {
    width: 100%;
    border: 2px solid #ebebeb;
    box-shadow: none;
  }

  &__headline {
    @media (max-width: $mobile) {
      padding-top: 17px;
      margin-bottom: 15px;
      font-size: 22px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: block;
    padding-left: 22px;
    padding-right: 37px;
    transition: color .5s;
    transition: font-size .1s;
    text-decoration: none;
    color: #666;
    font-family: $websafe-font-family;
    font-weight: 500;
    line-height: 52px;

    .page-nav__item:hover &,
    .page-nav__item.is-active & {
      color: darken($accent, 5);

      @media (max-width: $desktop) {
        color: inherit;
      }
    }
  }

  &__icon-wrapper {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 37px;
    height: 52px;
    background: $accent;

    @media (max-width: $desktop) {
      width: 41px;
    }

    .page-nav__item:first-child & {
      border-top-left-radius: $border-radius;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    transition: fill .1s, transform .1s;
    fill: white;

    @include x-center();
    
    .page-nav__item.is-active & {
      transform: scale(1.15);
    }
  }
}
