mixin pageNav

  - var n = 0

  mixin pageNavInner
    h2.aside__headline= "Оглавление"
    ul.page-nav__list
      each item in itemList
        li.page-nav__item
          a.page-nav__link(href="#" + (n+1))
            span.page-nav__text= itemList[n]
            span.page-nav__number= (n++) + 1

  case isMobile
    when false
      nav.sidebar__item.aside.page-nav
        +pageNavInner
    when true
      nav.page__mobile-nav.aside.page-nav
        +pageNavInner
        