.page-nav {
  color: lighten($base, 12);
  font-size: .895em;
  font-weight: 700;
  line-height: 52px;

  @media (max-width: $tablet) {
    width: 100%;
    font-size: 1em;
  }

  &__headline {
    margin-bottom: 5px;

    @media (max-width: $tablet) {
      padding-top: 20px;
      margin-bottom: 15px;
      font-size: $h2--mobile;
    }

    @media (max-width: $mobile) {
      font-size: 22px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__link {
    position: relative;
    display: block;
    padding-left: 22px;
    padding-right: 37px;
    text-decoration: none;
    color: inherit;
    transition: $transition;

    .page-nav__item:hover &,
    .page-nav__item.is-active & {
      color: $accent;

      @media (max-width: $tablet) {
        color: inherit;
      }
    }
  }

  //
  // Specify height 101% to fix white gap 
  // between items in some cases
  //
  &__icon-wrapper {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 35px;
    height: 101%;
    background: $accent;

    @media (max-width: $desktop) {
      width: 41px;
    }

    .page-nav__item:first-child & {
      border-top-left-radius: $border-radius--large;
    }
  }

  &__icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    fill: white;
    @include x-center();
  }
}
