mixin page-nav(...items)

  - var n = 1

  mixin inner-markup
    h2.aside__headline= "Оглавление"
    ul.page-nav__list
      each item in items
        li.page-nav__item
          a.page-nav__link(href="#" + n)
            span.page-nav__text= item
            span.page-nav__number= n++
  case isMobile
    when false
      nav.sidebar__item.aside.page-nav
        +inner-markup
    when true
      nav.page__nav.aside.page-nav
        +inner-markup
        