mixin pageNav

  - var i = 0

  mixin pageNavInner
    h2.aside__headline= "Оглавление"
    ul.page-nav__list
      each item in itemList
        li.page-nav__item
          a.page-nav__link(href="#" + (i+1))
            span.page-nav__text!= itemList[i] + " "
            span.page-nav__number= (i++) + 1

  case isMobile
    when false
      nav.aside.page-nav.sidebar__item
        +pageNavInner
    when true
      nav.aside.page-nav.page__mobile-nav
        +pageNavInner
        