.page-nav {
  @media (max-width: $tablet) {
    width: 100%;
    border: 2px solid $grey-235;
    box-shadow: none;
  }

  &__headline {
    @media (max-width: $mobile) {
      font-size: $font-size--x-large;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;

    &::before {
      position: absolute;
      z-index: 0;
      width: 2px;
      height: 100%;
      content: "";
      transition: width .35s;
      background: $accent-color;

      @media (max-width: $tablet) {
        left: -15%;
      }
    }

    &:hover::before {
      width: 100%;

      @media (max-width: $tablet) {
        width: 115%;
      }
    }
  }

  &__link {
    font-family: $font-family--system;
    font-weight: 500;
    line-height: 52px;
    position: relative;
    z-index: 1;
    display: block;
    display: flex;
    justify-content: space-between;
    transition: color .5s;
    text-decoration: none;
    color: $font-color--x-light;

    .page-nav__item:hover & {
      color: white;
    }
  }

  &__text {
    display: table-cell;
    padding-left: 22px;
    word-break: break-all;
  }

  &__number {
    display: table-cell;
    width: 37px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: white;
    background: $accent-color;
  }
}
