.nav {
  color: $dimmed;
  font-size: 18px;
  font-weight: 700;

  @media (max-width: $tablet) {
    color: $nav;
    font-size: 20px;
    font-weight: 400;
  }

  @media (max-width: $mobile) {
    color: $nav;
    font-size: 18px;
    font-weight: 400;
  }

  &__inner {
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: $tablet) {
      position: fixed;
      top: 0;
      display: block;
      overflow-y: scroll;
      box-sizing: border-box;
      width: 350px;
      padding-top: 60px;
      background: white;
      box-shadow: 0 0 75px 0 rgba(0, 0, 0, .3);
      transition: transform .35s ease-out;
      transform: translate(-130%);
    }

    @supports (-webkit-backdrop-filter: blur(0)) {
      @media (max-width: $tablet) {
        background: $dimmed;
        -webkit-backdrop-filter: blur(15px);
      }
    } 

    @media (max-width: $mobile) {
      width: 290px;
    }

    @media (max-width: 300px) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $tablet) {
      flex-direction: column;
      height: auto;
      padding: 20px 25px;
    }

    @media (max-width: $mobile) {
      padding: 20px 20px;
    }
  }

  &__nested-list {
    position: absolute;
    top: 40px;
    left: 15px;
    overflow: hidden;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: $border-radius;
    background: lighten($header-bg, 4);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    white-space: nowrap;

    //
    // Blur doesn't work correctly with border-radius
    // on MS Edge at this time
    //

    // @supports (-webkit-backdrop-filter: blur(0)) {
    //   background: transparentize($header-bg, .15);
    //   -webkit-backdrop-filter: blur(15px);
    // } 

    @media (max-width: $tablet) {
      position: static;
      display: block;
      background: transparent;
      box-shadow: none;
    }

    .nav__item--popup:hover & {
      display: block;
    }
  }

  &__item {
    position: relative;
    margin: 0 17px;

    @media (max-width: $tablet) {
      margin: 0;
      border-radius: $border-radius;
    }

    &--selected:not(.nav__item--popup) {
      @media (max-width: $tablet) {
        background: $accent;
      }
    }

    .nav__nested-list & {
      margin: 0;
    }
  }

  &__link {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 12px 0; 
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
    transition: $transition;

    @media (max-width: $tablet) {
      height: auto; // Compatibility with FF
      padding: 9px 18px;
      color: $nav;
      line-height: inherit;
    }

    .nav__item:hover > & {
      @media (min-width: $desktop) {  
        color: transparentize(white, .3);
      }
    }

    .nav__item--popup:hover > & {
      @media (max-width: $tablet) {
        color: $base;
      }
    }

    .nav__item--popup > & {
      @media (max-width: $tablet) {
        padding-left: 0;
        color: $base;
        cursor: default;
      }
    }

    .nav__item--selected:not(.nav__item--popup) > & {
      @media (max-width: $tablet) {
        color: white;
      }
    }

    .nav__nested-list li:hover & {
      @media (min-width: $tablet) {
        background: darken($header-bg, 3);
        color: $dimmed;
      }
    }

    .nav__nested-list & {
      padding: 18px 27px;

      @media (max-width: $tablet) {
        padding: 9px 18px;
      }
    }
  }

  &__popup-icon {
    width: 11px;
    height: 11px;
    margin-left: 8px;
    vertical-align: middle;
    fill: $dimmed;

    @media (max-width: $tablet) {
      fill: $base;
    }

    .nav__item:hover & {
      @media (min-width: $tablet) {
        fill: transparentize(white, .3);
      }
    }
  }

  &__open-btn {
    display: none;

    @media (max-width: $tablet) {
      display: block;
      width: 21px;
      height: 21px;
      @include x-center($left: 20px, $right: auto);
    }
  }

  &__open-icon {
    @media (max-width: $tablet) {
      width: 100%;
      height: 100%;
      fill: $dimmed;
    }
  }

  &__open-target:target ~ div {
    transform: none;
  }

  &__close-btn {
    display: none;

    @media (max-width: $tablet) {
      position: absolute;
      top: 20px;
      right: 23px;
      display: block;
      width: 25px;
      height: 25px;
    }

    @media (max-width: $mobile) {
      right: 20px;
      width: 20px;
      height: 20px;
    }
  }

  &__close-icon {
    width: 100%;
    height: 100%;
    fill: $grey;
  }
}
