.aside {
  overflow: hidden;
  border-radius: $border-radius;
  background: white;

  &__headline {
    font-family: $headings-font-family;
    font-size: $base-font-size + 4px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 17px 0 16px;
    text-align: center;
    border-bottom: 2px solid $grey-235;
    color: $grey-85;
  }
}
