.aside {
  overflow: hidden;
  border-radius: $border-radius;
  background: white;

  &__headline {
    font-family: $font-family--heading;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 17px 0;
    text-align: center;
    border-bottom: 2px solid $grey-235;
    color: #555;
  }
}
