.error404 {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  height: 530px;
  border-radius: $border-radius;
  background-color: white;

  @media (max-width: $tablet) {
    flex-direction: column;
    height: 600px;
  }

  @media (max-width: $mobile) {
    align-content: center;
    height: 97vh;
  }

  &__img {
    position: relative;
    top: 15px;
    display: block;
    width: 40%;
    margin: 10px 15px;
    transform: translate(0, -400px);

    &.is-animated {
      animation: fall  $fall-duration ease-out,
                 shake $shake-duration $shake-delay forwards;
    }
  }

  &__text-wrapper {
    margin: 10px 15px;
    text-align: center;
    line-height: 1;
  }

  &__type {
    margin-bottom: 10px;
    color: lighten($accent, 0);
    font-size: 7rem;

    @media (max-width: $mobile) {
      margin-bottom: 15px;
      font-size: 4rem;
    }
  }

  &__desc {
    position: relative;
    left: 4px;
    text-transform: uppercase;
    color: #666;
    font-size: 18px;
    font-weight: 600;

    @media (max-width: $mobile) {
      font-size: $base-font-size;
    }
  }
}

@keyframes fall {
  from {
    transform: translate(0, -400px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 10px);
  }
  33% {
    transform: translate(0);
  }
  66% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0);
  }
}
