mixin error404
  .error404(data-toggle="error404")
    +respImg("images/fox.jpg", 400)(class="error404__img", alt="")
    .error404__text-wrapper
      .error404__type 404
      .error404__desc Страница не найдена