.error404 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;

  @media (max-width: $tablet) {
    flex-direction: column;
    height: 600px;
    padding-top: 120px;
  }

  @media (max-width: $mobile) {
    align-content: center;
    height: 59vh;
  }

  &__img {
    position: relative;
    top: 15px;
    display: block;
    width: 40%;
    margin: 10px 15px;
    transform: translate(0, -400px);

    &.is-animated {
      animation: fall  $fall-duration ease-out,
                 shake $shake-duration $shake-delay forwards;
    }
  }

  &__text-wrapper {
    margin: 10px 15px;
    text-align: center;
    line-height: 1;
  }

  &__type {
    margin-bottom: 10px;
    color: $accent;
    font-size: 112px;

    @media (max-width: $mobile) {
      margin-bottom: 15px;
      font-size: 64px;
    }
  }

  &__desc {
    position: relative;
    left: 4px;
    color: $grey;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;

    @media (max-width: $mobile) {
      font-size: 17px;
    }
  }
}

@keyframes fall {
  from {
    transform: translate(0, -400px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 10px);
  }
  33% {
    transform: translate(0);
  }
  66% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0);
  }
}
