mixin error404
  .error404(data-animate="error404")
    - className = "error404__img"
    - src       = "images/fox.jpg"
    - width     = 326
    +respImg

    .error404__text-wrapper
      .error404__type 404
      .error404__desc Страница не найдена