.article {
  display: flex;
  flex-direction: column;

  // Compatibility with IE
  flex-shrink: 99; 
  width: 100%; 

  box-sizing: border-box;
  border-radius: $border-radius;
  background-color: white;
  padding: 0 8%;
  font-size: $base-font-size;

  @media (max-width: $tablet) {
    padding: 0 10%;
  }

  @media (max-width: $mobile) {
    padding: 0 5%;
  }

  &__header {
    @media (max-width: $tablet) {
      order: 1;
    }
  }

  &__page-nav {
    display: none;

    @media (max-width: $tablet) {
      display: block;
      order: 2;
    }
  }

  &__content {
    word-wrap: break-word;
    hyphens: auto;

    @media (max-width: $tablet) {
      order: 3;
    }
  }

  &__h2 {
    position: relative;
    margin: ($margin * 2) 0 $margin;
    color: $headings-font-color;
    font-family: $headings-font-family;
    font-size: $h2-font-size;
    font-weight: 700;

    @media (max-width: $mobile) {
      font-size: $h2-font-size--mobile;
    }
  }

  &__h3 {
    margin: $margin 0;
    color: $headings-font-color;
    font-family: $headings-font-family;
    font-size: $h3-font-size;
    font-weight: 700;

    @media (max-width: $mobile) {
      font-size: $h3-font-size--mobile;
    }
  }

  &__anchor {
    position: absolute;
    left: -4%;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__par {
    margin-bottom: $margin;

    .article__ordered-list & {
      margin-top: $margin;
    }
  }

  &__ordered-list {
    margin-bottom: $margin;
    padding-left: 0;
    list-style: inside decimal;

    ol & {
      margin-top: $margin;
      padding-left: 5%;
    }
  }

  &__marked-list {
    margin-bottom: $margin;
    list-style: none;

    ol & {
      margin-top: $margin;
    }
  }

  &__list-item {
    position: relative;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    ul & {
      &::before {
        position: absolute;
        top: .6em;
        left: -1.2em;
        width: .4em;
        height: .4em;
        content: "";
        border-radius: 50%;
        background: #808080;
      }
    }

    .has-cyrillic-order & {
      list-style: none;

      &::before {
        position: absolute;
        left: -30px;
        display: inline-block;
        width: 25px;
        text-align: right;
      }
    }
  }

  &__code {
    padding: 3px 6px;
    hyphens: none;
    border-radius: $border-radius--tiny;
    background: #ebebeb;
  }

  &__note {
    position: relative;
    margin: $margin auto;
  }

  &__figure {
    margin: $margin auto;
    text-align: center;
  }

  &__figcaption {
    margin-top: 20px;
    font-style: italic;
  }

  &__img-link {
    display: block;
    margin: $margin auto;
    text-align: center;

    .article__figure & {
      margin: 0;
    }
  }

  &__img {
    max-width: 100%;
    color: #808080;
  }

  //
  // Tooltip selector priority is increased 
  // to override normalize.css values for <abbr>
  //

  &__tooltip[title] {
    text-decoration: none;
    hyphens: none;
    border-bottom: 1px dashed #808080;

    &:hover {
      cursor: help;
    }
  }
}
