- var j = 0

mixin section
  section.article__section
    if block
    block

mixin h2
  h2.article__h2(id = (j + 1), data-spy="contents")
    a.link(href= "#" + (j + 1))
      span.article__anchor ยง
      | #{itemList[j++]}

mixin h3
  h3.article__h3
    if block
    block

mixin p
  p.article__par
    if block
    block

mixin ol
  ol.article__ordered-list&attributes(attributes)
    if block
    block

mixin ul
  ul.article__marked-list
    if block
    block

mixin li
  li.article__list-item
    if block
    block

mixin image(src)
  - var original = src.replace(/(\.[\w\d]+)$/, "_original$1")
  
  a.article__img-wrapper(href= original, data-toggle="lightbox")
    img.article__img(src="images/misc/preloader.svg" data-src= src)&attributes(attributes)

mixin smallImage
  .article__img-wrapper
    img.article__img&attributes(attributes)

mixin tooltipTrigger(abbr)
  case abbr
    default
      span.article__tooltip.js-tooltip-trigger&attributes(attributes)
        if block
        block

    when "abbr"
      abbr.article__tooltip.js-tooltip-trigger&attributes(attributes)
        if block
        block

mixin code(text)
  code.article__code!= text