.article {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 700px;

  @media (max-width: $desktop) {
    width: 600px;
  }

  @media (max-width: $tablet) {
    width: 100%;
  }

  &__header {
    margin: ($header-width + $margin--large) 0 20px;

    @media (max-width: $tablet) {
      order: 1;
      margin-top: 65px + ($margin * 2);
      margin-bottom: $margin * 2;
    }

    @media (max-width: $mobile) {
      margin-top: 55px + $margin;
      margin-bottom: $margin;
    }
  }

  &__page-nav {
    display: none;

    @media (max-width: $tablet) {
      display: block;
      order: 2;
    }
  }

  &__content {
    padding: 0 20px;
    word-wrap: break-word;
    hyphens: auto;

    @media (max-width: $desktop) {
      padding:0;
    }

    @media (max-width: $tablet) {
      order: 3;
    }
  }

  &__h2-wrapper {
    display: block;
    margin: $margin*2 0 $margin;
  }

  &__h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    color: $base-font-color;
    font-family: $headings-font;
    font-size: $h2;
    font-weight: 700;

    @media (max-width: $mobile) {
      font-size: $h2--mobile;
    }
  }

  &__h3 {
    margin: $margin 0 0;
    color: $base-font-color;
    font-family: $headings-font;
    font-size: $h3;
    font-weight: 700;

    @media (max-width: $mobile) {
      font-size: $h3--mobile;
    }
  }

  &__anchor {
    position: absolute;
    top: -.1em;
    left: -.8em;
    padding-right: 12px;
    opacity: 0;
    color: $accent;
    font-family: $base-font;
    font-size: 1.2em;
    transition: $transition;

    .article__h2:hover & {
      opacity: 1;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__par {
    margin-bottom: $margin;

    .article__ordered-list & {
      margin-top: $margin;
    }
  }

  &__ordered-list {
    margin-bottom: $margin;
    padding-left: 0;
    list-style: inside decimal;

    ol & {
      margin-top: $margin;
      padding-left: 5%;
    }
  }

  &__marked-list {
    margin-bottom: $margin;
    list-style: none;

    ol & {
      margin-top: $margin;
    }
  }

  &__list-item {
    position: relative;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    ul & {
      &::before {
        position: absolute;
        top: .65em;
        left: -1.2em;
        width: .368em;
        height: .368em;
        content: "";
        border-radius: 50%;
        background: $grey;
      }
    }

    ol ol & {
      list-style: none;

      &::before {
        position: absolute;
        left: -30px;
        display: inline-block;
        width: 25px;
        text-align: right;
      }
    }
  }

  &__note {
    position: relative;
    margin: $margin auto;
  }

  &__img-wrapper {
    display: block;
    margin: $margin auto;
    text-align: center;

    .article__figure & {
      margin: 0;
    }
  }

  &__img {
    max-width: 530px;
    color: $grey;
    transition: opacity .5s ease-in;

    @media (max-width: $mobile) {
      max-width: 100%;
    }
  }

  &__figure {
    margin: $margin auto;
    text-align: center;
  }

  &__figcaption {
    margin-top: 20px;
    font-style: italic;
  }

  //
  // Tooltip selector priority is increased
  // to override normalize.css values for <abbr>
  //

  &__tooltip[title] {
    text-decoration: none;
    hyphens: none;
    border-bottom: 1px dashed $grey;
    cursor: help;
  }

  &__code {
    padding: 3px 6px;
    hyphens: none;
    border-radius: $border-radius--tiny;
    background: $code;
    font-size: 0.947em;

    @media (max-width: $mobile) {
      font-size: 0.889em;
    }
  }
}
