.article {
  padding: 60px 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: @box-shadow;
  word-wrap: break-word;

  .padding(desktop);

  @media (max-width: @small-desktop) {
    .padding(small-desktop);
  }

  @media (max-width: @tablet) {
    .padding(tablet);
  }

  @media (max-width: @mobile) {
    padding: 40px 0;

    .padding(mobile);
  }

  &__header {
    margin-bottom: 50px;

    @media (max-width: @mobile) {
      margin-bottom: 35px;
    }
  }

  &__h2 {
    position: relative;
    z-index: 0;
    margin: @line-height 0;
    font-weight: 600;
    font-size: @h2-size;
    line-height: normal;

    @media (max-width: @mobile) {
      font-size: @h2-size--mobile;
    }

    &:hover {
      .link {
        opacity: 1;
      }
    }
  }

  &__h3 {
    margin: @line-height 0;
    font-weight: 600;
    font-size: @h3-size;
    line-height: normal;

    @media (max-width: @mobile) {
      font-size: @h3-size--mobile;
    }
  }

  &__anchor {
    position: absolute;
    top: 5px;
    left: -3.5%;

    @media (max-width: @mobile) {
      display: none;
    }
  }

  &__p {
    margin: 0 0 @line-height;
  }

  &__ol {
    margin: 0 0 @line-height;
    padding-left: 0;
    list-style-position: inside;
    list-style-type: decimal;

    &--nested {
      margin-top: @line-height;
      padding-left: 5%;
      list-style-type: lower-alpha;
    }

    .article__p {
      margin-top: @line-height;
    }
  }

  &__ul {
    margin: 0 0 @line-height;
    list-style: none;

    &--nested {
      margin-top: @line-height;
    }
  }

  &__ul-item {
    position: relative;

    &::before {
      position: absolute;
      top: 10px;
      left: -20px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: @grey;
      content: "";
    }
  }

  &__code {
    padding: 3px 6px;
    border-radius: 4px;
    background-color: lighten(@grey, 30);
    font-size: @font-size--small;
  }

  &__note {
    position: relative;
    margin: @line-height auto;
  }

  &__figure {
    margin: @line-height*1.5 auto;
    text-align: center;

    .article__img-wrapper {
      margin: 0;
    }
  }

  &__figcaption {
    margin-top: 20px;
    font-style: italic;
  }

  &__img-wrapper {
    display: block;
    margin: @line-height*1.5 auto;
    outline: none;
  }

  &__img {
    display: block;
    margin: auto;
    max-width: 100%;
    color: @grey;
  }

  &__tooltip {
    border-bottom: 1px dashed @accent-color;
    color: @accent-color;

    &:hover {
      cursor: help;
    }
  }
}
