.article {
  box-sizing: border-box;
  padding: @margin*2 0;
  word-wrap: break-word;
  hyphens: auto;
  border-radius: @border-radius;
  background-color: white;
  box-shadow: @box-shadow;

  .x-padding(desktop);

  *::selection {
    color: #fff;
    background: @accent-color;
  }

  @media (max-width: @tablet) {
    .x-padding(tablet);
  }

  @media (max-width: @mobile) {
    padding: @margin * 1.5 0;

    .x-padding(mobile);
  }

  &__header {
    margin-bottom: 50px;

    @media (max-width: @mobile) {
      margin-bottom: 35px;
    }
  }

  &__h2 {
    position: relative;
    margin: @margin 0;
    font-size: @h2-size;
    font-weight: 600;

    @media (max-width: @mobile) {
      font-size: @h2-size--mobile;
    }
  }

  &__h3 {
    margin: @margin 0 @margin/2;
    font-size: @h3-size;
    font-weight: 600;

    @media (max-width: @mobile) {
      font-size: @h3-size--mobile;
    }
  }

  &__anchor {
    position: absolute;
    top: 13%;
    left: -4%;

    @media (max-width: @mobile) {
      display: none;
    }
  }

  &__par {
    margin: 0 0 @margin;

    .article__ordered-list & {
      margin-top: @margin;
    }
  }

  &__ordered-list {
    margin-bottom: @margin;
    padding-left: 0;
    list-style: inside decimal;

    .article__ordered-list &,
    .article__marked-list & {
      margin-top: @margin;
      padding-left: 5%;
      list-style: inside lower-alpha;
    }
  }

  &__marked-list {
    margin-bottom: @margin;
    list-style: none;

    .article__ordered-list &,
    .article__marked-list & {
      margin-top: @margin;
    }
  }

  &__list-item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    .article__marked-list & {
      position: relative;

      &::before {
        position: absolute;
        top: 10px;
        left: -20px;
        width: 6px;
        height: 6px;
        content: "";
        border-radius: 50%;
        background: @grey-143;
      }
    }
  }

  &__code,
  &__key {
    padding: 3px 6px;
    hyphens: none;
    border-radius: @border-radius--small;
    background: @grey-235;
    font-size: @font-size--small;
  }

  &__note {
    position: relative;
    margin: @margin auto @margin * 1.5;
  }

  &__figure {
    margin: @margin*1.5 auto;
    text-align: center;
  }

  &__figcaption {
    margin-top: 20px;
    font-style: italic;
  }

  &__img-wrapper {
    display: block;
    width: 630px;
    margin: @margin*1.5 auto;
    text-align: center;

    @media (max-width: @desktop) {
      width: auto;
    }

    .article__figure & {
      margin: 0;
    }
  }

  &__img {
    max-width: 100%;
    color: @grey-128;
  }

  //
  // Tooltip specificity is increased 
  // to override normalize.css values for <abbr>
  //

  &__tooltip[title] {
    text-decoration: none;
    hyphens: none;
    border-bottom: 2px dotted @grey-143;

    &:hover {
      cursor: help;
    }
  }
}
