mixin myLinks
  div.my-links
    a.my-links__item.my-links__item--vk(href="https://vk.com/id335661231" title="Я ВКонтакте. По всем вопросам — в ЛС")
      +svg("my-links__icon", "vk")
    a.my-links__item.my-links__item--gplus(href="https://plus.google.com/+DaurGamisoniya" title="Я на Google+")
      +svg("my-links__icon", "google-plus")
    a.my-links__item.my-links__item--email(href="mailto:daurgam@gmail.com" title="Написать письмо")
      +svg("my-links__icon", "email")
    //- a.my-links__item.my-links__item--donate(href="https://money.yandex.ru/to/410016552034183" title="Пожертвовать на развитие сайта")
    //-   +svg("my-links__icon", "pig")