mixin myLinks
  .footer__my-links.my-links
    a.my-links__item.my-links__item--vk(href="https://vk.com/id335661231" title="Я ВКонтакте. По всем вопросам — в ЛС")
      +svg("vk")(class="my-links__icon")
    a.my-links__item.my-links__item--gplus(href="https://plus.google.com/+DaurGamisoniya" title="Я на Google+")
      +svg("google-plus")(class="my-links__icon")
    a.my-links__item.my-links__item--email(href="mailto:daurgam@gmail.com" title="Написать письмо")
      +svg("envelope")(class="my-links__icon")