.my-links {
  display: inline-flex;

  &__item {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 50%;
    background: $dimmed-font-color;
    transition: $transition;

    &:hover {
      background: white;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 17px;
    height: 17px;
    margin: auto;
    fill: $footer-bg;
    transition: $transition;

    .my-links__item:hover & {
      fill: transparentize($footer-bg, .2);
    }
  }
}
