mixin contents(...items)

	- var n = 1

	mixin contents-body
		h2.aside__headline= "Оглавление"
		ul.contents__list
			each item in items
				li.contents__item
					a.contents__link(href="#" + n)
						span.contents__string= item
						span.contents__number= n++
	case mobile
		when false
			aside.sidebar__item.aside.contents
				+contents-body
		when true
			aside.page__mobile-contents.aside.contents.contents--mobile
				+contents-body
				