mixin lightbox
  .lightbox.js-lightbox-toggle
    .lightbox__inner
      button.lightbox__close.js-lightbox-dismiss
        +svg("#times")(class="lightbox__close-icon")
      img.lightbox__img(src="images/misc/preloader.svg" alt="")