- var small = " " + "section__image--small" 

mixin section-image(fullwidth)
	- original = src.replace(/(\.[\w\d_-]+)$/i, "_original$1")

	case fullwidth
		default
			a.section__image-link(href= original)
				img.section__image(
					src   = src
					alt   = alt)
		when false
			a.section__image-link(href= src)
				img.section__image(
					class = small
					src   = src
					alt   = alt)

mixin section-figure(fullwidth)
	- original = src.replace(/(\.[\w\d_-]+)$/i, "_original$1")

	case fullwidth
		default
			figure.section__figure
				a.section__image-link(href= original)
					img.section__image.section__image--figure(
						src   = src
						alt   = alt)
				figcaption.section__figcaption
					if block
					block
		when false
			figure.section__figure
				a.section__image-link(href= src)
					img.section__image.section__image--figure(
						class = small
						src   = src
						alt   = alt)
				figcaption.section__figcaption
					if block
					block

mixin respImage

	- var src1 = src + " " + size + "w"
	- var src2 = src.replace(/(\.[\w\d_-]+)$/i, "@large$1") + " " + size * 1.5 + "w"
	- var src3 = src.replace(/(\.[\w\d_-]+)$/i, "@huge$1") + " " + size * 2 + "w"

	img(class  = imgClass
		srcset = src1 + ", " + src2 + ", " + src3
		sizes  = sizes
		src	= src
		alt	= alt)