script(data-defer="defer on build" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

// build:js js/main.min.js defer
script(src="js/jquery.magnific-popup.min.js")
script(src="js/stickyfill.min.js")
script(src="js/moment.min.js")
script(src="js/ru.js")
script(src="js/scripts.js")
// endbuild 

// build:remove 
script(src="js/_display-viewport-size.js")
// endbuild 