- var mainPage      = "index.html"
- var installVm     = "ustanovka-maсos-na-virtualnuyu-mashinu.html"
- var startServices = "zapusk-icloud-i-appstore-na-khakintoshe.html"
- var startSound    = "zapusk-zvukovykh-kart-na-khakintoshe.html"
- var installKexts  = "ustanovka-i-udaleniye-kekstov.html"
- var mountEfi      = "montirovaniye-efi-v-macos.html"