extends /pug/_layout

prepend page
  -
    var encodedUrl = indexLinkForShare
        hasPageNav = false

block head
  meta(charset="utf-8")
  meta(content="width=device-width, initial-scale=1" name="viewport")
  title= "Страница не найдена"

  // inject:critical:css 
  // endinject

  // build:css css/styles.min.css rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" 
  link(href="css/normalize.css" rel="stylesheet")
  link(href="css/main.css" rel="stylesheet")
  // endbuild 

  // inject:fg-loadcss:html 
  // endinject 
  
  // inject-string:noscript

block containerInner
  +error

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

  // build:js js/main.min.js defer
  script(src="js/scripts.js")
  // endbuild 

block structuredData