extends /pug/layout/_page

block head
  meta(charset="utf-8")
  meta(content="width=device-width, initial-scale=1" name="viewport")
  title="Страница не найдена"

  //inject:critical:css 
  //endinject

  //build:css css/styles.min.css rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
  link(href="css/normalize.css" rel="stylesheet")
  link(href="css/main.css" rel="stylesheet")
  //endbuild 

  //inject:fg-loadcss:html 
  //endinject 
  
  //inject-string:noscript

  append scripts
    script.
      window.addEventListener("load", function() {
        var image = document.querySelector(".js-animate-picture");
        image.classList.add("is-animated");
      });

block inner
  +error404

block sidebar