doctype html
include __mixins.pug

html(lang='ru')

	//- Head
	+head('')

  body.page

		//- Icons
		+icons

		//- Header
		+header

		//- Top Menu
		+main-nav

		.page__container
			main.page__wrapper

				//- Content Header
				+header-content('','00','00','2017') 
					li.entry-data__item
						a.link.link--entry(href='') Текст 
						| / 
						a.link.link--entry(href='') Текст

				//- Banner
				+banner
				
        a#contents
        // Without this comment the above anchor won't work
        
        //- Contents
        - var n = 1

        mixin contents_both
          +contents('','','')

        +contents_both

				section#0.section
					h2.section__h2
					h3.section__h3
					p.section__par
						| Текст
						b Текст
						| Текст
					ul.list-unordered
						li.list-unordered__item
							a.link.link--section(href='')
					ol.list-ordered
						li
							| Текст
				
					//- Note
					+note()
							|  Текст
							
      //- Sidebar
      - var mobile = false
      - var n = 1
      +sidebar

		//- Footer
		- var footer = true
		+footer

		// test-code
		+viewport_info
		// end-test-code