//- Community ////////////////////////////////////////
- var sidebar = 1;

mixin community
	mixin community_markup
		.community__title Сообщество
		.community__container
			a.community__link(href='#3') macOS+

	case sidebar
		default
			.community
				+community_markup

		when 0
			.community.community--footer
				+community_markup
//- Community ////////////////////////////////////////		
+community