-// Header mixin ///////////////////////////////////////////////////////////////
- var headerId = 0

mixin h2
  h2.article__h2(id = headerId)
    a.article__anchor.link.link--anchor(href= "#" + headerId) #
    | #{itemList[headerId++]}
-///////////////////////////////////////////////////////////////////////////////

mixin h3
  h3.article__h3
    if block
    block

mixin p
  p.article__p
    if block
    block

mixin ol
  ol.article__numbered-list(start= attributes.start)
    if block
    block

mixin ul
  ul.article__marked-list
    if block
    block

mixin markedItem
  li.article__marked-item
    if block
    block

- var small = " " + "article__img-wrapper--small" 

mixin img(width)
  - original = src.replace(/(\.[\w\d_-]+)$/i, "_original$1")

  case width
    default
      a.article__img-wrapper(href= original)
        div
          img.article__img(
            src = src
            alt = alt)
    when small
      a.article__img-wrapper(
          href  = src 
          class = small)
        div
          img.article__img(
            src = src
            alt = alt)

mixin figure(fullWidth)
  - original = src.replace(/(\.[\w\d_-]+)$/i, "_original$1")

  case fullWidth
    default
      figure.article__figure
        a.article__img-wrapper(href= original)
          img.article__img.article__img--figure(
            src = src
            alt = alt)
        figcaption.article__figcaption
          if block
          block
    when false
      figure.article__figure
        a.article__img-wrapper(
          class = small
          href  = src)
          img.article__img.article__img--figure(
            src = src
            alt = alt)
        figcaption.article__figcaption
          if block
          block

mixin svg(className, id)
  svg(class= className width= "30")
    use(xlink:href="#" + id)

mixin respImg
  - var src1 = src + " " + size + "w"
  - var src2 = src.replace(/(\.[\w\d_-]+)$/i, "@large$1") + " " + size * 1.5 + "w"
  - var src3 = src.replace(/(\.[\w\d_-]+)$/i, "@huge$1") + " " + size * 2 + "w"

  img(class  = imgClass
    srcset = src1 + ", " + src2 + ", " + src3
    sizes  = sizes
    src	   = src
    alt	   = alt)

mixin imgSourceTag
  - var src1 = src + " " + size + "w"
  - var src2 = src.replace(/(\.[\w\d_-]+)$/i, "@large$1") + " " + size * 1.5 + "w"
  - var src3 = src.replace(/(\.[\w\d_-]+)$/i, "@huge$1") + " " + size * 2 + "w"

  source(
    media  = media
    srcset = src1 + ", " + src2 + ", " + src3
    sizes  = sizes)