extends pug/layouts/main

prepend head
	- var title	= ""
	- var desc 	   = ""
	- var keywords = ""

block nav
	+main-nav(mainPage = selected)

//- Contents of a page (optional)
//- prepend sidebar
//-	 - var contents = false

block article-header
	//- Date of update (optional)
	- var updated = true
	- var uDay 	  = "", uMonth = "", uYear = ""
	- var src	 = "" 
	//- Mixin with post date. Theme is optional
	+article-header("01", "01", "2017")(theme = altTheme)

//- Mixin with items of contents
mixin main-contents
	+contents("", "", "")

append mobile-contents
	+main-contents

block content
	section#1.page__section.section
		h2.section__h2 Заголовок H2
		h3.section__h3 Заголовок H3
		p.section__par Заголовок H4
		p.section__par Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
			a.link.link--section(href="#") Ссылка 
			span.section__tooltip(title="Я справка!") Ссылка со справкой
		
		//- Списки
		ul.section__ul
			li
				| Пункт неупорядоченного списка.
			li
				| Пункт неупорядоченного списка.
		ol.section__ol
			li
				| Пункт упорядоченного списка.
			li
				| Пункт упорядоченного списка.
				//- Вложенные списки
				ul.section__ul.section__ul--nested
					li Пункт вложенного неупорядоченного списка
					li Пункт вложенного неупорядоченного списка
				ol.section__ol.section__ol--nested
					li Пункт вложенного упорядоченного списка
					li Пункт вложенного упорядоченного списка

				//- //- Картинки
				//- - var src = "images/pages/"
				//- - var alt = ""
				//- +section-image

				//- - var src = "images/pages/"
				//- - var alt = ""
				//- +section-image(size = small)
				
				//- //- Картинка в Figure
				//- - var src = "images/pages/"
				//- - var alt = ""
				//- +section-figure(size = small)
				//- 	| Подпись в figcaption
				
				//- Заметки
				+note(inf)
					| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
					a.link.link--note(href="#") Ссылка

				+note(tip)
					| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
					a.link.link--note(href="#") Ссылка

				+note(warning)
					| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
					a.link.link--note(href="#") Ссылка

	section#2.page__section.section
		h2.section__h2 Заголовок H2 второго раздела