//- Remember, Pug is sensitive to indentations!
- var domainName   = "https://brofox86.github.io/macos-plus/"

-
  var indexLink    = "index.html"
      vmLink       = "ustanovka-macos-na-virtualnuyu-mashinu.html"
      servicesLink = "nastroyka-icloud-i-app-store-na-khakintoshe.html"
      soundLink    = "zavod-zvuka-na-khakintoshe.html"
      kextsLink    = "ustanovka-i-udaleniye-kekstov.html"
      efiLink      = "montirovaniye-efi-v-macos.html"