//- Remember, Pug is sensitive to indentations!
- 
	var 
		domainNameEncoded = "https%3A%2F%2Fbrofox86.github.io%2Fmacos-plus%2F"
		domainName        = "https://brofox86.github.io/macos-plus/"

-
	var hrefIndex    = "index.html"
	    hrefVmware   = "ustanovka-macos-na-virtualnuyu-mashinu.html"
	    hrefServices = "zapusk-icloud-i-appstore-na-khakintoshe.html"
	    hrefSound    = "zapusk-zvuka-na-khakintoshe.html"
	    hrefKexts    = "ustanovka-i-udaleniye-kekstov.html"
	    hrefEfi      = "montirovaniye-efi-v-macos.html"

-
	var hrefIndexShare    = domainNameEncoded + hrefIndex
	    hrefVmwareShare   = domainNameEncoded + hrefVmware
	    hrefServicesShare = domainNameEncoded + hrefServices
	    hrefSoundShare    = domainNameEncoded + hrefSound
	    hrefKextsShare    = domainNameEncoded + hrefKexts
	    hrefEfiShare      = domainNameEncoded + hrefEfi