//- Remember, Pug is sensitive to indentations!
- 
  var 
    domainNameEncoded = "https%3A%2F%2Fbrofox86.github.io%2Fmacos-plus%2F"
    domainName        = "https://brofox86.github.io/macos-plus/"

-
  var indexHref    = "index.html"
      vmHref       = "ustanovka-macos-na-virtualnuyu-mashinu.html"
      servicesHref = "zapusk-icloud-i-appstore-na-khakintoshe.html"
      soundHref    = "zapusk-zvuka-na-khakintoshe.html"
      kextsHref    = "ustanovka-i-udaleniye-kekstov.html"
      efiHref      = "montirovaniye-efi-v-macos.html"

-
  var indexHrefForShare    = domainNameEncoded + indexHref
      vmHrefForShare       = domainNameEncoded + vmHref
      servicesHrefForShare = domainNameEncoded + servicesHref
      soundHrefForShare    = domainNameEncoded + soundHref
      kextsHrefForShare    = domainNameEncoded + kextsHref
      efiHrefForShare      = domainNameEncoded + efiHref