//- Remember, Pug is sensitive to indentations!
- 
	var 
		domainNameEncoded = "https%3A%2F%2Fbrofox86.github.io%2Fmacos-plus%2F"
		domainName        = "https://brofox86.github.io/macos-plus/"

-
	var linkIndex    = "index.html"
	    linkVmware   = "ustanovka-macos-na-virtualnuyu-mashinu.html"
	    linkServices = "zapusk-icloud-i-appstore-na-khakintoshe.html"
	    linkSound    = "zapusk-zvuka-na-khakintoshe.html"
	    linkKexts    = "ustanovka-i-udaleniye-kekstov.html"
	    linkEfi      = "montirovaniye-efi-v-macos.html"

-
	var linkIndexFull     = domainNameEncoded + linkIndex
	    linkVmwareFull    = domainNameEncoded + linkVmware
	    linksServicesFull = domainNameEncoded + linkServices
	    linksSoundFull    = domainNameEncoded + linkSound
	    linksKextsFull    = domainNameEncoded + linkKexts
	    linksEfiFull      = domainNameEncoded + linkEfi