//- Remember, Pug is sensitive to indentations!
- 
  var 
    domainNameEncoded = "https%3A%2F%2Fbrofox86.github.io%2Fmacos-plus%2F"
    domainName        = "https://brofox86.github.io/macos-plus/"

-
  var indexLink    = "index.html"
      vmLink       = "ustanovka-macos-na-virtualnuyu-mashinu.html"
      servicesLink = "nastroyka-icloud-i-app-store-na-khakintoshe.html"
      soundLink    = "zavod-zvuka-na-khakintoshe.html"
      kextsLink    = "ustanovka-i-udaleniye-kekstov.html"
      efiLink      = "montirovaniye-efi-v-macos.html"

-
  var indexLinkForShare    = domainNameEncoded + indexLink
      vmLinkForShare       = domainNameEncoded + vmLink
      servicesLinkForShare = domainNameEncoded + servicesLink
      soundLinkForShare    = domainNameEncoded + soundLink
      kextsLinkForShare    = domainNameEncoded + kextsLink
      efiLinkForShare      = domainNameEncoded + efiLink