//- Banner/////////////////////////////////////

mixin banner
	.banner
		img.banner__bg(srcset='\
		images/macos-bg_810.jpg 810w,\
		images/macos-bg_1215.jpg 1215w,\
		images/macos-bg_1620.jpg 1620w,\
		images/macos-bg_2025.jpg 2025w'

		sizes='\
		(max-width: 750px) 100vw,\
		(max-width: 1200px) 700px,\
		(min-width: 1920px) 42.1875vw', src='images/macos-bg.jpg', alt='Фоновая картинка')
		.banner__container
			if block
				block

//-//////////////////////////////////////////////