//- Community ////////////////////////////////////////

mixin community
	mixin community_markup
		h2.community__title Сообщество
		.community__container
			img.community__bg(srcset='\
			images/macosplus_300.png 300w,\
			images/macosplus_600.png 600w,\
			images/macosplus_900.png 900w,\
			images/macosplus_1200.png 1200w'

			sizes='\
			18.75rem',

			src='images/macosplus_300.png' alt='macOS+ на Google+')

			a.community__link(href='https://plus.google.com/u/0/communities/103318624432661992867') macOS+

	case footer
		default
			aside.community
				+community_markup

		when true
			aside.community.community--footer
				+community_markup

//- Community ////////////////////////////////////////