include b_share.pug
include b_community.pug
include b_my-links.pug

//- Footer ///////////////////////////////////////

mixin footer
	footer.footer
		.footer__top
			.footer__wrapper
				+community
				+share
					
		.footer__bottom
			.footer__wrapper
				p.footer__copyrights
					| &copy; Переводы&nbsp;и&nbsp;верстка. 
					span.footer__author Daur&nbsp;Gamisonia,&nbsp;2017
				+my-links

//-///////////////////////////////////////////////