//- Header/////////////////////////////////////

mixin header
	header.header
		a(href='index.html')
			img.header__logo(srcset=
	'images/logo_400.png 400w,\
	images/logo_600.png 600w,\
	images/logo_800.png 800w' 

	sizes=
	'(max-width: 605px) 66vw, 25em' 

	src=
	'images/logo_400.png' 

	alt=
	'Логотип')
 
//-///////////////////////////////////////////////