//- My links ///////////////////////////////////////

mixin my-links
	.my-links
		a.my-links__item.my-links__item--vk(href='https://vk.com/id335661231', title='Я ВКонтакте')
			svg.my-links__svg
				use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-vk')
		a.my-links__item.my-links__item--twitter(href='https://twitter.com/Daur_G', title='Мой twitter')
			svg.my-links__svg
				use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-twitter')
		a.my-links__item.my-links__item--gplus(href='https://plus.google.com/+DaurGamisoniya', title='Google Plus')
			svg.my-links__svg
				use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-gplus')
		a.my-links__item.my-links__item--github(href='https://github.com/BroFox86', title='Я на github')
			svg.my-links__svg
				use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-github')

//- My links ///////////////////////////////////////