//- Notes ////////////////////////////////////////

- var inftext = 'Примечание: ', inf = 'note--inf';
- var tiptext = 'Совет: ', tip = 'note--tip';
- var warningtext = 'Предупреждение: ', warning = 'note--warning';

mixin note(type)
	
	case type
		when inf
			aside.note(class= inf)
				p.note__text
					span.note__type= inftext	
					if block
					block
		when tip
			aside.note(class= tip)
				p.note__text
					span.note__type= tiptext	
					if block
					block
		when warning
			aside.note(class= warning)
				p.note__text
					strong.note__type= warningtext	
					if block
					block

//-///////////////////////////////////////////////