//- Share ////////////////////////////////////////

mixin share
	mixin share_markup
		h2.share__title Поделиться
		.share__container
			a.share__item.share__item--vk(title='Вконтакте' onclick="window.open('http://vk.com/share.php?url=https%3A%2F%2Fbrofox86.github.io%2FInstall-macOS-on-Intel-based-PC%2F','','Width=640,Height=480');")
				svg.share__svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-vk')
			a.share__item.share__item--gplus(title='Google+' onclick="window.open('https://plus.google.com/share?url=https%3A%2F%2Fbrofox86.github.io%2FInstall-macOS-on-Intel-based-PC%2F','','Width=640,Height=480');")
				svg.share__svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-gplus')
			a.share__item.share__item--twitter(title='Twitter' onclick="window.open('https://twitter.com/intent/tweet?url=https%3A%2F%2Fbrofox86.github.io%2FInstall-macOS-on-Intel-based-PC%2F&text=Установка macOS Sierra на совместимый ПК на базе Intel.&via=Daur_G','','Width=640,Height=300');")
				svg.share__svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-twitter')
			a.share__item.share__item--fb(title='Facebook' onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbrofox86.github.io%2FInstall-macOS-on-Intel-based-PC%2F','','Width=640,Height=480');")
				svg.share__svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-fb')

	case footer
		default
			aside.share.share
				+share_markup

		when true
			aside.share.share--footer
				+share_markup

//-///////////////////////////////////////////////