extends /pug/_layout

prepend page
  -
    var pageTitle       = "Монтирование EFI в macOS"
        pageDesc        = "Подробная инструкция по подключению раздела EFI в macOS через утилиту EFI Mounter"
        datePublished   = ["02", "09", "2017"]
        pageLink        = link.efi
        likeBtnId       = "Монтирование EFI"

    var metaImage = {
      src: "images/montirovaniye-efi-v-macos/thumbnail.jpg",
      width: 882,
      height: 548
    };

    var itemList = [
      "Введение", 
      "Инструкция"
    ]

    var articleHeader = {
      image: "images/montirovaniye-efi-v-macos/article-logo.png",
      title: "Монтирование EFI в&nbsp;macOS"
    };
  
block nav
  +siteNav(efi = selected, pageA0 = selected)

block content
  +h2

  +p 
    | Есть два способа подключения (монтирования) раздела 
    +tooltip('Extensible Firmware Interface (с англ. — «интерфейс расширяемой прошивки») — интерфейс между операционной системой и микропрограммами, управляющими низкоуровневыми функциями оборудования, его основное предназначение: корректно инициализировать оборудование при включении системы и передать управление загрузчику операционной системы. ©&nbsp;Wikipedia.', 'EFI', "abbr")
    |  — ручной и автоматический. Я рекомендую автоматический, поскольку он гораздо проще. В этом мне помогает утилита EFI Mounter.
  
  +h2

  +ol
    +li
      | Загрузите 
      +link("https://www.tonymacx86.com/resources/efi-mounter-v3.280/", "EFI Mounter")
      |  и переместите ее в папку программ.

      - src = "images/montirovaniye-efi-v-macos/apps-folder.png"
      - alt = "Папка приложений macOS"
      +img

    +li
      | При запуске появится сообщение системы безопасности. Подтвердите выбор кнопкой «Открыть».
      
      - src = "images/montirovaniye-efi-v-macos/security-message_small.png"
      - alt = "Сообщение системы безопасности"
      +img("small")

      +note(inf)
        | Для того чтобы в macOS разрешить установку программ, загруженных со стороны — т.е. не с   — необходимо отметить соответствующий пункт раздела «Защита и безопасность» в «Системных настройках».

      +p
        | EFI Mounter обнаружит скрытые разделы на всех жестких дисках и подключенных носителях. На картинке ниже изображены 2 системных накопителя — SSD (твердотелый накопитель) и HDD (жесткий диск). SSD-диск указан как Disk0s1, где s1 — это первый раздел данного диска, который и является EFI — загрузочным разделом в UEFI. 
    
    +li
      | Выберите раздел и нажмите OK, затем Mount.
      
      - src = "images/montirovaniye-efi-v-macos/efi-list_small.png"
      - alt = "Список разделов EFI компьютера"
      +img("small")
      
    +li
      | В боковой колонке Finder к списку монтированных накопителей добавился раздел EFI, содержащий одноименную папку и папку Clover внутри нее.

      - src = "images/montirovaniye-efi-v-macos/opened-efi-partition.png"
      - alt = "Подключенный раздел EFI в Finder"
      +img
      
  +note(warning)
    | Не путайте раздел EFI для macOS с аналогичным разделом для Windows. В случае, если по ошибке был смонтирован не тот раздел, извлеките его, поскольку при случайном изменении системных разделов может не загрузиться основная ОС.

  +p
    | Может быть монтирован неподходящий загрузочный раздел EFI в следующих случаях:

  +ul
    +li
      | Вы установили macOS на один жесткий диск с ОС Windows и по ошибке монтировали загрузочный раздел с файлами этой ОС.
    +li
      | На целевом жестком диске по какой-либо причине вообще нет раздела EFI и монтировался аналогичный раздел для Windows из другого физического диска.
    +li
      | По ошибке подключился аналогичный раздел с загрузочного USB.