extends /pug/_layout

prepend page
  -
    var pageTitle      = "Настройка iCloud и App Store на хакинтоше"
        pageDesc       = "Инструкции по настройке iCloud и App Store на хакинтоше с решением некоторых частых проблем."
        isDateModified = true
        datePublished  = ["23", "05", "2017"]
        dateModified   = ["09", "01", "2018"]
        pageLink       = servicesLink
        encodedUrl     = servicesLinkForShare
        likeBtnId      = "Запуск сервисов Apple"

    var metaImage = {
      src: "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/_meta.jpg",
      width: 1334,
      height: 772
    };

    var itemList = [
      "Настройка iCloud",
      "Настройка App Store"
    ]

    var articleHeader = {
      image: "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/_article-logo.png",
      title: "Настройка iCloud и App Store&#32;<br>на хакинтоше"
    };
    
block nav
  +site-nav(services = selected)

block content	
  +h2
    
  +h3
    | а) Сброс данных

  +ol
    li
      | Выйдите из App Store , iCloud и других сервисов Apple.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/logout-from-appstore.jpg"
      - alt = "Выход из App Store"
      +img

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/logout-from-icloud.png"
      - alt = "Выход из iCloud"
      +img

    li
      | Войдите в свою 
      a.link.link--article(href="https://appleid.apple.com/#!&page=signin") учетную запись
      |  Apple и удалите все устройства из списка, с которых был произведен вход. Можно оставить 
      i подлинные 
      | устройства Apple — iPhone, iPod и т.д...

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/remove-devices.jpg"
      - alt = "Стереть историю входов учетной записи Apple"
      +img

    li
      | Перезагрузите компьютер.

  +h3
    | б) Настройка Clover

  +note(warning)
    | Не используйте данные, приведенные в инструкции в качестве примеров: они не подойдут к вашей конфигурации, либо являются забаненными.

  +ol
    li
      | Откройте файл настройки Clover — config.plist через Clover Configurator.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/open-clover-config.jpg"
      - alt = "Местонахождение Config.plist"
      +img

    li
      | В разделе SMBIOS выберите компьютер Mac, который наиболее схож с ашей конфигурацией.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/pick-mac-model.png"
      - alt = "Вкладка SMBIOS"
      +img

      +note(inf)
        | Подходящий вариант и поля уже должны быть введены автоматически во время 
        a.link.link--note(href= indexLink + "#6") пост-установки
        |  с MultiBeast. Поэтому, если страницы конфигуратора окажутся полупустыми, убедитесь, что config.plist открыт правильно.

    li
      | Нажмите на Generate New и сгенерируйте серийный номер.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/generate-serial.png"
      - alt = "Вкладка SMBIOS"
      +img

    li
      | Скопируйте полученный код из поля Serial Number и введите его в форму на странице  
      a.link.link--article(href="https://checkcoverage.apple.com") checkcoverage.apple.com
      | .

      +p
        | Проверьте этот серийный номер. Если появится 
        em ошибка
        | , как на приведенном ниже скриншоте — значит это то, что надо и можно продолжать дальше. В противном случае, если серийный номер окажется «валидным», необходимо будет сгенерировать его по-новому. Иначе возникнут проблемы с дубликатом уже зарегистрированного серийного номера Mac.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/check-serial_small.jpg"
      - alt = "Проверка серийного номера Mac"
      +img(small)

    li
      | Откройте Terminal и введите 
      code.article__code uuidgen
      | , затем нажмите Enter.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/get-uuidgen.png"
      - alt = "Вставка uuidgen в терминал"
      +img(small)

    li
      | Скопируйте выданное терминалом значение в буфер обмена и вставьте в поле SmUUID.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/smuuid-field.png"
      - alt = "Вкладка SMBIOS"
      +img
    li
      | Сохраните изменения.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/config-6_small.jpg"
      - alt = "Сохранение изменений Clover Configurator"
      +img(small)

    li
      | Перезагрузите компьютер и войдите со своим логином и паролем в сервисы iCloud и App Store.

  +h2

  +p
    | Запуск App Store не требует каких-либо дополнительных инструкций, если при попытке входа не появляется никакой ошибки. Однако (особенно при использовании внешних Wi-Fi USB-адаптеров) могут быть проблемы со входом. Это частая проблема и случается она в том случае, если сетевое устройство не назначено как основное (en1 вместо en0). Ниже следует инструкция, которая помогла мне решить эту проблему.
    
  +ol
    li
      | Откройте поиск Spotlight и введите System Profiler. Откроется окно информации о системе.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/find-system-information.png"
      - alt = "Пункт информации о системе в Spotlight"
      +img

    li
      | Найдите свой Wi-Fi  адаптер. Если Wi-Fi назначено значение en0, то делать ничего не надо и проблема со входом в App Store, скорее всего, связана с отсутствием кекста для сетевого устройства. Если назначено другое значение, например, en1 или en2 то продолжайте читать далее.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/wifi-information.png"
      - alt = "Раздел Wi-Fi в информации о системе"
      +img
      
    li
      | Откройте Finder и выберите в строке меню «Переход к папке».

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/go-to-folder_small.jpg"
      - alt = "Переход к папке в macOS"
      +img(small)

    li
      | И введите /Library/Preferences/<wbr>SystemConfiguration.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/go-to-preferences-folder.png"
      - alt = "Переход в папку SystemConfiguration"
      +img

    li
      | Удалите файлы NetworkInterfaces.plist, preferences.plist и перезагрузите компьютер.

      - src = "images/pages/nastroyka-icloud-i-app-store-na-khakintoshe/delete-files.png"
      - alt = "Удаление файлов в SystemConfiguration"
      +img