doctype html
include __mixins.pug

html(lang='ru')

	//- Head
	+head('Подготовка отдельного раздела для установки macOS')

	body.page
	
		//- Icons
		+icons

		//- Header
		+header

		//- Top Menu
		+main-nav(separateinstall = selected, others = selected)

		.page__container

			main.page__wrapper

				//- Content Header
				+header-content('Инструкция','Подготовка раздела HDD/SSD для установки macOS', '03', '05', '2017')
					li.entry-data__item Автор: 
						a.link.link--entry(href='https://plus.google.com/+DaurGamisoniya' target='_blank') BroFox

				//- Banner
				+banner
					svg.banner__image.banner__image--svg.banner__image--svg-separate-install
						use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-separate-install' styles='') 

				section.section
					h2.section__h2
						| Подготовка жесткого диска
						br
						|  (только для UEFI)

					//- Note
					+note(warning)
							| Установка macOS Sierra на отдельный раздел займет гораздо больше времени и может вызвать различные проблемы, в частности панику ядра при установке (см. 
							a.link.link--aside(href='solutions.html') Решение проблем
							| ).

					p.section__par
						| Подготовка жесткого диска будет проходить в Windows. Для установки macOS Sierra на отдельный раздел жесткого диска потребуется система с 
						b UEFI
						|  загрузкой и жесткий диск (HDD/SSD), размеченный в 
						b GPT
						| . Если схемой диска является MBR, ее необходимо изменить, - что невозможно без использования специальных программ, таких как 
						b Paragon Hard Disk Manager
						| . Тем не менее не стоит полностью доверять изменение схемы разделов стороннему ПО и сделать резервную копию важных данных. В зависимости от количества данных, этот процесс может занять довольно длительное время. macOS Sierra теоретически можно установить и на раздел диска, размеченного в MBR на систему с UEFI или, возможно, BIOS загрузкой, однако мое руководство не рассматривает такие варианты.

					//- Note
					+note(inf)
						| Подробнее о схеме разделов MBR и пришедшей ей на смену GPT изложено в статье на сайте
						a.link.link--aside(href='http://windowsten.ru/texnologiya-gestkih-diskov-gpt-ili-mbr/' target='_blank') windowsten.ru		
		
					p.section__par
						| Для установки macOS на отдельный раздел жесткого диска в системе c UEFI загрузкой понадобиться создать 2 раздела: загрузочный (EFI) и основной.
					ol.list-ordered
						li
							| Создайте резервную копию всех важных данных - документов, фото,"сохранок" игр и иных файлов, которых невозможно будет восстановить или загрузить откуда-либо в случае утери.
						li
							| Для создания и форматирования разделов понадобится специальная утилита. Я рекомендую мощное решение - 
							b Paragon Hard Disk Manager
							a(href='images/separate-install/appearance.jpg')
								img.section__image(alt='Окно Hard Disk Manager' src='images/separate-install/appearance.jpg')
							p.section__par
								| Теоретически можно использовать любую другую программу, умеющую работать с файловой системой HFS, на Ваш вкус.
						li
							| (Опционально) Измените схему на 
							b GPT
							| , если это необходимо 
							img.section__image(alt='Меню Hard Disk Manager' src='images/separate-install/convert-to-GPT.png')
						li
							| Измените размер раздела целевого диска. После изменения размера должна появиться незанятая область до или после раздела. Размер незанятого пространства равняется месту, выделяемому для macOS . Рекомендую выделить для macOS Sierra как минимум 
							b 30Гб
							a(href='images/separate-install/partition-resizing.jpg')
								img.section__image(alt='Окно Hard Disk Manager' src='images/separate-install/partition-resizing.jpg')
							a(href='images/separate-install/partition-resizing-settings.jpg')
								img.section__image(alt='Окно Hard Disk Manager' src='images/separate-install/partition-resizing-settings.jpg')
						li
							| Создайте в неразмеченной области раздел 
							b FAT32
							|  размером 
							b 200Мб
							| , назовите его 
							b EFI
							|  и 
							strong не назначайте
							|  ему букву
							a(href='images/separate-install/create-efi-partition.jpg')
								img.section__image(alt='Окно Hard Disk Manager' src='images/separate-install/create-efi-partition.jpg')
							a(href='images/separate-install/efi-partition-settings.jpg')
								img.section__image(alt='Окно Hard Disk Manager' src='images/separate-install/efi-partition-settings.jpg')
						li
							| Оставшееся пространство разметьте в 
							strong Apple HFS
							| , назовите его любым именем на латинице (я назвал его 
							b macOS
							| ) и 
							strong не назначайте
							|  ему букву
							a(href='images/separate-install/create-hfs-partition.jpg')
								img.section__image(alt='Окно Hard Disk Manager' src='images/separate-install/create-hfs-partition.jpg')
							a(href='images/separate-install/hfs-partition-settings.jpg')
								img.section__image(alt='Окно Hard Disk Manager' src='images/separate-install/hfs-partition-settings.jpg')
						li
							| После того, как все шаги пройдены, внимательно проверьте свои действия и нажмите 
							b Применить
							|  - это запустит процесс применения всех указанных выше действий.
							a(href='images/separate-install/apply-changes.jpg')
								img.section__image(alt='Окно Hard Disk Manager' src='images/separate-install/apply-changes.jpg')
			
			//- Sidebar
			- var mobile = false
			- var contents = false
			- var n = 1
			+sidebar
				
		//- Footer
		- var footer = true
		+footer
		
		//removeIf(production)
		+viewport_info
		//endRemoveIf(production)