doctype html
include __mixins.pug

html(lang='ru')

	//- Head
	+head('Завод сервисов iCloud и AppStore')

	body.page

		//- Icons
		+icons

		//- Header
		+header

		//- Top Menu
		+main-nav(services = selected)

		.page__container
			main.page__wrapper

				//- Content Header
				+header-content('Руководство','Завод сервисов iCloud и AppStore','23','05','2017') 
					li.entry-data__item Авторы: 
						a.link.link--entry(href='https://plus.google.com/+DaurGamisoniya' target='_blank') BroFox
						|  / 
						a.link.link--entry(href='http://www.fitzweekly.com/2016/02/hackintosh-imessage-tutorial.html' target='_blank') fitzweekly.com

				a#contents

				//- Banner
				+banner
					svg.banner__image.banner__image--svg.banner__image--svg-icloud
						use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-icloud' styles='')
				

				
				//- Contents
				- var n = 1

				mixin contents_both
					+contents('Завод iCloud','Завод AppStore')

				+contents_both

				section#1.section
					h2.section__h2 Завод iCloud
					h3.section__h3 Сброс данных
					ol.list-ordered
						li
							| Выйдите из AppStore, iCloud и других сервисов Apple
							a(href='images/start-services/logout-from-appstore.png')
								img.section__image(src='images/start-services/logout-from-appstore.png')
							a(href='images/start-services/icloud-in-settings.png')
								img.section__image(src='images/start-services/icloud-in-settings.png')
							a(href='images/start-services/logout-from-icloud.png')
								img.section__image(src='images/start-services/logout-from-icloud.png')
						li
							| Войдите в свою 
							a.link.link--section(href='https://appleid.apple.com/#!&page=signin' target='_blank') учетную запись
							|  Apple и удалите все устройства из списка, с которых был произведен вход. Можно оставить подлинные устройства Apple - iPhone, iPod и т.д.
							a(href='images/start-services/remove-devices.png')
								img.section__image(src='images/start-services/remove-devices.png')
						li 
							| Перезагрузите компьютер.
					h3.section__h3 Настройка номеров идентификации в Clover

					//- Note
					+note(warning)
							|  Не используйте данные, приведенные в инструкции в качестве примеров: они не подойдут Вашей конфигурации, либо забанены

					ol.list-ordered
						li
							| Откройте файл настройки Clover через 
							b Clover Configurator
							a(href='images/start-services/open-clover-config.png')
								img.section__image(src='images/start-services/open-clover-config.png')
						li
							| Перейдите ко вкладке 
							b SMBIOS 
							| и кликните на значок волшебной палочки
							a(href='images/start-services/config_1.png')
								img.section__image(src='images/start-services/config_1.png')
						li
							| Выберите компьютер Mac, который наиболее схож с Вашим. 
							
							//- Note
							+note(inf)
								|	Подходящий вариант и поля уже должны быть введены автоматически во время 
								a.link.link--aside(href='index.html#6') пост-установки 
								| с MultiBeast. Поэтому, если страницы конфигуратора окажутся пустыми, убедитесь, что config.plist открыт корректно

							a(href='images/start-services/config_2.png')
								img.section__image(src='images/start-services/config_2.png')
						li
							| Кликните на обе кнопки 
							b shake 
							| несколько раз
							a(href='images/start-services/config_3.png')
								img.section__image(src='images/start-services/config_3.png')
						li.section__par
							| Скопируйте полученный код с поля 
							b Serial 
							| и введите его в форму по ссылке 
							a.link.link--section(href='https://checkcoverage.apple.com' target='_blank') checkcoverage.apple.com
						p.section__par Проверьте этот серийный номер. Если появится 
							em ошибка
							| , как на приведенном ниже скриншоте - значит это то, что нужно и можно продолжать дальше! В противном случае, если серийный номер окажется валидным, необходимо будет сгенерировать его по новому. Иначе возникнут проблемы с дубликатом уже зарегистрированного серийного номера Mac.
							img.section__image(src='images/start-services/check-serial.png')
						li
							| Нажмите 
							b ОК
						li
							| Добавьте к серийному номеру в поле 
							b Board Serial Number 
							| номер из 5 знаков, состоящих из цифр и букв на латинице. Например, 2BC3A. Используйте свой вариант!
							a(href='images/start-services/config_4.png')
								img.section__image(src='images/start-services/config_4.png')
						li
							| Откройте 
							b Terminal 
							| и введите 
							b uuidgen
							| , затем нажмите 
							b Enter
							a(href='images/start-services/get-uuidgen.png')
								img.section__image(src='images/start-services/get-uuidgen.png')
						li
							| Скопируйте выданное терминалом значение в буфер обмена и вставьте в поле 
							b SmUUID 
							a(href='images/start-services/config_5.png')
								img.section__image(src='images/start-services/config_5.png')
						li
							| Сохраните все выполненные действия
							a(href='images/start-services/config_6.png')
								img.section__image(src='images/start-services/config_6.png')
						li
							| Перезагрузите компьютер и войдите со своим логином и паролем в сервисы
							| iCloud и AppStore.
				section#2.section
					h2.section__h2 Завод AppStore
					p.section__par
						| Завод AppStore не требует каких-либо дополнительных инструкций, если при попытке входа не появляется никакой ошибки. Однако, особенно при использовании внешних USB-адаптеров, могут быть проблемы со входом. Это частая проблема и случается она в том случае, если сетевое устройство не назначено как основное - en1 вместо en0. Ниже следует инструкция для устранения этой проблемы.
						ol.list-ordered
							li
								| Откройте поиск 
								b Spotlight 
								| и введите 
								b System Profiler
								| . Откроется окно информации о системе.
								a(href='images/start-services/find-system-information.png')
								img.section__image(src='images/start-services/find-system-information.png')
							li
								| Отыщите свой Wi-Fi адаптер.
								a(href='images/start-services/wifi-information.png')
									img.section__image(src='images/start-services/wifi-information.png')

								p.section__par 
									|	Если ему назначено значение en0, то делать ничего не нужно и проблема со входом в AppStore, скорее всего, связана с отсутствием кекста для сетевого устройства. Если назначено другое значение, например, en1 или en2, то надо продолжать далее.

							li
								| Откройте проводник Finder и нажмите 
								b ⌘ (Command) + Shift + G
								|  или 
								b Переход &gt; Переход к папке...
							li
								| Затем введите  
								b /Library/Preferences/<wbr>SystemConfiguration
								a(href='images/start-services/go-to-folder.png')
									img.section__image(src='images/start-services/go-to-folder.png')
							li
								| Удалите файлы 
								b NetworkInterfaces.plist 
								| и 
								b preferences.plist
								a(href='images/start-services/delete-files.png')
									img.section__image(src='images/start-services/delete-files.png')
							li
								| Перезагрузитесь.
							
			//- Sidebar
			- var mobile = false
			- var n = 1
			+sidebar

		//- Footer
		- var footer = true
		+footer

		//removeIf(production)
		+viewport_info
		//endRemoveIf(production)