extends /pug/_layout

prepend page
  -
    var pageTitle     = "Установка macOS на ПК с помощью VMWare"
        pageDesc      = "Подробная инструкция по установке macOS High Sierra на виртуальную машину со ссылками на необходимые файлы"
        datePublished = ["17", "08", "2017"]
        dateModified  = ["12", "02", "2018"]
        pageLink      = vmLink
        encodedUrl    = vmLinkForShare
        likeBtnId     = "Установка через VMWare"
        webArticleImg = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/install-vmware-tools_original.jpg"
  
  -
    var itemList = 
      [
        "Введение", 
        "Инструкция"
      ]

block nav
  +site-nav(vmware = selected)

block article-header
  -
    var articleImg     = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/article-image.png"
        articleTitle   = "Установка macOS на ПК&#32;<br>с помощью VMWare"
        isDateModified = true
  +article-header

block content
  +h2

  +p
    | Запустить операционную систему macOS High Sierra «поверх» Windows можно с помощью виртуальных машин — программ, которые эмулируют работу одной операционной системы в среде другой. На этой странице приведена инструкция по установке бесплатной версии одной из таких программ — VMWare Workstation Player. Работающая на виртуальной машине (далее — ВМ) macOS High Sierra отображается как обычная программа для Windows — в окне или режиме полного экрана.
  
  +p
    | MacOS High Sierra в качестве виртуальной ОС не предложит всех своих возможностей по техническим причинам и будет работать медленней, в следствие чего не способна оставить полноценные впечатления от своей работы. Но для поверхностного ознакомления с ОС от Apple такой способ установки вполне сгодится.

  +h2

  +note(warning)
    | Приведенная ниже инструкция рассчитана на работу с компьютерами на базе intel. С процессорами AMD могут возникнуть проблемы.

  +p
    | Что потребуется перед установкой:

  +ul
    +ul-item
      | Программа Workstation Player Free: 
      a.link.link--article(href="http://www.vmware.com/products/player/playerpro-evaluation.html") www.vmware.com/products
    +ul-item
      | Образ macOS High Sierra для ВМ: 
      a.link.link--article(href="https://drive.google.com/drive/folders/1ynPoQluSPz2RWtD2mKCtEhxCZKE30eIj") Google&nbsp;Drive
      |  / 
      a.link.link--article(href="https://yadi.sk/d/K9gd1t0L3RFULg") Яндекс&nbsp;Диск
    +ul-item
      | Патч VMWare Unlocker: 
      a.link.link--article(href="https://github.com/DrDonk/unlocker") GitHub
      |  / 
      a.link.link--article(href="https://drive.google.com/file/d/1PFMSK7H1p33FukS6Xihv9pY01ISWdZ3l/view?usp=sharing") Google Drive
    +ul-item
      | Около 40Гб свободного места на жестком диске.
  
  +ol
    li
      | Установите VMWare Workstation Player (далее — VMWare).
    li
      | Распакуйте архив c Unlocker и запустите win-install.cmd от имени администратора. Таким образом в VMWare добавляется поддержка macOS.

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/install-patch-tool.jpg"
      - alt = "Добавление поддержки macOS в VMWare"
      +img

    li
      | Откройте VMWare и нажмите “Create a new Virtual Machine”
    li
      | Выберите “I will install the operating system later”.

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/install-later_small.jpg"
      - alt = "Создание виртуальной машины в VMWare"
      +img(small)

    li
      | Укажите Apple Mac OS X версии 10.13

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/select-os_small.jpg"
      - alt = "Выбор версии ОС в VMWare"
      +img(small)

    li
      | И папку, в которую будет установлена виртуальная ОС. Запомните ее путь.

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/select-vm-location_small.jpg"
      - alt = "Выбор папки для VMWare"
      +img(small)

    li
      | Затем войдите в настройки созданной ВМ и удалите Hard Disk.

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/vmware-settings.jpg"
      - alt = "Настройки VMWare"
      +img

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/remove-hdd.jpg"
      - alt = "Удаление жесткого диска в VMWare"
      +img(small)

    li
      | Добавьте виртуальный жесткий диск: Add &gt; Hard Disk &gt; SATA. 
      
    li 
      | После выберите “Use an Existing Virtual Disk” и укажите путь к образу с macOS High Sierra (большой файл с расширением vmdk).

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/select-disk_small.jpg"
      - alt = "Добавление жесткого диска в VMWare"
      +img(small)

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/browse-macos-image_small.jpg"
      - alt = "Добавление образа в VMWare"
      +img(small)
    
    li
      | В параметрах диска советую выбрать “Store virtual disk as a single file”, как наиболее производительный вариант.

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/select-hdd-size.jpg"
      - alt = "Размер виртуального жесткого диска в VMWare"
      +img(small)

    li
      | Не забудьте выделить достаточное кол-во памяти для VMWare — порядка 50-65% от общей суммы ОЗУ компьютера.

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/memory-size.jpg"
      - alt = "Выделение памяти для VMWare"
      +img

    li
      | Нажмите OK и 
      em завершите работу (!)
      |  VMWare.

    li
      | Перейдите в папку ВМ, откройте файл macOS 10.13 с помощью блокнота. Это небольшой файл размером ~2 Кб, не имеющий расширения. Вставьте туда последней строкою код: 
      code.article__code smc.version = "0"
      | . Сохраните изменения.

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/open-vm-file.jpg"
      - alt = "Файлы VMWare"
      +img

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/edit-vm-file.jpg"
      - alt = "Редактирование файла VMWare"
      +img

    li
      | Все, теперь можно запустить VMWare и начать процесс установки macOS High Sierra!  

      +p
        | В процессе установки будет предложено создать нового пользователя, придумать ему пароль и войти в учетную запись Apple.

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/start-vm.jpg"
      - alt = "Запуск VMWare"
      +img

    li
      | По окончании установки, подключите VMWare Tools: Player > Manage > Install VMWare Tools. Через некоторое время на Рабочем столе должен появиться образ патча с установщиком.

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/mount-vmware-tools.jpg"
      - alt = "Загрузка VMWare Tools"
      +img(small)

      +note(inf)
        | Патч VMWare Tools нужен главным образом для того, чтобы VMWare работала быстрее и поддерживала родное разрешение экрана.

    li
      | Установите VMWare Tools и перезагрузите ВМ. 

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/install-vmware-tools.jpg"
      - alt = "Установка VMWare Tools"
      +img

    li
      | Система безопасности macOS High Sierra заблокирует VMWare Tools как неизвестное расширение. Зайдите в настройки ОС (значок шестеренки), далее в раздел “Security and Privacy” и разблокируйте патч кнопкой Allow. 

      - src = "images/pages/ustanovka-macos-na-virtualnuyu-mashinu/allow-vmware-tools.jpg"
      - alt = "Открытие доступа для VMWare Tools"
      +img

    li
      | Перезагрузите ВМ еще раз. 
      
      +p 
        | Готово, теперь macOS High Sierra должна работать на Windows как виртуальная ОС! :)

      - src = 'images/pages/ustanovka-macos-na-virtualnuyu-mashinu/vmware-macos-desktop.jpg'
      - alt = 'Рабочий стол macOS High Sierra на VMWare'
      +img

      +note(tip)
        | Если интерфейс macOS High Sierra будет слишком крупным, в режиме работающей ОС войдите в настройки VMWare: Player > Manage > Virtual Machine Settings > Display и уберите галку с Display Scaling. 

      +note(inf)
        | Локализовать интерфейс macOS High Sierra можно в настройках ОС. Для этого откройте System Preferences > Language & Region. Затем добавьте язык в Prefered Languages и сделайте его первым в списке.