extends /pug/_layout

prepend page
  -
    var pageTitle      = "Установка и удаление кекстов в macOS"
        pageDesc       = "Руководство по работе с кекстами на хакинтоше"
        isDateModified = true
        datePublished  = ["02", "09", "2017"]
        dateModified   = ["09", "01", "2018"]
        pageLink       = kextsLink
        encodedUrl     = kextsLinkForShare
        likeBtnId      = "Установка и удаление кекстов"

    var metaImage = {
      src: "images/pages/ustanovka-i-udaleniye-kekstov/kext-dragging_original.jpg",
      width: 797,
      height: 534
    };

    var itemList = [
      "Введение", 
      "Установка кекстов", 
      "Удаление кекстов"
    ]

    var articleHeader = {
      image: "images/pages/ustanovka-i-udaleniye-kekstov/_article-logo.png",
      title: "Установка и удаление&#32;<br>кекстов в macOS"
    };

block nav
  +site-nav(kexts = selected, pageA0 = selected)

block article-header
  +article-header(theme = themeAccent)

block content
  +h2

  +p 
    | Слово «Кекст» — транскрипция английского сокращения Kext от Kernel extension, т.е. расширение ядра. В виде кекстов реализованы все драйверы для macOS. Большинство самих же кекстов реализовано в виде специальных установочных пакетов, при запуске которых потребуется лишь ввести пароль, а всё остальное сделают за вас скрипты. Почти так же, как и с привычной установкой драйверов на ОС Windows. Но не всегда всё так легко: порой достается просто файл с расширением .kext. А в случае с хакинтошем, следует готовиться к тому, что, возможно, придётся перепробовать несколько разных кекстов, прежде чем определенная аппаратная часть ПК заработает правильно. 

  +p 
    | Установка кекстов в macOS состоит из трёх важных этапов: 

  +ol
    li Копировании в папку System/Library/Extensions.
    li Настройке прав доступа.
    li Удалении и пересоздании кэша кекстов для загрузки системы.

  +h2

  +h3
    | Kext Utility

  +p 
    | Есть два способа установки кекстов — ручной и автоматический. Я рекомендую автоматический, поскольку он гораздо проще. В этом мне помогает отличная программа 
    a.link.link--article(href="http://cvad-mac.narod.ru/index/0-4") Kext Utility
    | . Она делает за меня все 3 описанные выше этапы установки кекстов.

  +p 
    | Есть несколько способов работы с Kext Utility:

  +ul
    +ul-item
      | Перетаскивание одного или нескольких кекстов в окно программы.
    +ul-item
      | Запуск «вхолостую». В этом случае будет запущена проверка прав доступа к уже установленным кекстам и пересоздание их кэша.

  +ol
    li
      | Скачайте Kext Utility с 
      a.link.link--article(href="http://cvad-mac.narod.ru/index/0-4") cvad-mac.narod.ru
      |  и установите, переместив приложение в папку «Программы».

      - src = "images/pages/ustanovka-i-udaleniye-kekstov/install-location.png"
      - alt = "Папка c программами в macOS"
      +img

    li
      | При каждом открытии программы начинается служебная процедура. Пока она выполняются, крутится индикатор и выводится лог событий.

      - src = "images/pages/ustanovka-i-udaleniye-kekstov/kext-utility-window.png"
      - alt = "Окно программы Kext Utility"
      +img

    li
      | Переместите кекст(ы) в окно программы методом drag-and-drop и дождитесь выполнения установки.

      - src = "images/pages/ustanovka-i-udaleniye-kekstov/kext-dragging.jpg"
      - alt = "Установка кекста через Kext Utility"
      +img

    li
      | Как только появится кнопка Quit, кекст(ы) будут установлены.
    li
      | Выйдите из программы и перезагрузите компьютер. После перезагрузки все устройства, для которых были установлены кексты, должны опознаться системой.

  +h3
    | Установка в папку Clover

  +p 
    | Не всегда требуется устанавливать кексты в системную папку macOS: на хакинтоше есть еще одно место с кекстами — в папке Clover. Обычно там располагаются кексты, необходимые для работы хакинтоша. Выбор места для установки следует делать исходя из документации к кексту. Большое кол-во кекстов, загружаемых через Clover, может существенно замедлить загрузку системы.

  +ol
    li
      | Откройте папку кекстов в Clover: EFI &gt; CLOVER &gt; Kexts &gt; Other. 

      - src = "images/pages/ustanovka-i-udaleniye-kekstov/kexts-location-in-clover.png"
      - alt = "Папка с кекстами в Clover"
      +img

    li
      | Скопируйте туда необходимые кексты и перезагрузите компьютер. 
      
      +note(tip)
        | В папке Clover/Kexts/Other располагаются кексты для всех версий macOS. Рекомендуется копировать кексты именно в эту папку.

      +note(inf)
        | Системные разделы по умолчанию скрыты от пользователя. Инструкция по монтированию скрытых разделов приведена на отдельной 
        a.link.link--note(href= efiLink) странице
        | .

  +h2

  +ol
    li
      | Выберите в строке меню пункт «Переход к папке» и введите путь к системной папке: /System/Library/Extensions

      - src = "images/pages/ustanovka-i-udaleniye-kekstov/go-to-folder_small.jpg"
      - alt = "Переход в системную папку macOS"
      +img(small)

    li
      | Затем найдите там кекст у удалите.

      - src = "images/pages/ustanovka-i-udaleniye-kekstov/extensions-folder.png"
      - alt = "Папка с кекстами в системном разделе macOS"
      +img

    li
      | После запустите 
      a.link.link--article(href="http://cvad-mac.narod.ru/index/0-4") Kext Utility
      |  и подождите окончания процедуры по пересозданию кеша.
    li
      | Перезагрузите компьютер.

      +note(inf)
        | Помимо основной папки с кекстами в macOS, которая располагается в папке System/, есть еще одно место, где хранятся кексты — /Library/Extensions. Но оно используется гораздо реже и кекстов там немного.

  +h3
    | Удаление из папки Clover

  +p 
    | В случае, если целевой кекст располагается в папке Clover, просто удалите его оттуда и перезагрузите компьютер.