extends /pug/layouts/main

prepend head
	- var title	= "Установка macOS на Windows c помощью VMWare"
	- var desc	 = "Подробная инструкция по установке macOS на виртуальную машину со ссылками на необходимые файлы"
	- var keywords = "vmware, macos"

block nav
	+main-nav(installVm = selected)

prepend sidebar
	- var contents = false

block article-header
	- var updated = true
	- var uDay	= "02", uMonth = "09", uYear = "2017"
	- var src	 = "images/pages/install-vm/article-image.png"
	+article-header("17", "08", "2017")

block content
	section.page__section.section

		h2.section__h2 Введение
		p.section__par
			| Запустить операционную систему macOS «поверх» Windows можно с помощью виртуальных машин — программ, которые эмулируют работу одной операционной системы внутри другой. На этой странице приведена установка и настройка бесплатной версии одной из таких программ — VMWare Workstation Player. Запущенная на виртуальной машине macOS отображается как обычная программа для Windows — в окне или в режиме полного экрана. macOS Sierra в качестве виртуальной системы не предложит всех своих возможностей по техническим причинам и будет работать медленней, в следствие чего не способна оставить полноценные впечатления от своей работы. Но для беглого ознакомления с ОС от Apple такой вариант вполне сгодится.
		
		h2.section__h2 Установка

		p.section__par 
			| Перед установкой загрузите необходимые файлы:

		ul.section__ul
			li
				| Программу VMWare Workstation Player: 
				a.link.link--section(href="http://www.vmware.com/products/player/playerpro-evaluation.html") www.vmware.com/products
			li
				| Образ macOS Sierra для ВМ: 
				a.link.link--section(href="https://drive.google.com/drive/folders/0B1zbCptv-EMWalZzU0hQaGFEbzA") Google&nbsp;Drive
				|  / 
				a.link.link--section(href="https://yadi.sk/d/BoMmjXc63M3bw7") Яндекс&nbsp;Диск
			li
				| Патчи Patch Tool и VMWare Tools: 
				a.link.link--section(href="https://onedrive.live.com/?authkey=%21AIdJHZZVTLaB3pI&id=75EB93D109EEEFF0%21110&cid=75EB93D109EEEFF0") onedrive.live.com
		
		ol.section__ol
			li
				| Установите Workstation Player.
			li
				| Распакуйте архив Patch Tool.zip

				- var src = "images/pages/install-vm/extract-archive_small.jpg"
				- var alt = "Патч для Workstation Player"
				+section-image(false)
			li
				| Запустите win-install.cmd от имени администратора. Таким образом в Workstation Player добавляется поддержка macOS.

				- var src = "images/pages/install-vm/install-patch-tool.jpg"
				- var alt = "Добавление поддержки macOS в VMWare Workstation Player"
				+section-image

			li
				| Откройте Workstation Player и выберите “Create new...”
			li
				| Далее “...install operating system later”.

				- var src = "images/pages/install-vm/install-later_small.jpg"
				- var alt = "Создание виртуальной машины в VMWare Workstation Player"
				+section-image(false)

			li
				| Затем выберите Apple Mac OS X версии 10.12

				- var src = "images/pages/install-vm/select-os_small.jpg"
				- var alt = "Выбор версии ОС в VMWare Workstation Player"
				+section-image(false)

			li
				| Укажите папку, в которую будет установлена виртуальная ОС и подтвердите выбор.

				- var src = "images/pages/install-vm/select-vm-location_small.jpg"
				- var alt = "Выбор папки виртуальной машины в VMWare Workstation Player"
				+section-image(false)

			li
				| Зайдите в настройки созданной ВМ и удалите Hard Disk (SATA) 40 GB, нажав на Remove.

				- var src = "images/pages/install-vm/remove-hdd.jpg"
				- var alt = "Удаление виртуального жесткого диска в VMWare Workstation Player"
				+section-image(size = small)

				- var src = "images/pages/install-vm/workstation-settings.jpg"
				- var alt = "Настройки виртуальной машины VMWare Workstation Player"
				+section-image(size = small)

			li
				| Следуйте цепочке действий: Add &gt; Hard Disk &gt; SATA. Затем выберите “Use an Existing Virtual Disk”.

				- var src = "images/pages/install-vm/select-disk_small.jpg"
				- var alt = "Выбор диска в VMWare Workstation Player"
				+section-image(false)

			li
				| Укажите путь к образу с macOS Sierra.

				- var src = "images/pages/install-vm/select-macos-image-location_small.jpg"
				- var alt = "Путь к образу с macOS в VMWare Workstation Player"
				+section-image(false)

			li
				| Рекомендую выделить не менее 4 Гб оперативной памяти для нормальной работы macOS Sierra на ВМ.

				- var src = "images/pages/install-vm/memory-size.jpg"
				- var alt = "Выделение памяти для VMWare Workstation Player"
				+section-image(size = small)

			li
				| Перейдите в папку созданной ВМ и откройте файл macOS 10.12 с помощью блокнота. Это небольшой файл размером ~2 Кб, не имеющий расширения.

				- var src = "images/pages/install-vm/open-vm-file.jpg"
				- var alt = "Файлы виртуальной машины VMWare"
				+section-image

			li
				| Вставьте последней строкою код: 
				code.section__code smc.version ="0"

				- var src = "images/pages/install-vm/edit-vm-file.jpg"
				- var alt = "Добавление поддержки macOS в VMWare Workstation Player"
				+section-image

			li
				| Запустите Workstation Player и установите macOS Sierra
				| . На ряд последующих уведомлений отвечайте утвердительно. На конечном этапе установки придумайте пароль и войдите в систему.
			li
				| Далее идет установка патча VM Tool. Следуйте цепочке действий: Player &gt; Removable Devices &gt; CD/DVD (SATA) &gt; Settings.

				- var src = "images/pages/install-vm/drive-settings.jpg"
				- var alt = "Настройки внешнего накопителя в VMWare Workstation Player"
				+section-image(false)

			li
				| Укажите путь к образу VM Tool.iso и нажмите ОК.

				- var src = "images/pages/install-vm/open-vmware-tools.jpg"
				- var alt = "Путь к VMWare Tools в настройках VMWare Workstation Player"
				+section-image(size = small)

			li
				| Теперь смонтируйте его: Removable Devices &gt; CD/DVD (SATA) &gt; Connect. На рабочем столе появится подключенный образ с установочным файлом программы.

				- var src = "images/pages/install-vm/mount-vmware-tools.jpg"
				- var alt = "Монтирование VMWare Tools в VMWare Workstation Player"
				+section-image(false)

			li
				| Установите VMWare Tools и перезагрузите виртуальную ОС. 

				- var src = "images/pages/install-vm/sierra-desktop.jpg"
				- var alt = "Рабочий стол macOS Sierra на VMWare"
				+section-image

				p.section__par
					| После перезагрузки полноэкранный режим будет отображаться в надлежащем разрешении. Теперь macOS Sierra работает как виртуальная ОС на Windows. :)