//- Remember, Pug is indentation sensitive!
- var domainName = "https://brofox86.github.io/macos-plus/"

-
  var pages = {
    index:    "index.html",
    vmware:   "ustanovka-macos-na-virtualnuyu-mashinu.html",
    services: "nastroyka-icloud-i-app-store-na-khakintoshe.html",
    sound:    "zavod-zvuka-na-khakintoshe.html",
    kexts:    "ustanovka-i-udaleniye-kekstov.html",
    efi:      "montirovaniye-efi-v-macos.html"
  }