doctype html
include __mixins.pug

html(lang='ru')

	//- Head
	+head('Установка macOS на Windows в качестве виртуальной ОС')

	body.page

		//- Icons
		+icons

		//- Header
		+header

		//- Top Menu
		+main-nav(vmware = selected)

		.page__container
			main.page__wrapper

				//- Content Header
				+header-content('Руководство','Установка macOS на Windows в качестве виртуальной ОС', '03', '05', '2017')
					li.entry-data__item Авторы: 
						a.link.link--entry(href='https://plus.google.com/+DaurGamisoniya' target='_blank') BroFox 
						| / 
						a.link.link--entry(href='https://techsviewer.com/install-macos-sierra-vmware-windows/' target='_blank') techsviewer.com

				//- Banner
				+banner
					img.banner__image(src='images/install-vm/vmware-workstation-logo.png')

				section#install-vm.section
					h2.section__h2 Перед тем, как начать
					p.section__par
						| Для установки macOS Sierra в качестве виртуальной ОС понадобиться скачать следующие файлы:
					ul.list-unordered
						li.list-unordered__item
							| Программу VMWare Workstation Player: 
							a.link.link--section(href='http://www.vmware.com/products/player/playerpro-evaluation.html' target='_blank') www.vmware.com/products
						li.list-unordered__item
							| Образ macOS Sierra для виртуальной машины: 
							a.link.link--section(href='https://drive.google.com/drive/folders/0B1TeIMG33wLPa3lnTnF1ZVFMWVE' target='_blank') Google&nbsp;Drive
							|  / 
							a.link.link--section(href='https://yadi.sk/d/Mz3q2H813E4n5U' target='_blank') Яндекс&nbsp;Диск
						li.list-unordered__item
							| Патчи Patch Tool и VM Tool: 
							a.link.link--section(href='https://onedrive.live.com/?authkey=%21AIdJHZZVTLaB3pI&id=75EB93D109EEEFF0%21110&cid=75EB93D109EEEFF0' target='_blank') https://goo.gl/2cR8gm
					h2.section__h2 Установка
					ol.list-ordered
						li
							| Установите 
							b Workstation Player
						li
							| Распакуйте архив с помощью Winrar или 7zip
							img.section__image(alt='Извлечение образа' src='images/install-vm/2-Right-Click-Extract.png')
						li
							| Запустите 
							b win-install.cmd
							|  от имени администратора и пропатчите VMWare Workstation Player
							img.section__image(alt='Патчинг Workstation Player' src='images/install-vm/7-Run-as-admin.png')
						li
							| Откройте Workstation Player и нажмите 
							b Create new virtual machine
							| , затем выберите Guest OS: 
							b Apple Mac OS X
							|  и Version: 
							b Mac OS X 10.11
							|  или 
							b 10.12
							img.section__image(alt='Окно VMWare Workstation Player' src='images/install-vm/Create-New-Virtual-Machine-1.jpg')
							img.section__image(alt='Окно VMWare Workstation Player' src='images/install-vm/8-Virtua-Machine-Name-2.png')
						li
							| Выберите 
							b Edit Virtual Machine Setting
							| , затем 
							b Hard Disk (SATA) 40 GB
							|  и удалите виртуальный диск нажав на 
							b Remove
							img.section__image(alt='Окно VMWare Workstation Player' src='images/install-vm/10-Remove-hard-disk.png')
						li
							| Следуйте цепочке действий: 
							b Add &gt; Hard Disk &gt; SATA
							| , после этого выберите 
							b Use an Existing Virtual Disk
							img.section__image(alt='Окно VMWare Workstation Player' src='images/install-vm/11-Add-hard-disk.png')
						li
							| Найдите и откройте загруженный образ 
							b macOS Sierra
							|  ( 
							i ...\macOS Sierra.vmdk
							|  )
							img.section__image(alt='Окно VMWare Workstation Player' src='images/install-vm/Edit-Virtual-Machine-Add-Harddisk.jpg')
						li
							| Рекомендую выделить не менее 4Гб оперативной памяти для нормальной работы macOS Sierra на виртуальной машине. Если у Вас 4-ядерный процессор, выделите ей 2 ядра
							img.section__image(alt='Окно VMWare Workstation Player' src='images/install-vm/Hard-Disk-Added.png')
						li
							| Откройте файл 
							b *.VMX
							|  с помощью блокнота
							img.section__image(alt='Окно VMWare Workstation Player' src='images/install-vm/13-Edit-VMX-File-1.png')
						li
							| Скопируйте и вставьте последней строкою фрагмент кода: 
							b smc.version ="0"
							img.section__image(alt='Редактирование VMX-файла' src='images/install-vm/14-Edit-VMX-File.png')
						li
							| Запустите Workstation Player и установите macOS Sierra
						li
							| Смонтируйте образ 
							b VM Tool.iso
							| , следуя цепочке действий 
							b Workstation Player &gt; Removable Devices &gt; CD/DVD &gt; Settings
							| , и установите его. Или скачайте его прямо с браузера Safari 
							a.link.link--section(href='https://goo.gl/2cR8gm' target='_blank') WMware Tool
							|  и установите
							img.section__image(alt='Окно VMWare Workstation Player' src='images/install-vm/15-Mount-VMware-Tool.png')
							img.section__image(alt='Окно VMWare Workstation Player' src='images/install-vm/Open-iso-file.png')
							img.section__image(alt='Окно VMWare Workstation Player' src='images/install-vm/18-Install-VMware-tool.png')
						li
							| Готово! macOS Sierra работает в среде VMware на Windows :)
							img.section__image(alt='macOS Sierra в виртуальной среде' src='images/install-vm/macOS-Sierra-on-VMware.jpg')
							
							//- Note
							+note(tip)
								| Не удаляйте настроенную Workstation Player по крайней мере до того момента, пока не установите macOS в полноценном виде на ПК - виртуальная машина может еще пригодиться!

			//- Sidebar
			- var mobile = false
			- var contents = false
			- var n = 1
			+sidebar

		//- Footer
		- var footer = true
		+footer

		//removeIf(production)
		+viewport_info
		//endRemoveIf(production)