extends /pug/_layout

prepend head
	- var pageTitle = "Запуск звука на хакинтоше"
	- var pageDesc  = "Краткое руководство по настройке звука на хакинтоше"
	- var keywords  = "хакинтош, звук, creative"

prepend body
	- var urlEnc        = linksSoundFull
	- var link          = linkSound
	- var imgArticleWeb = "images/pages/zapusk-zvuka-na-khakintoshe/rename-hdas_original.png"

block nav
	+site-nav(sound = selected)

block article-header
	- var imgArticle    = "images/pages/zapusk-zvuka-na-khakintoshe/article-image.png"
	- var datePublished = ["02", "09", "2017"] 
	- var dateModified  = ["09", "01", "2018"]
	- var isDateModified = true
	+article-header

mixin table-of-contents
	+page-nav("Codec Commander", "Запуск карт Creative", "Метод AppleALC")

append table-of-contents
	+table-of-contents

block content
	h2#1.article__h2
		a.article__anchor.link.link--anchor(href="#1") #
		| Codec Commander

	p.article__par 
		| Кекст Codec Commander используется для управления контроллером 
		span.link.link--tooltip(title="External Amplifier Power Down") EAPD
		| , включающим внешний усилитель для встроенных в материнские платы кодеков (звуковых карт). Обычно такие усилители установлены в колонках и наушниках. Когда кодек теряет питание, усилитель тоже теряет питание и включить его обратно без дополнительной помощи невозможно. Как правило кодек теряет питание в двух случаях:

	ul.article__ul
		li.article__ul-item
			| Компьютер перешел в режим сна и затем вышел из него.
		li.article__ul-item
			| Компьютер начал переходить в режим сна, но спустя небольшой промежуток времени (около 5-20 секунд) была нажата какая-либо клавиша и переход в сон отменился (задержка сна на полминуты — это 
			a.link.link--article(href="https://www.reddit.com/r/hackintosh/comments/413yqm/el_capitan_taking_3040_seconds_to_sleep/") особенность
			|  macOS).

	p.article__par 
		| В обоих случаях может показаться, что звук есть, но на самом деле его нет или он очень тихий. Для решения этой проблемы, собственно, и нужен Codec Commander.

	h3.article__h3 Настройка

	p.article__par 
		| Последняя версия Сodec Commander доступна на 
		a.link.link--article(href="https://bitbucket.org/RehabMan/os-x-eapd-codec-commander/downloads/") bitbucket.org
		| . Но не все так просто: без предварительной настройки под Ваш кодек кекст может не заработать. Подробное руководство по настройке Сodec Commander находится на   
		a.link.link--article(href="https://github.com/RehabMan/EAPD-Codec-Commander") GitHub
		| . Однако новичку будет очень сложно в нем разобраться. Самый простой способ — найти уже настроенный кекст под кодек своей системы. Я нашел Сodec Commander для ALC1150 на 
		a.link.link--article(href="https://www.tonymacx86.com/attachments/codeccommander-kext-zip.146742/") tonymackx86.com 
		| (прямая 
		a.link.link--article(href="https://yadi.sk/d/k32zKmbk3M3Lrb") ссылка
		|  на файл).

	h3.article__h3 Установка кекста

	p.article__par 
		| Устанавливать Сodec Commander надо в папку системы. Рекомендую 
		a.link.link--article(href= linkKexts) автоматическую
		|  установку с помощью Kext Utility.

	h2#2.article__h2 
		a.article__anchor.link.link--anchor(href="#2") #
		| Запуск звука на картах Creative
	
	p.article__par 
		| Для работы звуковых карт Creative на macOS энтузиасты разработали кекст kXAudioDriver, он запускает на хакинтоше карты:

	ul.article__ul 
		li.article__ul-item Creative Live! 
		li.article__ul-item Audigy 1/2 
		li.article__ul-item Audigy RX 
		li.article__ul-item EMU E-DSP

	p.article__par
		| Скачивание и обсуждение кекста доступно на форуме 
		a.link.link--article(href="http://www.insanelymac.com/forum/topic/104797-creative-sb-live-audigy-audigy2-emu10kx-edsps-osx-driver-info-here/") insanelymac.com
		| .

	+note(warning)
		| kXAudioDriver не поддерживает звуковые карты Creative Audigy SE/LS.

	h2#3.article__h2 
		a.article__anchor.link.link--anchor(href="#3") #
		| Метод AppleALC

	p.article__par
		| AppleALC  — кекcт, который значительно упрощает запуск звука на хакинтоше. Он позволяет включить поддержку 
		i встроенного 
		| звукового оборудования компьютера без внесения модификаций в систему и динамически загружает все требуемые изменения в AppleHDA и другие кексты. 

	p.article__par
		| Поддерживает ли Ваш кодек AppleALC можно узнать на 
		a.link.link--article(href="https://github.com/vit9696/AppleALC/wiki/Supported-codecs") wiki-странице
		|  проекта. Там же есть и подробное  
		a.link.link--article(href="https://github.com/vit9696/AppleALC/wiki/Установка-и-использование") руководство
		|  на русском языке по его установке. А здесь я постараюсь изложить его в более кратких и последовательных чертах.

	p.article__par
		| Перед установкой AppleALC требуется отменить все манипуляции с настройкой звука, вернув в систему «ванильный» — оригинальный, не затронутый вмешательствами — кекст AppleHDA, а также удалить некоторые строки, внесенные в файл конфигурации Clover — config.plist, которые мог 
		a.link.link--article(href= linkIndex + "#6") произвести
		| , например, MultiBeast.

	+note(tip)
		| AppleALC может помочь, если после других методов запуска встроенного звука наблюдаются проблемы.

	h3.article__h3 Шаг 1. Получение оригинального AppleHDA
	
	p.article__par
		| На загрузочной флешке, 
		a.link.link--article(href= linkIndex + "#3") созданной
		|  UniBeast, помимо значка «Установка macOS High Sierra» есть множество скрытых системных файлов. Для того, чтобы добраться до стандартных кекстов системы, необходимо сделать их видимыми.

	ol.article__ol
		li
			| Откройте загрузочную флешку с macOS, введите в терминал: <br> code.article__code defaults write com.apple.finder AppleShowAllFiles YES и нажмите Enter.
		li
			| Изменения внесены. Но осталось ввести еще одну команду: 
			code.article__code killall&nbsp;Finder
			| , чтобы перезапустить Finder и увидеть скрытые файлы.
		li
			| Откройте System &gt; Library &gt; Extensions и скопируйте AppleHDA.kext на Рабочий стол или в отдельную папку.

			- var src = "images/pages/zapusk-zvuka-na-khakintoshe/native-applehda-in-boot-usb.jpg"
			- var alt = "Расположение кекста AppleHDA на загрузочном USB-диске"
			+img

	h3.article__h3 Шаг 2.  Восстановление AppleHDA

	ol.article__ol
		li
			| Выберите в строке меню пункт «Переход к папке».

			- var src = "images/pages/zapusk-zvuka-na-khakintoshe/go-to-folder_small.jpg"
			- var alt = "Переход к папке в macOS"
			+img(small)
		li
			| И введите путь к системной папке: /System/Library/Extensions.
		li
			| Найдите у удалите AppleHDA.kext.
		li
			| Установите оригинальный AppleHDA с помощью 
			a.link.link--article(href= linkKexts) Kext Utility
			| .

	h3.article__h3 Шаг 3.  Установка AppleALC

	ol.article__ol
		li
			| Загрузите 
			a.link.link--article(href="https://github.com/vit9696/Lilu/releases") Lilu.kext
			| , который требуется для работы AppleALC, и установите его с помощью 
			a.link.link--article(href= linkKexts) Kext Utility
			| .
		li
			| Загрузите 
			a.link.link--article(href="https://github.com/vit9696/AppleALC/releases") AppleALC.kext
			| .
		li
			| Монтируйте раздел EFI с помощью 
			a.link.link--article(href= linkEfi) EFI Mounter
			| .
		li
			| Откройте файл конфигурации Clover —  config.plist через 
			a.link.link--article(href="http://mackie100projects.altervista.org/download-clover-configurator/") Clover Configurator
			| .

			- var src = "images/pages/zapusk-zvuka-na-khakintoshe/plist-location.jpg"
			- var alt = "Расположение config.plist"
			+img

		li
			| Перейдите в раздел Kernel and Kext Patches и удалите строки, имеющие отношение к 
			i AppleHDA/HDA
			| .

			- var src = "images/pages/zapusk-zvuka-na-khakintoshe/remove-applehda-string.png"
			- var alt = "Вкладка Kernel and Kext Patches программы Clover Configurator"
			+img
		li
			| Установите значение layout-id. Список подходящих для Вашего кодека значений находится по ссылке: 
			a.link.link--article(href="https://github.com/vit9696/AppleALC/wiki/Supported-codecs") github.com/vit9696/AppleALC/<wbr>wiki/Supported-codecs
			| . Как правило для ряда кодеков подходит стандартное значение — «1».

			- var src = "images/pages/zapusk-zvuka-na-khakintoshe/enter-layout-id.png"
			- var alt = "Вкладка Devices программы Clover Configurator"
			+img 
		li
			| (Необязательно) Чтобы позволить многим системам на основе процессоров семейства Skylake работать с AppleALC, необходимо переименовать 
			a.link.link--article(href="https://github.com/corpnewt/Hackintosh-Tips-And-Tricks/blob/master/README.md#audio") HDAS в HDEF
			|  при помощи нескольких строк в файле конфигурации Clover. Для этого во вкладке DSDT найдите форму Patches и введите в каждое из перечисленных полей следующие значения: 

			ol.article__ol.article__ol--nested
				li 
					i “Rename HDAS to HDEF” 
					| в поле Comment.
				li 
					i 48444153 
					| в Find [HEX].
				li 
					i 48444546 
					| в Replace [HEX].

			- var src = "images/pages/zapusk-zvuka-na-khakintoshe/rename-hdas.png"
			- var alt = "Вкладка ACPI программы Clover Configurator"
			+img 

		li
			| Скопируйте AppleALC.kext в 
			a.link.link--article(href= linkKexts + "#2") папку 
			| кекстов Clover.

		li
			| Сохраните изменения и перезагрузите компьютер. 

			- var src = "images/pages/zapusk-zvuka-na-khakintoshe/save-config_small.jpg"
			- var alt = "Сохранение изменений Clover Configurator"
			+img(small)

	+rate("zapusk-zvuka-na-khakintoshe")