extends /pug/_layout

prepend page
  -
    var pageTitle      = "Завод звука на хакинтоше"
        pageDesc       = "Инструкции по настройке звука на хакинтоше. Не всеобъемлющие, но с рядом полезной информации, которая может быть полезной"
        isDateModified = true
        datePublished  = ["02", "09", "2017"]
        dateModified   = ["09", "01", "2018"]
        pageLink       = soundLink
        encodedUrl     = soundLinkForShare
        likeBtnId      = "Завод звука"

    var metaImage = {
      src: "images/zavod-zvuka-na-khakintoshe/meta.jpg",
      width: 1334,
      height: 772
    };

    var itemList = [
      "Кекст Codec Commander", 
      "Завод карт Creative", 
      "Метод AppleALC"
    ]

    var articleHeader = {
      image: "images/zavod-zvuka-na-khakintoshe/article-logo.png",
      title: pageTitle
    };

block menu
  +menu(sound = selected)

block content
  +h2

  +p
    | Кекст Codec Commander используется для управления контроллером 
    +tooltip('External Amplifier Power Down', 'EAPD', abbr)
    | , включающим внешний усилитель для встроенных в материнские платы кодеков (звуковых карт). Обычно такие усилители установлены в колонках и наушниках. Когда кодек теряет питание, усилитель тоже теряет питание и включить его обратно без дополнительной помощи невозможно. Как правило кодек теряет питание в двух случаях:

  +ul
    +li
      | Компьютер перешел в режим сна и затем вышел из него.
    +li
      | Компьютер начал переходить в режим сна, но спустя небольшой промежуток времени (около 5-20 секунд) была нажата какая-либо клавиша и переход в сон отменился (задержка сна на полминуты — это 
      +link('https://www.reddit.com/r/hackintosh/comments/413yqm/el_capitan_taking_3040_seconds_to_sleep/', 'особенность')
      |  macOS).

  +p 
    | В обоих случаях может показаться, что звук есть, но на самом деле его нет или он очень тихий. Для решения этой проблемы, собственно, и нужен Codec Commander.

  +h3
    | Настройка

  +p 
    | Последняя версия Codec Commander доступна на 
    +link('https://bitbucket.org/RehabMan/os-x-eapd-codec-commander/downloads/', 'bitbucket.org')
    | . Но не все так просто: без предварительной настройки под ваш кодек кекст может не заработать. Подробное руководство по настройке Codec Commander находится на 
    +link('https://github.com/RehabMan/EAPD-Codec-Commander', 'GitHub')
    | . Однако новичку будет очень сложно в нем разобраться. Самый простой способ — найти уже настроенный кекст под кодек своей системы. Я нашел Codec Commander для ALC1150 на 
    +link('https://www.tonymacx86.com/attachments/codeccommander-kext-zip.146742/', 'tonymackx86.com')
    |  (прямая 
    +link('https://yadi.sk/d/k32zKmbk3M3Lrb', 'ссылка')
    |  на файл).

  +h3
    | Установка кекста

  +p 
    | Устанавливать Codec Commander надо в папку системы. Рекомендую 
    +link(kextsLink, 'автоматическую')
    |  установку с помощью Kext Utility.

  +h2
  
  +p 
    | Для настройки звуковых карт Creative на хакинтоше энтузиасты разработали кекст kXAudioDriver, он заводит на хакинтоше следующие карты:

  +ul 
    +li
      | Creative Live! 
    +li
      | Audigy 1/2 
    +li
      | Audigy RX 
    +li
      | EMU E-DSP

  +p
    | Скачивание и обсуждение кекста доступно на форуме 
    +link('http://www.insanelymac.com/forum/topic/104797-creative-sb-live-audigy-audigy2-emu10kx-edsps-osx-driver-info-here/', 'insanelymac.com')
    | .

  +note(warning)
    | kXAudioDriver в данное время не поддерживает звуковые карты Creative Audigy SE/LS. И когда будет — неизвестно.

  +h2 

  +p
    | AppleALC  — кекст, который значительно упрощает настройку звука на хакинтоше. Он позволяет включить поддержку 
    em встроенного
    |  звукового оборудования компьютера без внесения модификаций в систему и динамически загружает все требуемые изменения в AppleHDA и другие кексты.

  +note(tip)
    | AppleALC может помочь, если после других методов завода встроенного звука наблюдаются проблемы.

  +p
    | Поддерживает ли ваш кодек AppleALC можно узнать на 
    +link('https://github.com/vit9696/AppleALC/wiki/Supported-codecs', 'wiki-странице')
    |  проекта. Там же есть и подробное 
    +link('https://github.com/vit9696/AppleALC/wiki/Установка-и-использование', 'руководство')
    |  на русском языке по его установке. Здесь же я постараюсь изложить его в более кратких и последовательных чертах.

  +p
    | Перед установкой AppleALC требуется отменить все манипуляции с настройкой звука, вернув в систему «ванильный» — оригинальный, не затронутый вмешательствами — кекст AppleHDA, а также удалить некоторые строки, внесенные в файл конфигурации Clover — config.plist, которые мог 
    +link(indexLink + "#5", 'произвести')
    | , например, MultiBeast.

  +h3
    | Шаг 1. Получение оригинального AppleHDA
  
  +p
    | На загрузочной флешке, 
    +link(indexLink + "#2", 'созданной')
    |  UniBeast, помимо значка «Установка macOS High Sierra» есть множество скрытых системных файлов. Для того чтобы добраться до стандартных кекстов системы, необходимо сделать их видимыми.

  +note(inf)
    | С помощью сочетания ⌘ + Shift + . (точка) можно отображать скрытые файлы в macOS и таким же способом их скрывать.

  +ol
    +li
      | Откройте флешку с macOS и отобразите скрытые папки.
    +li
      | Перейдите в System &gt; Library &gt; Extensions.
    +li
      | Скопируйте AppleHDA.kext на Рабочий стол или в отдельную папку.

      - src = "images/zavod-zvuka-na-khakintoshe/native-applehda-in-boot-usb.jpg"
      - alt = "Расположение кекста AppleHDA на загрузочном USB-диске"
      +img

  +h3
    | Шаг 2.  Восстановление AppleHDA

  +ol
    +li
      | Выберите в строке меню пункт «Переход к папке».

      - src = "images/zavod-zvuka-na-khakintoshe/go-to-folder_small.jpg"
      - alt = "Переход к папке в macOS"
      +img(small)
    +li
      | И введите путь к системной папке: /System/Library/Extensions.
    +li
      | Найдите у удалите AppleHDA.kext.
    +li
      | Установите оригинальный AppleHDA с помощью 
      +link(kextsLink, 'Kext Utility')
      | .

  +h3
    | Шаг 3.  Установка AppleALC

  +ol
    +li
      | Загрузите 
      +link('https://github.com/vit9696/Lilu/releases', 'Lilu.kext')
      | , который требуется для работы AppleALC, и установите его с помощью Kext Utility.
    +li
      | Загрузите 
      +link('https://github.com/vit9696/AppleALC/releases', 'AppleALC.kext')
      | .
    +li
      | Монтируйте раздел EFI с помощью 
      +link(efiLink, 'EFI Mounter')
      | .
    +li
      | Откройте файл конфигурации Clover —  config.plist через 
      +link('http://mackie100projects.altervista.org/download-clover-configurator/', 'Clover Configurator')
      | .

      - src = "images/zavod-zvuka-na-khakintoshe/plist-location.jpg"
      - alt = "Расположение config.plist"
      +img

    +li
      | Перейдите в раздел Kernel and Kext Patches и удалите строки, имеющие отношение к 
      i AppleHDA/HDA
      | .

      - src = "images/zavod-zvuka-na-khakintoshe/remove-applehda-string.png"
      - alt = "Вкладка Kernel and Kext Patches программы Clover Configurator"
      +img
    +li
      | Укажите layout-id. Подробнее об этом тут: 
      +link('https://github.com/vit9696/AppleALC/wiki/Supported-codecs', 'github.com/vit9696/AppleALC/<wbr>wiki/Supported-codecs')
      | . Обычно подходит стандартное значение — «1».

      - src = "images/zavod-zvuka-na-khakintoshe/enter-layout-id.png"
      - alt = "Вкладка Devices программы Clover Configurator"
      +img 
    +li
      | (Необязательно) Чтобы позволить многим системам на основе процессоров семейства Skylake работать с AppleALC, необходимо переименовать 
      +link('https://github.com/corpnewt/Hackintosh-Tips-And-Tricks/blob/master/README.md#audio', 'HDAS в HDEF')
      |  при помощи нескольких строк в файле конфигурации Clover. Для этого на вкладке DSDT найдите форму Patches и введите в каждое из перечисленных полей следующие значения: 

      +ol
        +li
          i “Rename HDAS to HDEF” 
          | в поле Comment.
        +li
          i 48444153 
          | в Find [HEX].
        +li
          i 48444546 
          | в Replace [HEX].

      - src = "images/zavod-zvuka-na-khakintoshe/rename-hdas.png"
      - alt = "Вкладка ACPI программы Clover Configurator"
      +img 

    +li
      | Скопируйте AppleALC.kext в кекстов Clover.

    +li
      | Сохраните изменения и перезагрузите компьютер. 

      - src = "images/zavod-zvuka-na-khakintoshe/save-config_small.jpg"
      - alt = "Сохранение изменений Clover Configurator"
      +img(small)