.tooltip {
  position: absolute;
  z-index: 2;
  max-width: 500px;
  padding: 20px 25px;
  border-radius: $border-radius--large;
  opacity: 0;
  background: $tooltip;
  box-shadow: 0 0 4.8px rgb(102, 102, 102);
  color: white;
  font-family: $second-font;
  font-size: 0.842em;
  hyphens: auto;
  transition: opacity .3s;

  @media (max-width: $mobile) {
    width: 300px;
    font-size: 0.895em;
  }
}
