.page-nav {
  @media (max-width: $tablet) {
    width: 100%;
    border: 2px solid $grey-235;
    box-shadow: none;
  }

  &__headline {
    @media (max-width: $mobile) {
      margin-bottom: 10px;
      font-size: $base-font-size + 6px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    transition: color .5s;
    transition: font-size .1s;
    text-decoration: none;
    color: $grey-119;
    font-family: $websafe-font-family;
    font-weight: 500;
    line-height: 52px;

    .page-nav__item:hover &,
.page-nav__item.is-active & {
      color: $accent;
      font-size: $base-font-size + 1px;
    }
  }

  &__icon {
    position: relative;
    right: 20px;
    width: 23px;
    height: 23px;
    transition: fill .1s;

    fill: $grey-119;

    .page-nav__item:hover &,
.page-nav__item.is-active & {
      fill: $accent;
    }
  }
}
