.page-nav {
  @media (max-width: $tablet) {
    width: 100%;
    border: 2px solid $grey-235;
    box-shadow: none;
  }

  &__headline {
    @media (max-width: $mobile) {
      font-size: $font-size + 4px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__link {
    font-family: $font-family--system;
    font-weight: 500;
    line-height: 52px;
    display: flex;
    padding-left: 22px;
    justify-content: space-between;
    align-items: center;
    transition: color .5s;
    text-decoration: none;
    color: $grey-119;
    transition: font-size .1s;

    .page-nav__item:hover &,
    .page-nav__item.is-active & {
      color: $accent-color;
      font-size: $font-size + 1px;
    }
  }

  &__icon {
    position: relative;
    right: 20px;
    width: 23px;
    height: 23px;
    fill: $grey-119;
    transition: fill .1s;
                
    .page-nav__item:hover &,
    .page-nav__item.is-active & {
      fill: $accent-color;
    }
  }
}
