.vote {
  &::before {
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background: $grey-235;
  }

  &__inner {
    padding: 50px 0;
    text-align: center;
  }

  &__text {
    margin: 0 0 20px;
    font-size: $font-size--large;
    font-style: italic;
    color: $font-color--light;
  }
}
