.footer {
  height: 100%;
  padding: 35px 0 45px;
  color: $dimmed-font-color;
  background: $footer-bg;
  text-align: center;
  font-size: 0.895em;

  @media (max-width: $mobile) {
    padding: 40px 0;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: inherit;
    background: inherit;
    transform: skewY(-2deg);
    transform-origin: 0 0;
  }

  &__share {
    display: none;

    @media (max-width: $tablet) {
      display: block;
      margin-bottom: 20px;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__copyrights {
    margin: 0 0 15px;
    padding: 0 20px;
  }

  &__my-links {
    margin-bottom: 15px;
  }

  &__iconpack {
    margin: 0;
    font-size: .9em;
  }

  &__link {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: lighten($accent, 5);
    transition: $transition;

    &:hover {
      border-bottom: 1px solid $accent;
    }
  }
}
