.footer {
  position: relative;
  height: 100%;
  color: $dimmed;
  background: linear-gradient(to right, lighten($footer, 3) 0%, $footer 100%);
  font-size: 0.895em;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: inherit;
    background: inherit;
    transform: skewY(-3deg);
    transform-origin: 0 0;
  }

  &__top {
    display: none;

    @media (max-width: $tablet) {
      display: block; 
      padding-top: 30px;
    }

    @media (max-width: $mobile) {
      padding-top: 5px;
    }
  }

  &__share {
    margin-bottom: 20px;
  }

  &__bottom {
    padding: 5px 0 30px;
    text-align: center;

    @media (max-width: $mobile) {
      padding: 15px 50px 25px;
    }
  }

  &__copyrights {
    margin-bottom: 15px;
  }

  &__my-links {
    margin-bottom: 22px;
  }

  &__iconpack {
    margin-top: 0;
    font-size: .9em;
  }

  &__link {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: lighten($accent, 5);
    transition: $transition;

    &:hover {
      border-bottom: 1px solid $accent;
    }
  }
}
