mixin footer
  footer.footer
    div.footer__top
      +reference(state = footerItem)
      +share(state = footerItem)
    div.footer__bottom
        p.footer__copyrights-wrapper
          span.footer__copyrights © Дизайн, движок и тексты. 
          span.footer__author Daur “Bro Fox” Gamisonia, 
          span.footer__year 2018
        +myLinks
          