.footer {
  &__top {
    display: none;

    @media (max-width: @tablet) {
      display: flex;
      justify-content: center;
      padding-top: @line-height;
    }

    @media (max-width: @footer-asides-direction-bp) {
      flex-direction: column;
      justify-content: space-between;
    }

    @media (max-width: @mobile) {
      padding-top: @line-height/2;
    }
  }

  &__item {
    align-self: center;
    margin: @line-height/1.5;
    width: 300px;

    @media (max-width: @mobile) {
      margin: @line-height/2;
    }
  }

  &__bottom {
    padding: @line-height*2 10%;
    text-align: center;

    @media (max-width: @tablet) {
      padding: @line-height 10% @line-height*1.5;
    }

    @media (max-width: @mobile) {
      padding: @line-height/2 10% @line-height*1.5;
    }
  }

  &__copyrights {
    margin: 0;
  }

  &__copyrights span {
    display: inline-block;
  }

  &__copyrights-for {
    color: @grey-82;
  }

  &__name {
    color: @font-color;
    text-decoration: none;
  }

  &__my-links {
    margin-top: 15px;
  }
}
