include ../*/share
include ../*/reference
include ../*/my-links

mixin footer
	footer.footer
		.footer__top
			+reference(state = footer)
			+share(state = footer)
		.footer__bottom
				p.footer__copyrights
					span.footer__copyrights-for &copy; Дизайн и тексты.
					span.footer__copyrights-info
						a.footer__name
							span &nbsp;Daur “Bro Fox” Gamisonia
						span , 2017
				+my-links
					