mixin footer
  footer.footer
    .footer__top
      +reference(appendClass = "footer__item")
      +share(appendClass = "footer__item")
    .footer__bottom
        p.footer__copyrights
          span.footer__content © Дизайн, движок и тексты. 
          span.footer__author Daur “Bro Fox” Gamisonia, 
          span.footer__year 2018
        +myLinks
        p.footer__iconpacks
          | Icons by 
          a.footer__link(href="https://fontawesome.com/license") Font Awesome