.footer {
  &__top {
    display: none;

    @media (max-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 60px;
    }

    @media (max-width: $mobile) {
      padding-top: 20px;
    }
  }

  &__item {
    align-self: center;
    width: 300px;
    margin: 20px;
  }

  &__bottom {
    margin: 50px 0;
    text-align: center;

    @media (max-width: $mobile) {
      margin-top: 20px;
    }
  }

  &__copyrights {
    margin-bottom: 15px;
  }

  &__content {
    display: inline-block;
    margin-right: 5px;
    color: #666;
  }

  &__author {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    color: $base-font-color;
  }

  &__year {
    display: inline-block;
  }

  &__my-links {
    margin-bottom: 15px;
  }

  &__fontawesome {
    font-size: 14px;
  }

  &__link {
    color: inherit;
  }
}
