.footer {
  &__top {
    display: none;

    @media (max-width: @tablet) {
      display: flex;
      justify-content: center;
      padding-top: @margin;
    }

    @media (max-width: @footer-asides-direction-bp) {
      flex-direction: column;
      justify-content: space-between;
    }

    @media (max-width: @mobile) {
      padding-top: @margin/2;
    }
  }

  &__item {
    align-self: center;
    margin: @margin/1.5;
    width: 300px;

    @media (max-width: @mobile) {
      margin: @margin/2;
    }
  }

  &__bottom {
    padding: @margin*2 10%;
    text-align: center;

    @media (max-width: @tablet) {
      padding: @margin 10% @margin*1.5;
    }

    @media (max-width: @mobile) {
      padding: @margin/2 10% @margin*1.5;
    }
  }

  &__copyrights-wrapper {
    margin: 0;
  }

  &__copyrights {
    display: inline-block;
    margin-right: 5px;
    color: @grey-82;
  }

  &__author {
    display: inline-block;
    margin-right: 5px;
    color: @font-color;
    text-decoration: none;
  }

  &__year {
    display: inline-block;
  }

  &__my-links {
    margin-top: 15px;
  }
}
