.x-center(@position: absolute; @left: 0; @right: 0; @top: 0; @bottom: 0) {
  position: @position;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
  margin: auto;
}

.x-padding(desktop; @left: 8%; @right: 8%) {
  padding-right: @right;
  padding-left: @left;
}

.x-padding(tablet; @left: 10%; @right: 10%) {
  padding-right: @right;
  padding-left: @left;
}

.x-padding(mobile; @left: 5%; @right: 5%) {
  padding-right: @right;
  padding-left: @left;
}

.x-button(
  @border: border; 
  @border-value: none; 
  @background-color: transparent; 
  @padding: padding; 
  @padding-value: 0; 
  @outline: none; 
  @cursor: pointer) {
  @{padding}: @padding-value;
  outline: @outline;
  @{border}: @border-value;
  cursor: @cursor;
  background-color: @background-color;
}
