.center(@position: absolute, @left: 0, @right: 0, @top: 0, @bottom: 0) {
	position: @position;
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
	margin: auto;
}

.padding(desktop, @left: 10%, @right: 10%) {
	padding-left: @left;
	padding-right: @right;
}

.padding(small-desktop, @left: 8%, @right: 8%) {
	padding-left: @left;
	padding-right: @right;
}

.padding(tablet, @left: 10%, @right: 10%) {
	padding-left: @left;
	padding-right: @right;
}

.padding(mobile, @left: 5%, @right: 5%) {
	padding-left: @left;
	padding-right: @right;
}

.moz-outline-disabled() {
	&:focus {
		outline: none;
	}
}
