///////////////////////////////////////////////////////////////////////////////
// Breakpoints
///////////////////////////////////////////////////////////////////////////////

@small-desktop:                1200px;
@tablet:                       960px;
@mobile:                       600px;
@nav-mobile-fullWidth:         352px;
@footer-asides-direction-bp:   700px;

///////////////////////////////////////////////////////////////////////////////
// Fonts
///////////////////////////////////////////////////////////////////////////////

@font-family:   "Open Sans", sans-serif;

///////////////////////////////////////////////////////////////////////////////
// Sizes
///////////////////////////////////////////////////////////////////////////////

@layout:   1140px;

@font-size--tiny:    14px;
@font-size--small:   15px;
@font-size:          16px;

@font-size--aside:       17px;
@font-size--reference:   20.8px;

@h1-size:   38px;
@h2-size:   28px;
@h3-size:   21px;

@h1-size--mobile:   25px;
@h2-size--mobile:   23px;
@h3-size--mobile:   19px;
@line-height:       26px;

///////////////////////////////////////////////////////////////////////////////
// Colors
///////////////////////////////////////////////////////////////////////////////

@font-color:           #333;
@nav-font-color:       #555;

@contents-font-color:   #555;
@accent-color:          #4367d4;
@visited-link-color:    spin(@accent-color, 40);

@inf-bg-color:         lighten(#607d8b, 48);
@inf-icon-color:       #78909c;
@tip-font-color:       #1b5e20;
@tip-bg-color:         spin(#fbe9e7, 130);
@tip-icon-color:       #4caf50;
@warning-font-color:   #d50000;
@warning-bg-color:     #fbe9e7;
@warning-icon-color:   #ff1744;

@vk-color:        #507299;
@twitter-color:   #55acee;
@email-color:     #ffab00;
@gplus-color:     #dc4e42;

@grey-dark:     darken(#eee, 47.451);
@grey-darker:   darken(#eee, 52.549);
@grey:          #9E9E9E;
@grey-light:    lighten(@grey, 30);

///////////////////////////////////////////////////////////////////////////////
// Shadows
///////////////////////////////////////////////////////////////////////////////

@box-shadow:   0 1px 4px 0 rgba(0, 0, 0, 0.1);
