- var j = 0

mixin h2
  h2.article__h2(id = (j + 1), data-spy="pageNav")
    a.article__anchor.link.link--anchor(href= "#" + (j + 1)) ยง
    | #{itemList[j++]}

mixin h3
  h3.article__h3
    if block
    block