mixin respImg(src, width)
  - var src1 = src + " " + width + "w"
  - var src2 = src.replace(/(\.[\w\d_-]+)$/i, "@1\.5x$1") + " " + Math.round(width * 1.5) + "w"
  - var src3 = src.replace(/(\.[\w\d_-]+)$/i, "@2x$1") + " " + Math.round(width * 2) + "w"

  img(
    srcset = src1 + ", " + src2 + ", " + src3
    sizes = width / 16 + "rem"
    src = src)&attributes(attributes)

mixin svg(id)
  svg(width="30")&attributes(attributes)
    use(xlink:href= "images/sprite.svg" + id)