mixin respImg(src, width)
  - var src1 = src + " " + width + "w"
  - var src2 = src.replace(/(\.[\w\d_-]+)$/i, "@1\.5x$1") + " " + Math.round(width * 1.5) + "w"
  - var src3 = src.replace(/(\.[\w\d_-]+)$/i, "@2x$1")  + " " + Math.round(width * 2) + "w"

  img(
    class  = attributes.class
    srcset = src1 + ", " + src2 + ", " + src3
    sizes  = width / 16 + "rem"
    src	   = src
    alt	   = attributes.alt)

mixin svg(id)
  svg(class= attributes.class, width= "30")
    use(xlink:href="#" + id)