mixin p
  p.article__par
    if block
    block

mixin ol
  ol.article__ordered-list(start= attributes.start)
    if block
    block

mixin ul
  ul.article__marked-list
    if block
    block

mixin li
  li.article__list-item
    if block
    block

mixin code(text)
  code.article__code= text