mixin tooltip(abbr)
  case abbr
    default
      span.article__tooltip(title= attributes.title, data-toggle="tooltip",)
        if block
        block

    when "abbr"
      abbr.article__tooltip(title= attributes.title, data-toggle="tooltip")
        if block
        block