mixin a(modifier)
  case modifier
    default
      a.link.link--article&attributes(attributes)
        if block
        block
    when "note"
      a.link.link--note&attributes(attributes)
        if block
        block