.link {
  text-decoration: none;

  &--entry {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &--anchor {
    padding-right: 10px;
    color: @accent-color;
    font-weight: inherit;
    font-size: 0.8em;
    opacity: 0;
    transition: 0.5s;

    .article__h2:hover & {
      opacity: 1;
    }
  }

  &--article {
    color: darken(@accent-color, 5);

    &:hover {
      border-bottom: 1px solid lighten(@accent-color, 25);
    }

    &:visited {
      border-bottom: 1px solid lighten(spin(@accent-color, 40), 25);
      color: spin(@accent-color, 40);
    }
  }

  &--note {
    color: inherit;
    text-decoration: underline;
  }
}
