.link {
  text-decoration: none;
  hyphens: none;

  &--entry {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &--anchor {
    padding-right: 10px;
    color: @accent-color;
    font: 600 0.8em @font-family;
    opacity: 0;
    transition: opacity 0.5s;

    .article__h2:hover & {
      opacity: 1;
    }
  }

  &--article {
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: @accent-color;
    transition: border-bottom, padding 0.2s ease-in-out;

    &:hover {
      padding-bottom: 2px;
      border-color: @link-border-color;
    }

    &:visited {
      padding: 2px;
      border-color: fade(lighten(@visited-link-color, 40), 99%);
      color: @visited-link-color;
    }
  }

  &--note {
    padding-bottom: 1px;
    border-bottom: 1px solid fade(#fff, 60%);
    color: inherit;
  }
}
