.link {
  text-decoration: none;
  hyphens: none;

  &--entry {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &--anchor {
    padding-right: 10px;
    transition: all .25s ease-out;
    opacity: 0;
    color: $accent;
    font-family: $base-font-family;

    .article__h2:hover & {
      opacity: 1;
    }
  }

  &--article {
    color: $accent;
    font-weight: 700;

    &:visited {
      color: $visited;
    }
  }

  &--note {
    padding-bottom: 1px;
    color: inherit;
    border-bottom: 1px solid fade-out(white, .3);
  }
}
