.link {
  text-decoration: none;
  hyphens: none;

  &--entry {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &--anchor {
    font-family: $font-family;
    padding-right: 10px;
    transition-duration: .15s;
    transition-property: opacity, color;
    opacity: 0;
    color: lighten($accent-color, 10);

    &:hover {
      color: $accent-color;
    }

    .article__h2:hover & {
      opacity: 1;
    }
  }

  &--article {
    font-weight: 700;
    color: $accent-color;

    &:visited {
      padding: 2px;
      color: $visited-link-color;
    }
  }

  &--note {
    padding-bottom: 1px;
    color: inherit;
    border-bottom: 1px solid fade-out(white, .3);
  }
}
