.link {
  text-decoration: none;
  hyphens: none;

  &--entry {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &--anchor {
    padding-right: 10px;
    transition: opacity, color, .3s;
    opacity: 0;
    color: lighten($accent-color, 10);
    font-size: .8em;
    font-weight: 600;

    &:hover {
      color: $accent-color;
    }

    .article__h2:hover & {
      opacity: 1;
    }
  }

  &--article {
    padding-bottom: 7px;
    transition: border-bottom, padding .15s ease-in-out;
    color: $accent-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0);

    &:hover {
      padding-bottom: 2px;
      border-color: $link-border-color;
    }

    &:visited {
      padding: 2px;
      color: $visited-link-color;
      border-color: lighten($visited-link-color, 40);
    }
  }

  &--note {
    padding-bottom: 1px;
    color: inherit;
    border-bottom: 1px solid fade-out(white, 0.5);
  }
}
