.link {
  text-decoration: none;

  &--entry {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &--anchor {
    padding-right: 10px;
    color: @accent-color;
    font-weight: inherit;
    font-size: 0.8em;
    opacity: 0;
    transition: 0.5s;

    .article__h2:hover & {
      opacity: 1;
    }
  }

  &--article {
    color: darken(@accent-color, 5);
    transition: border-bottom .3s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0);

    &:hover {
      border-color: fade(lighten(@accent-color, 25), 99%);
    }

    &:visited {
      border-color: fade(lighten(spin(@accent-color, 40), 25), 99%);
      color: spin(@accent-color, 40);
    }
  }

  &--note {
    color: inherit;
    text-decoration: underline;
  }
}
