mixin error
  .page__error.error(data-toggle="fox")
    - className = "error__img"
    - src       = "images/fox.jpg"
    - width     = 326
    +respImg

    .error__text-wrapper
      .error__type 404
      .error__desc Страница не найдена