mixin error
  div.page__error.error
    - src      = "images/404.jpg"
    - imgClass = "error__img"
    - size     = 326
    - sizes    = size / 16 + "em"
    +respImg

    div.error__text-wrapper
      div.error__type 404
      div.error__desc Страница не найдена