mixin error
  div.page__error.error
    - className = "error__img js-animate-fox"
    - src       = "images/fox.jpg"
    - width     = 326
    +respImg

    div.error__text-wrapper
      div.error__type 404
      div.error__desc Страница не найдена