.share {
  &__container {
    display: flex;
    justify-content: space-around;
    padding: 17px;
  }

  &__btn {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @media(min-width: $tablet) and (max-width: $desktop) {
      width: 45px;
      height: 45px;
    }

    &--vk {
      @include x-button-states($vk);
    }

    &--gplus {
      @include x-button-states($gplus);
    }

    &--twitter {
      @include x-button-states($twitter);
    }

    &--fb {
      display: none;

      @media (max-width: $tablet) {
        display: block;

        @include x-button-states($facebook);
      }
    }

    &--copy-url {
      @include x-button();
      @include x-button-states($grey-152);

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    fill: white;

    @include x-center();

    @media(min-width: $tablet) and (max-width: $desktop) {
      width: 20px;
      height: 20px;
    }
  }

  &__paste-wrapper {
    display: none;
    padding-bottom: 17px;
    text-align: center;
  }

  &__paste {
    width: 80%;
    height: 40px;
    text-align: center;
    border: none;
  }
}
