.share {
  @media (max-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  @media (max-width: $mobile) {
    display: none;
  }

  &__headline {
    @media (max-width: $tablet) {
      color: $dimmed-font-color;
      font-size: 18px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;

    @media (max-width: $tablet) {
      width: 180px;
    }
  }

  &__btn {
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    transition: $transition;

    &:hover {
      transform: scale(1.05);
    }

    &--vk      { background: $vk; }
    &--twitter { background: $twitter; }
    &--fb      { background: $facebook; }

    &--url {
      background: $grey;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
    fill: white;
    @include x-center();

    @media(min-width: $tablet) and (max-width: $desktop) {
      width: 20px;
      height: 20px;
    }

    .share__btn--copy-url & {
      transform: rotate(-45deg) scale(1.1);
    }
  }

  &__output-wrapper {
    display: none;
    box-sizing: border-box;
    padding-bottom: 17px;
    text-align: center;
    transition: all .6s;
  }

  &__output-field {
    width: 80%;
    height: 40px;
    text-align: center;
    border: none;
    font-style: italic;
    color: lighten($base-font-color, 10);
  }
}
