.share {
  @media (max-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  @media (max-width: $mobile) {
    display: none;
  }

  &__headline {
    @media (max-width: $tablet) {
      color: $dimmed;
      font-size: 20px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    @media (max-width: $tablet) {
      width: 270px;
    }
  }

  &__btn {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: $transition;

    &:hover { 
      transform: scale(1.05); 
    }

    &--vk      { background: $vk; }
    &--gplus   { background: $googleplus; }
    &--twitter { background: $twitter; }

    &--fb {
      display: none;

      @media (max-width: $tablet) {
        display: block;
        background: $facebook;
      }
    }

    &--url {
      background: $grey;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: white;
    @include x-center();

    @media(min-width: $tablet) and (max-width: $desktop) {
      width: 20px;
      height: 20px;
    }

    .share__btn--copy-url & {
      transform: rotate(-45deg) scale(1.1);
    }
  }

  &__output-wrapper {
    display: none;
    padding-bottom: 17px;
    text-align: center;
  }

  &__output-field {
    width: 80%;
    height: 40px;
    text-align: center;
    border: none;
  }
}
