- var selected = "site-nav__item--selected"

mixin site-nav
  nav.site-nav
    a(href="#target").site-nav__open-btn
      +svg("site-nav__open-icon", "menu")
    a.site-nav__open-target(id="target")
    div.site-nav__inner
      ul.site-nav__list.js-fixed-menu-toggle
        li
          a(href="#0").site-nav__close-btn
            +svg("site-nav__close-icon", "arrow-down")
        li.site-nav__item(class= attributes.index)
          a.site-nav__link(href= indexLink) macOS на ПК 
        li.site-nav__item(class= attributes.vmware)
          a.site-nav__link(href= vmLink ) macOS на VMWare
        li.site-nav__item(class= attributes.services)
          a.site-nav__link(href= servicesLink) Запуск iCloud &amp; App Store
        li.site-nav__item(class= attributes.sound)
          a.site-nav__link(href= soundLink) Завод звука
        li.site-nav__item.site-nav__item--popup(class= attributes.pageA0)
          a.site-nav__link Разное
            +svg("site-nav__popup-icon", "arrow-down")

          ul.site-nav__list
            li.site-nav__item(class= attributes.kexts)
              a.site-nav__link(href= kextsLink) Установка кекстов
            li.site-nav__item(class= attributes.efi)
              a.site-nav__link(href= efiLink) Монтирование EFI
                  