.article {
  display: flex;
  flex-direction: column;
  width: 700px;

  @media (max-width: $large-screen) {
    width: 600px;
  }

  @media (max-width: $medium-screen) {
    width: 100%;
  }

  &__header {
    margin: ($header-height + $large-margin) 0 20px;

    @media (max-width: $medium-screen) {
      order: -2;
      margin-top: 65px + ($margin * 2);
      margin-bottom: $margin * 2;
    }

    @media (max-width: $small-screen) {
      margin-top: 55px + $margin;
      margin-bottom: $margin;
    }
  }

  &__contents {
    display: none;

    @media (max-width: $medium-screen) {
      display: block;
      order: -1;
      margin-bottom: $margin;
    }
  }

  &__section {
    padding: 0 20px;
    word-wrap: break-word;
    // hyphens: auto;

    @media (max-width: $large-screen) {
      padding:0;
    }
  }

  &__h2 {
    position: relative;
    display: inline-block;
    margin: $margin * 1.5 0;
    color: $base-font-color;
    font-family: $headings-fonts;
    font-size: $h2-size;
    font-weight: 700;

    @media (max-width: $small-screen) {
      font-size: $h2-size--mobile;
    }
  }

  &__h3 {
    margin-bottom: $margin;
    color: $base-font-color;
    font-family: $headings-fonts;
    font-size: $h3-size;
    font-weight: 700;

    @media (max-width: $small-screen) {
      font-size: $h3-size--mobile;
    }
  }

  &__anchor {
    position: absolute;
    top: -.1em;
    left: -.8em;
    padding-right: 12px;
    opacity: 0;
    color: $accent-color;
    font-family: $base-fonts;
    font-size: 1.2em;
    transition: $transition;

    .article__h2:hover & {
      opacity: 1;
    }

    @media (max-width: $small-screen) {
      display: none;
    }
  }

  &__par {
    margin-bottom: $margin;

    .article__ordered-list & {
      margin-top: $margin;
    }
  }

  &__ordered-list {
    margin-bottom: $margin;
    list-style: inside decimal;

    ol & {
      margin-top: $margin;
      padding-left: 5%;
      list-style: none;
    }
  }

  &__marked-list {
    margin-bottom: $margin;
    padding-left: 40px;
    list-style: none;
  }

  &__list-item {
    position: relative;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    ul & {
      &::before {
        position: absolute;
        top: .65em;
        left: -1.2em;
        width: .368em;
        height: .368em;
        content: "";
        border-radius: 50%;
        background: $grey-133;
      }
    }

    ol ol & {
      &::before {
        position: absolute;
        left: -30px;
        display: inline-block;
        width: 25px;
        text-align: right;
      }
    }
  }

  &__note {
    position: relative;
    margin: $margin auto;
  }

  &__img-wrapper {
    margin: $margin auto;
    text-align: center;

    .article__figure & {
      margin: 0;
    }
  }

  &__link {
    display: inline-block;
  }

  &__img {
    display: inline-block;
    max-width: 480px;
    color: $grey-133;
    transition: opacity .5s ease-in;

    @media (max-width: $small-screen) {
      width: 100%;
      max-width: none;
    }
  }

  &__figure {
    margin: $margin auto;
    text-align: center;
  }

  &__figcaption {
    margin-top: 20px;
    font-style: italic;
  }

  //
  // Tooltip selector priority is increased
  // to override normalize.css values for <abbr>
  //

  &__tooltip[title] {
    text-decoration: none;
    hyphens: none;
    border-bottom: 1px dashed $grey-133;
    //
    // Set pointer instead of help to avoid problems
    // with event listener on iOS.
    //
    cursor: pointer;
  }

  &__code {
    padding: 3px 6px;
    hyphens: none;
    border-radius: 4px;
    background: $grey-235;
    font-size: 0.947em;

    @media (max-width: $small-screen) {
      font-size: 0.889em;
    }
  }
}
