.footer {
  height: 100%;
  padding: 35px 0 45px;
  padding-bottom: env(safe-area-inset-bottom);
  color: white;
  background: $footer-color;
  text-align: center;

  @media (max-width: $small-screen) {
    padding: 40px 0;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: inherit;
    background: inherit;
    transform: skewY(-2deg);
    transform-origin: 0 0;
  }

  &__share {
    display: none;

    @media (max-width: $medium-screen) {
      display: flex;
      margin-bottom: 20px;
    }

    @media (max-width: $small-screen) {
      display: none;
    }
  }

  &__copyrights {
    margin-bottom: 15px;
    padding: 0 20px;
  }
}
