.note {
  width: 400px;
  padding: 15px 15px 15px 60px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  font-family: $second-font;
  font-size: 15px;
  line-height: 1.5;

  @media (max-width: $mobile) {
    padding-left: 55px;
    width: auto;
    font-size: 0.895em;
  }

  &__icon {
    position: absolute;
    top: 27px;
    left: 20px;
    width: 23px;
    height: 23px;
    fill: white;

    @media (max-width: $mobile) {
      width: 25px;
      height: 25px;
      left: 16px;
    }
  }

  &__text {
    margin: 0;
    font-weight: inherit;
  }

  &--inf     { background: $info; }
  &--tip     { background: $tip; }
  &--warning { background: $warning; }
}
