.note {
  padding: 14px;
  padding-left: 60px;
  width: 75%;
  border-radius: @border-radius--large;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: @font-size--small;
  line-height: 1.45;

  @media (max-width: @mobile) {
    padding-right: 15px;
    width: auto;
  }

  &__icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    fill: #fff;
  }

  &__text {
    margin: 0;
  }

  &__type {
    font-weight: 600;
  }

  &--inf {
    background: @inf-note;
  }

  &--tip {
    background: @tip-note;
  }

  &--warning {
    background: @warning-note;
  }
}
