.note {
  padding: 16px;
  padding-left: 56px;
  border-radius: 15px;
  font-size: @font-size--small;
  line-height: 1.5;

  &__type {
    color: inherit;
    font-weight: 600;
  }

  &__text {
    margin: 0;
  }

  &--inf {
    background-color: @inf-bg-color;
    color: @font-color;
  }

  &--tip {
    background-color: @tip-bg-color;
    color: @tip-font-color;
  }

  &--warning {
    background-color: @warning-bg-color;
    color: @warning-font-color;
  }

  &__icon {
    position: absolute;
    top: 16px;
    left: 18px;
    width: 26px;
    height: 26px;

    &--inf {
      fill: @inf-icon-color;
    }

    &--tip {
      fill: @tip-icon-color;
    }

    &--warning {
      fill: @warning-icon-color;
    }
  }
}
