- var inf = "note--inf"
- var tip = "note--tip"
- var warning = "note--warning"

mixin note(type)

  case type

    when inf
      aside.article__note.note(class= inf)
        +svg("#info-circle")(class="note__icon")
        p.note__text
          if block
          block

    when tip
      aside.article__note.note(class= tip)
        +svg("#lightbulb")(class="note__icon")
        p.note__text
          if block
          block

    when warning
      aside.article__note.note(class= warning)
        +svg("#exclamation-triangle")(class="note__icon")
        strong.note__text
          if block
          block