- var infText     = "Примечание:",     inf = "note--inf"
- var tipText     = "Совет:",          tip = "note--tip"
- var warningText = "Предупреждение:", warning = "note--warning"

mixin note(type)
  case type
    when inf
      aside.article__note.note(class= inf)
        +svg("note__icon", "help")
        p.note__text= infText
        if block
        block
    when tip
      aside.article__note.note(class= tip)
        +svg("note__icon", "lightbulb")
        p.note__text= tipText
        if block
        block
    when warning
      aside.article__note.note(class= warning)
        +svg("note__icon", "warning")
        p.note__text= warningText
        if block
        block