- var inf     = "note--inf"
- var tip     = "note--tip"
- var warning = "note--warning"

mixin note(type)
  case type

    when inf
      aside.article__note.note(class= inf)
        +svg("note__icon", "info-circle")
        p.note__text
          if block
          block

    when tip
      aside.article__note.note(class= tip)
        +svg("note__icon", "lightbulb")
        p.note__text
          if block
          block

    when warning
      aside.article__note.note(class= warning)
        +svg("note__icon", "exclamation-triangle")
        strong.note__text
          if block
          block