.footer {
  &__top {
    display: none;

    @media (max-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 60px;
    }

    @media (max-width: $mobile) {
      padding-top: 20px;
    }
  }

  &__item {
    align-self: center;
    width: 300px;
    margin: 20px;
  }

  &__bottom {
    margin: 50px 0;
    text-align: center;

    @media (max-width: $mobile) {
      margin-top: 20px;
    }
  }

  &__copyrights-wrapper {
    margin: 0 0 15px;
  }

  &__copyrights {
    display: inline-block;
    margin-right: 5px;
    color: $font-color--light;
  }

  &__author {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    color: $font-color;
  }

  &__year {
    display: inline-block;
  }
}
