.aside {
  overflow: hidden;
  border-radius: $border-radius;
  background: white;

  &__headline {
    margin: 0 0 5px;
    padding-top: 22px;
    text-align: center;
    font-family: $headings-font-family;
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
  }
}
