.aside {
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  box-shadow: @box-shadow;

  &__headline {
    margin: 0;
    padding: 17px;
    border-bottom: 2px solid @grey-235;
    text-align: center;
    font-weight: 600;
    font-size: @font-size--aside;
    line-height: 1;
  }
}
