- var accent = "article-header--theme-accent"

mixin articleHeader

  mixin published
    time.article-header__data-item(datetime= published[2] + "-" + published[1] + "-" + published[0])= published[0] + "." + published[1] + "." + published[2]

  mixin modified
    time.article-header__data-item.js-date-modified(datetime= modified[2] + "-" + modified[1] + "-" + modified[0])

  header.article__header.article-header
    .article-header__img-wrapper
      +svg(articleHeader.iconId)(class="article-header__img")
    h1.article-header__headline!= articleHeader.title
    p.article-header__data
      case isModified
        default
          +published
        when true
          +published
          +modified
      if block
        block