mixin rate
	div.rate
		div.rate__inner
			p.rate__text Понравилась ли Вам статья?
			div.rate__btn
				<!-- LikeBtn.com BEGIN -->
				<span data-identifier="#{likeBtnId}" class="likebtn-wrapper" data-theme="custom" data-btn_size="45" data-f_size="16" data-icon_size="20" data-icon_l_c_v="#4367d4" data-icon_d_c_v="#d50000" data-bg_c="#ffffff" data-brdr_c="#ebebeb" data-label_fs="r" data-lang="ru" data-ef_voting="push" data-show_like_label="false" data-counter_clickable="true" data-tooltip_enabled="false" data-site_id="5a3d664ffa8fdfc60c2a6d6b" data-share_enabled="false"></span>
				<!-- LikeBtn.com END -->