mixin error404
  .error404
    +respImg("images/fox.jpeg", 400)(class="error404__img js-animate-picture" alt="")
    .error404__text-wrapper
      .error404__type 404
      .error404__desc Страница не найдена