mixin footer
  footer.page__footer.footer
    +share(appendClass = "footer__share")
    p.footer__copyrights
      | © Дизайн,&nbsp;код&nbsp;и&nbsp;тексты. Daur&nbsp;“Bro&nbsp;Fox”&nbsp;Gamisonia,&nbsp;2020.
    +myLinks
