- var selected = "nav__item--selected"

mixin nav
  nav.nav
    a(href="#target" aria-label="Открыть меню навигации").nav__open-btn
      +svg("#bars")(class="nav__open-icon")
    a.nav__open-target(id="target")
    .nav__inner
      ul.nav__list
        li
          a.nav__close-btn(href="#0" aria-label="Закрыть меню навигации")
            +svg("#angle-left")(class="nav__close-icon")
        li.nav__item(class= attributes.mainGuide)
          a.nav__link(href= page.index) macOS на PC
        li.nav__item(class= attributes.vmware)
          a.nav__link(href= page.vmware ) macOS на VMWare

        li.nav__item.nav__item--popup
          span.nav__link Другое
            +svg("#arrow-down")(class="nav__popup-icon")
          ul.nav__nested-list
            li.nav__item(class= attributes.kexts)
              a.nav__link(href= page.kexts) Установка кекстов
            li.nav__item(class= attributes.services)
              a.nav__link(href= page.services) iCloud &amp; AppStore
            li.nav__item(class= attributes.sound)
              a.nav__link(href= page.sound) Настройка звука
            li.nav__item(class= attributes.efi)
              a.nav__link(href= page.efi) Монтирование EFI
