extends /layouts/layout

prepend page
  - var encodedUrl = page.indexForShare

block head
  meta(charset="utf-8")
  meta(content="width=device-width, initial-scale=1" name="viewport")
  title="Страница не найдена"

  // inject:critical:css 
  // endinject

  // build:css css/styles.min.css rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" 
  link(href="css/main.css" rel="stylesheet")
  // endbuild 

  // inject:fg-loadcss:html 
  // endinject 
  
  // inject-string:noscript

block inner
  +error404

block sidebar