extends /pug/layout

prepend page
  - var pageTitle = "Установка macOS Mojave на ПК на базе Intel"
  - var pageDesc = "С помощью этого руководства получится установить хакинтош на большинство персональных компьютеров на базе intel."
  - var isDateModified = true
  - var datePublished = ["03", "05", "2017"]
  - var dateModified = ["06", "12", "2018"]
  - var pageLink = page.index
  - var likeBtnId = "Установка macOS на ПК"
  -
    var metaImage = {
      src: "images/content/install-on-pc/mojave-desktop-dark_original.jpg",
      width: 960,
      height: 540
    }
  -
    var articleHeader = { 
      iconId: "#apple",
      title: "Установка macOS Mojave<br> на ПК на базе Intel"
    }
  -
    var itemList = [
      "Введение", 
      "Подготовка", 
      "Создание флешки", 
      "Настройка BIOS/UEFI", 
      "Установка macOS", 
      "Пост-установка",
      "Полезные ссылки"
    ]

block articleHeader
  +articleHeader

block nav
  +nav()(mainGuide = selected)

block content
  +section
    +h2
    +p
      | Данное руководство является переведенной и адаптированной версией инструкции по установке официального чистого образа macOS Mojave на ПК портала 
      +a()(href="https://www.tonymacx86.com")
        | www.tonymacx86.com
      | . Руководство содержит советы и ссылки на полезную информацию, то есть то, что как правило не приводится в других статьях на эту тему, и то, что новичкам приходится долго и порой мучительно искать самостоятельно.
    +h3
      | О сложностях установки
    +p
      | Стоит иметь ввиду, что установка macOS на ПК часто сопряжена со множеством проблем, решение всех из которых ни одно руководство охватить не в состоянии: macOS рассчитана на фирменное оборудование Apple, тогда как у пользователей, настраивающих хакинтош, большой разброс конфигураций компьютеров. Поэтому проблемы возникают у всех разные. Исходя из этого искать решения придется в сети, желательно на зарубежных ресурсах, таких как упомянутый 
      +a()(href="https://www.tonymacx86.com/")
        | www.tonymackx86.com
      | . Либо на 
      +a()(href="https://applelife.ru")
        | applelife.ru
      | , если уж совсем не владеете английским. Весьма вероятно, что человек с аналогичной проблемой уже обращался за помощью и решил ее определенным образом.
  +section
    +h2
    +h3
      | а) Настройка VMWare
    +p
      | Для того чтобы установить официальный образ macOS Mojave на ПК, потребуется для начала загрузить его через цифровой магазин App Store. Это можно сделать с помощью виртуальных машин, программ, которые эмулируют работу одной операционной системы внутри другой. На этом сайте будет приведена установка и настройка бесплатной версии одной из таких программ — VMWare Workstation Player. Запущенная на виртуальной машине macOS отображается как обычная программа для Windows — в окне или в режиме полного экрана. Установка и настройка виртуальной машины VMWare подробно изложена на отдельной 
      +a()(href= page.vmware)
        | странице
      | .
    +note(tip)
      | Загрузка macOS Mojave с App Store возможна также и на многих компьютерах Mac 2012 года и более поздних моделей.
    +p
      | macOS рекомендуется устанавливать на 
      em отдельный 
      | жесткий диск, на котором нет основной ОС. Жесткий диск при этом будет полностью отформатирован в файловую систему 
      +tooltip("abbr")(title="Apple File System – это новая, современная файловая система, разработанная компанией Apple для использования в iOS, macOS, tvOS и watchOS. APFS оптимизирована для работы с Flash/SSD накопителями и включает в себя функциональность сильного шифрования, copy-on-write, space sharing, клонирования файлов и папок, создания снимков (snapshots). ©Wikipedia")
        | APFS
      | . 
    +note(inf)
      | Если знаете английский язык, возможно, вам будет удобнее оригинальное руководство: 
      +a("note")(href="https://www.tonymacx86.com/threads/unibeast-install-macos-mojave-on-any-supported-intel-based-pc.259381/")
        | Install macOS Mojave on any supported intel based PC
      | .
    +h3
      | б) Сбор информации
    +p
      | Потребуется подробная информация о конфигурации вашего компьютера:
    +ul
      +li
        | поддерживает ли материнская плата 
        i (далее — МП) 
        | UEFI, либо использует BIOS?
      +li
        | поколение процессора intel Core. Например, Haswell или Skylake. Подтверждена работа на семействе процессоров Core 2. В принципе, с процессорами intel у macOS нет проблем;
      +li
        | аудиокодек МП, если используете встроенную звуковую карту. На системах с чипсетом intel как правило установлен один из кодеков Realtek ALC.
    +ol
      +li
        | Скачайте диагностическую утилиту 
        +a()(href="https://www.aida64.com/downloads")
          | AIDA64
        | .
      +li
        | В разделе «Суммарная информация» узнайте чипсет своей МП.
        +image("images/content/install-on-pc/сhipset.jpg")(data-size="935x590" alt="Информация о чипсете в AIDA64")
      +li
        | И «тип BIOS» — AMI UEFI или AWARD BIOS. 
        +image("images/content/install-on-pc/bios-type.jpg")(data-size="935x590" alt="«Тип BIOS» в AIDA64")

        +note(inf)
          | Об основных отличиях UEFI от BIOS подробно рассказано в статье на сайте  
          +a("note")(href="http://vindavoz.ru/poleznoe/128-chem-uefi-luchshe-obychnogo-bios-i-kakovy-otlichiya.html")
            | vindavoz.ru
          | .
      +li
        | На той же вкладке указан аудиокодек.
        +image("images/content/install-on-pc/audio-codec.jpg")(data-size="935x590" alt="Аудиокодек в AIDA64")
      +li
        | Название сетевой карты в разделе «Сеть PCI/PnP».
        +image("images/content/install-on-pc/ethernet-card.jpg")(data-size="935x590" alt="Раздел сетевого оборудования в AIDA64")
    +h3
      | в) Перед тем, как начать
    +ul
      +li
        | имейте наготове USB-накопитель 
        i (далее — флешка) 
        | объемом от 16 Гб;
      +li
        | зарегистрируйтесь на 
        +a()(href="https://tonymacx86.com/login/login")
          | www.tonymacx86.com
        | ;
      +li
        | загрузите последние версии UniBeast и MultiBeast из раздела 
        +a()(href="https://www.tonymacx86.com/resources/categories/tonymacx86-downloads.3/")
          | Downloads
        | ;
      +li
        | сделайте резервную копию всех важных данных!
  +section
    +h2
    +ol
      +li
        | Найдите в App Store образ Mojave и загрузите. Размер загружаемых данных должен быть около 5-6 Гб.
        +note(tip)
          | Ввиду 
          +a("note")(href="https://www.tonymacx86.com/nvidia-drivers/") 
            | отсутствия
          |  альтернативных драйверов Nvidia для macOS Mojave, на системы с видеокартами GeForce лучше устанавливать стабильную версию High&nbsp;Sierra, доступную для загрузки по 
          +a("note")(href="https://itunes.apple.com/us/app/macos-high-sierra/id1246284741?mt=12")
            | прямой ссылке
          | .
      +li 
        | (Необязательно) Если вместо полноценного образа загрузится небольшой установщик размером ~20 Мб, выполните инструкцию ниже. В противном случае пропустите данный этап.
        +ol
          +li
            | запустите Install macOS Mojave и загрузите данные полноценного образа; 
            +image("images/content/install-on-pc/install-image-from-appstore.png")(data-size="912x734" alt="Загрузка образа macOS Mojave")
            +note(warning)
              | Если загрузка образа macOS происходит через виртуальную машину, советую проследить момент ее окончания. Иначе может произойти автоматическое обновление VMWare, что крайне нежелательно.
          +li
            | в конце будет предложено перезагрузить ОС. 
            em Не делайте этого!
            |  Выйдите из приложения установки через значок в доке;
          +li
            | откройте терминал (Finder > Программы > Утилиты > Терминал);
          +li
            | введите 
            +code("sudo -s")
            |  и пароль администратора.<br> Затем по очереди следующие 3 команды:
          +li
            +code("mkdir /Applications/Install\ macOS\ Mojave.app<wbr>/Contents<wbr>/SharedSupport")
          +li
            +code("cd /macOS\ Install\ Data")
          +li
            +code("find . -mount | cpio -pvdm <wbr>/Applications<wbr>/Install\ macOS\ Mojave.app<wbr>/Contents<wbr>/SharedSupport")
            +p
              | Последняя команда начнет сборку образа из загруженных данных. Дождитесь ее окончания. На строку 
              i “Failed to set file flags” 
              | не обращайте внимания.
            +image("images/content/install-on-pc/build-an-image.png")(data-size="893x478" alt="Сборка образа macOS Mojave")
    +ol
      +li
        | Вставьте флешку.
      +li
        | Откройте Finder &gt; «Программы» &gt; «Утилиты» &gt; «Дисковая утилита» и выберите ее в левой колонке.
        +image("images/content/install-on-pc/install-unibeast-1.png")(data-size="1864x1130" alt="Окно дисковой утилиты macOS")
      +li
        | Нажмите «Стереть».
      +li
        | Введите любое имя на латинице, например, 
        i USB 
        | (имя можно изменить позже).
      +li
        | Выберите формат OS X Extended (Журналируемый).
      +li
        | Выберите схему GUID partition Map (GPT).
        +image("images/content/install-on-pc/install-unibeast-2.png")(data-size="1864x1130" alt="Форматирование диска в macOS")
      +li
        | Нажмите «Стереть», а затем «Готово».
      +li
        | Запустите 
        +a()(href="https://www.tonymacx86.com/resources/categories/tonymacx86-downloads.3/")
          | UniBeast
        | .
      +li
        | Нажимайте Continue, Continue, Continue, Agree, пока не дойдете до Destination Select.
      +li
        | На этапе Destination Select выберите флешку и нажмите Continue.
        +image("images/content/install-on-pc/install-unibeast-4.png")(data-size="1622x1204" alt="Destination select в UniBeast")
        +note(tip)
          | У UniBeast могут быть проблемы обнаружением внешних HDD. Для того чтобы обойти это ограничение, я создал 16 Гб раздел с файловой системой HFS с помощью Paragon Hard Disk Manager, а остальное пространство оставил нераз&shy;меченным.
      +li
        | На этапе Select OS Installation выберите Mojave и нажмите Continue.
      +li
        | В Bootloader Options выберите UEFI Boot Mode или Legacy Boot Mode. 
        +p
          i UEFI Boot Mode 
          | рекомендуется для 7/8/9/100/200/300 серии чипсетов Intel и для всех МП, поддерживающих UEFI. 
          i Legacy Boot Mode
          |  рекомендуется для 5/6 серий чипсетов, а также для всех систем на базе традиционного BIOS.
        +note(inf)
          | Чипсеты Intel для МП 100-й серии — это такие модели как h370, B150 и т.п. Чипсеты 9-й серии — H97, Z97 и т.п.
        +image("images/content/install-on-pc/install-unibeast-5.png")(data-size="1622x1204" alt="Bootloader Configuration в UniBeast")
      +li
        | (Необязательно) В Graphics Configuration представлен список опций для старых видеокарт и встроенных решений. Ознакомьтесь с их описанием.
      +li
        | Проверьте параметры установки, затем нажмите Continue и Install. 

        +p
          |Процесс может занять до 10 минут в зависимости от системы и скорости накопителя. Не рекомендую выходить из виртуальной машины, в случае, если создание флешки происходит через нее.
        +image("images/content/install-on-pc/install-unibeast-6.png")(data-size="1622x1204" alt="Installation в UniBeast")
        +note(inf)
          | Для того чтобы macOS запустилась на обычном ПК, ей нужен сторонний загрузчик. UniBeast создаст загрузочную флешку, используя актуальный на данное время загрузчик Clover. 
      +li
        | Переместите архив с 
        +a()(href="https://www.tonymacx86.com/resources/categories/tonymacx86-downloads.3/")
          | MultiBeast
        |  на созданный накопитель.
        +note(tip)
          | При желании вернуть флешку в прежнее состояние, необходимо будет не только полностью ее отформатировать в NTFS/FAT32, но, возможно, изменить и схему ее разделов на MBR.
  +section
    +h2
    +p
      | Если установка выполняется на системе с UEFI, то настройка МП не будет сложной. В противном случае понадобится сбросить настройки BIOS на стандартные и изменить режим работы жесткого диска на AHCI. Ниже приведены общие рекомендации для всех МП. За ними следуют рекомендации по настройке для МП от разных производителей.
    +note(warning)
      | Автор руководства не несет никакой ответственности за ваши утерянные данные, испорченное оборудование и кривые руки.
    +h3 
      | Общие настройки
    +ol
      +li
        | Сбросьте параметры BIOS (Load Optimized Defaults).
      +li
        | Выключите 
        +tooltip("abbr")(title="Аппаратная виртуализация — виртуализация с поддержкой специальной процессорной архитектуры. Аппаратная виртуализация обеспечивает производительность, сравнимую с производительностью невиртуализованной машины, что дает виртуализации возможность практического использования и влечет её широкое распространение. ©Wikipedia")
          | VT-d
        | .
      +li
        | Выключите CFG-Lock.
      +li
        | Выключите 
        +tooltip()(title="Опция Secure Boot разрешает/запрещает возможность установки  других ОС на данном устройстве.")
          | Secure Boot Mode
        | .
      +li
        | Измените опцию OS Type на Other OS.
      +li
        | Выключите 
        +tooltip()(title="После́довательный порт (англ. serial port, COM-порт, англ. communications port) — сленговое название интерфейса стандарта RS-232, которым массово оснащались персональные компьютеры. ©Wikipedia")
          | IO SerialPort
        | .
      +li
        em Включите 
        +tooltip()(title="XHCI Handoff запрещает передачу управления от BIOS к OC, что исключает конфликты, которые могут возникнуть при работе устройств USB. Данная проблема были исправлена с выходом обновления Windows XP – Service Pack 2 и последующие версии Windows.")
          | XHCI Handoff
        | .
      +li
        | Если в системе набор логики (чипсет) Intel 6-й серии или Intel x58 с AWARD BIOS, выключите порты USB 3.0
      +li
        | Сохраните изменения и перезагрузите компьютер.
    +h3
      | Инструкция для Gigabyte
    +p
      | Для 
      +a()(href="https://www.tonymacx86.com/threads/recommended-bios-uefi-settings-for-beginners.130920/")
        | UEFI
      | :
    +ol
      +li
        | Нажмите и удерживайте клавишу (Delete) во время загрузки системы.
      +li
        | Сбросьте настройки UEFI на стандартные (Load Optimized Defaults).
      +li
        | (Необязательно) Измените X.M.P. Memory Profile на Profile1.
      +li
        | Выключите 
        +tooltip("abbr")(title="Аппаратная виртуализация — виртуализация с поддержкой специальной процессорной архитектуры. Аппаратная виртуализация обеспечивает производительность, сравнимую с производительностью невиртуализованной машины, что дает виртуализации возможность практического использования и влечет её широкое распространение. ©Wikipedia")
          | VT-d
        | .
      +li
        | Сохраните изменения и перезагрузите компьютер.
    +p
      | Для 
      +a()(href="http://tonymacx86.blogspot.ru/2010/04/iboot-multibeast-install-mac-os-x-on.html")
        | BIOS
      | :
    +ul
      +li
        | используйте только одну видеокарту с одним подключенным монитором;
      +li
        | отключите любые жесткие диски за исключением пустого, на который будет установлена macOS;
      +li
        | отключите любую USB периферию, кроме клавиатуры и мыши;
      +li
        | отключите любые PCI-карты за исключением видеокарты: они могут быть несовместимы с macOS;
      +li
        | рекомендуется использовать пустой жесткий диск.
    +ol
      +li
        | Сбросьте настройки BIOS на стандартные (Load Optimized Defaults).
      +li
        | Измените режим работы жесткого диска на AHCI.
      +li
        | Измените приоритет загрузки: поставьте загрузку с CD-ROM 
        | на первое место.
      +li
        | (Необязательно) Измените X.M.P. Memory Profile на Profile1.
      +li
        | Измените режим 
        +tooltip("abbr")(title="HPET (англ. High Precision Event Timer, таймер событий высокой точности) — тип таймера, используемый в персональных компьютерах. ©Wikipedia")
          | HPET
        |  на 64-bit mode.
    +h3 
      | Инструкция для ASUS на UEFI
    +p
      | Для ASUS Z97-A 
      +a()(href="https://www.tonymacx86.com/threads/tonymacx86s-asus-test-build-z97-a-i3-4340-hd4600-thunderbolt-ex-ii.136796/")
        | рекомендуется
      |  версия прошивки v1204 или новее. В настройках проверить, отключена ли CFG lock.
    +h3 
      | Инструкция для MSI на UEFI
    +ol
      +li
        | Сбросьте настройки UEFI на стандартные (Load Optimized Defaults).
      +li
        | Включите 
        +tooltip()(title="XHCI Handoff запрещает передачу управления от BIOS к OC, что исключает конфликты, которые могут возникнуть при работе устройств USB. Данная проблема были исправлена с выходом обновления Windows XP – Service Pack 2 и последующие версии Windows.")
          | XHCI Handoff
        | .
      +li
        | Выключите CFG-Lock.
      +li
        | Выключите 
        +tooltip("abbr")(title="Аппаратная виртуализация — виртуализация с поддержкой специальной процессорной архитектуры. Аппаратная виртуализация обеспечивает производительность, сравнимую с производительностью невиртуализованной машины, что дает виртуализации возможность практического использования и влечет её широкое распространение. ©Wikipedia")
          | VT-d
        | .
      +li
        | Сохраните изменения и перезагрузите компьютер.
    +p
      | В более наглядном виде это показано тут: 
      +a()(href="https://www.tonymacx86.com/threads/msi-9-series-motherboards-os-x-setup-and-configuration.143167/")
        | www.tonymacx86.com/threads/msi-9-series-motherboards-os-x-setup-and-configuration
  +section
    +h2
    +p
      | Вы почти закончили! Все, что осталось для установки — загрузиться с флешки, отформатировать жесткий диск и установить macOS. Для лучших результатов рекомендуется вставить накопитель в разъем USB 2.0
    +ol
      +li
        | Включите компьютер и загрузитесь с USB, выбрав соответствующий пункт в меню загрузки UEFI. Или предварительно настройте для этого загрузку с USB/CD-ROM в BIOS.
      +li
        | Когда появится интерфейс Clover, запустите установку macOS с загрузочной флешки.
        +image("images/content/install-on-pc/unibeast-clover-screen.jpg")(data-size="1024x768" alt="Загрузочный экран Clover")
      +li
        | (Необязательно). Для первичной установки macOS на ПК необходимо отформатировать целевой жесткий диск.
        +ol
          +li
            | в верхнем меню выберите «Утилиты» и откройте «Дисковую утилиту»;
          +li
            | выберите целевой жесткий диск в левой колонке;
          +li
            | нажмите кнопку «Стереть»;
          +li
            | введите имя на латинице, например, 
            i macOS
            | ;
          +li
            | формат: OS X Extended (Журналируемый);
          +li
            | схему разделов: GUID partition Map (GPT);
          +li
            | нажмите «Стереть»;
          +li
            | выйдите из дисковой утилиты.
      +li
        | Когда попросят выбрать место установки, укажите созданный раздел.
      +li
        | По окончании система будет автоматически перезагружена.
      +li
        | После выберите раздел с установленной macOS через меню Clover.
  +section
    +h2
    +h3
      | a) Настройка устройств с помощью MultiBeast
    +p
      | MultiBeast — пакет программ «все в одном», который разработан упростить настройку macOS на ПК. В состав программы входит загрузчик Clover, набор 
      +tooltip()(title="«Кекст» — транскрипция английского сокращения kext от «kernel extension», т.е. расширение ядра. В виде кекстов реализованы практически все драйверы для macOS. ©Wikipedia")
        | кекстов
      |  для настройки оборудования и скрипты для настройки загрузчика. MultiBeast настроит загрузку macOS с жесткого диска, заместо того, чтобы всякий раз делать это с загрузочного USB. Кроме этого, MultiBeast поможет настроить встроенное аудио, сетевую карту, видеокарту и другое внутренние устройства компьютера. То есть основное отличие MultiBeast от UniBeast состоит в том, что UniBeast создает загрузочную флешку для первичной установки macOS, тогда как MultiBeast создает загрузчик на жестком диске и настраивает как его, так и macOS под внутренние устройства компьютера.
    +p 
      | Каким образом работает MultiBeast:
    +ul
      +li
        | монтирует раздел EFI жесткого диска;
      +li
        | по аналогии с созданным UniBeast загрузочным USB, MultiBeast создает на нем директорию с загрузчиком Clover;
      +li
        | устанавливает 
        +tooltip()(title="«Кекст» — транскрипция английского сокращения kext от «kernel extension», т.е. расширение ядра. В виде кекстов реализованы практически все драйверы для macOS. ©Wikipedia")
          | кексты
        |  в системную папку macOS (System/Library/<wbr>Extensions) или в папку загрузчика (/EFI/EFI/Clover/<wbr>Kexts);
      +li
        | добавляет параметры в файл конфигурации Clover — config.plist.
    +note(tip)
      | Выбирайте опции MultiBeast с уверенностью, что они соответствуют вашей системе. В случае сомнений оставляйте пункты неотмеченными, так как искать и удалять кексты и параметры Clover придется вручную.
    +p
      | MultiBeast предназначен в основном для настройки под macOS внутренних устройств. Для многих внешних устройств USB, таких как внешние звуковые карты, клавиатуры, мыши и адаптеры Wi-Fi, искать кексты в первую очередь надо на официальных сайтах производителей. Если в MultiBeast не найдется кекстов для внутренних устройств, придется также искать их в сети. Таким образом я нашел кекст для своей сетевой карты 
      +a()(href="https://drive.google.com/file/d/1UrNqJn2IGRkqoKnkBFU5YQLsfJfZCOtY/view?usp=sharing")
        | Atheros (Killer) E2400
      | .
    +ol
      +li
        | Запустите 
        +a()(href="https://www.tonymacx86.com/resources/categories/tonymacx86-downloads.3/")
          | MultiBeast
        +p
          i UEFI Boot Mode
          |  рекомендуется для систем на базе 7/8/9/100/200/300 серии чипсетов Intel и всех систем с UEFI. 
          br
          i Legacy Boot Mode 
          | рекомендуем для 5/6 серий и всех систем на базе BIOS.
        +image("images/content/install-on-pc/quick-start.png")(data-size="1826x1482" alt="Вкладка Quick Start в MultiBeast")
      +li
        | На вкладке Audio представлен список опций для встроенного звука. Для macOS Mojave рекомендуется выбрать AppleALC. 
        +p
          | Дополнительная информация: 
        +ol
          +li 
            +a()(href= page.sound)
              | Настройка звука на хакинтоше
            | , 
          +li
            +a()(href="https://www.tonymacx86.com/threads/mojave-applehda-audio.260004/")
              | www.tonymacx86.com/threads/mojave-applehda-audio
            | .
        +image("images/content/install-on-pc/drivers_audio.png")(data-size="913x741" alt="Раздел Audio в MultiBeast")
      +li
        | В Disc представлены опции для сторонних (3rd pty) SATA-контроллеров жестких дисков, а также Intel Generic AHCI SATA, которые предназначены только для определенных чипсетов (см. описание).
        +image("images/content/install-on-pc/drivers_disk.png")(data-size="913x741" alt="Раздел Disk в MultiBeast")
      +li
        | Вкладка Misc содержит важный для работы хакинтоша кекст FakeSMC, эмулирующий фирменную микросхему 
        +tooltip()(title="Контроллер управления системой (SMC) является подсистемой компьютеров Macintosh на базе процессоров Intel. SMC учавствует в управлении теплом и питанием, зарядкой аккумулятора, переключением видеорежима, ждущим режимом и гибернацией, светодиодными индикаторами. Он также блокирует использование macOS, когда она работает на оборудовании, отличном от Apple. ©Wikipedia")
          | SMC
        | , установленную на МП компьютеров Apple. Подходящая опция уже должна быть отмеченной по умолчанию.
        +ul
          +li
            | кексты VoodooTSCSync предназначены только для процессоров c разъемом LGA2011;
          +li
            | FakeSMC HWMonitor используется для получения данных о температурах и скоростях вращения систем охлаждения. 
        +image("images/content/install-on-pc/drivers_misc.png")(data-size="913x741" alt="Раздел Misc в MultiBeast")
      +li
        | В Network выберите подходящую сетевую карту.
        +image("images/content/install-on-pc/drivers_network.png")(data-size="913x741" alt="Раздел Network в MultiBeast")
      +li
        | Следующая вкладка содержит несколько опций для корректной работы USB-портов:
        +ul
          +li
            | 3rd Party USB 3.0 для сторонних контроллеров USB 3.0,
          +li
            | 7/8/9 Series USB Support для USB 2.0/3.0 чипсетов Intel 7/8/9 серии,
          +li
            | USBInjectAll, который как правило подходит для систем на UEFI.
        +image("images/content/install-on-pc/drivers_usb.png")(data-size="913x741" alt="Раздел USB в MultiBeast")
      +li
        | Переходим ко вкладке Bootloaders. Подходящий пункт уже должен быть отмеченным по умолчанию.
        +image("images/content/install-on-pc/bootloaders.png")(data-size="913x741" alt="Вкладка Bootloaders в MultiBeast")
      +li
        | Customize разделена на 3 раздела. Первый раздел — Graphics Configuration. Выберите опцию NVIDIA Web Drivers Boot Flag, если у вас видеокарта Nvidia 9xx серии или выше.
        +image("images/content/install-on-pc/customize_graphics.png")(data-size="913x741" alt="Раздел Graphics Configuration в MultiBeast")
      +li
        | Раздел SSDT содержит только опции для процессоров семейства Sandy Bridge.
        +image("images/content/install-on-pc/customize_ssdt.png")(data-size="913x741" alt="Раздел SSDT Options в MultiBeast")
      +li
        | Раздел System Definitions содержит ряд опций, которые маскируют ПК под настоящий компьютер Mac, тем самым открывая доступ к сервисам Apple, а также нужны для нормальной работы macOS в целом. Выбирать подходящий вариант не придется, так как он уже должен быть отмечен. Раскройте списки и убедитесь в этом сами.
        +image("images/content/install-on-pc/customize_sys-definitions.png")(data-size="913x741" alt="System Definitions в MultiBeast")
      +li
        | Нажмите Print или Save для сохранения данных об установленных пакетах.
      +li
        | В Build нажмите на Install.
        +image("images/content/install-on-pc/build.png")(data-size="913x741" alt="Вкладка Build в MultiBeast")
    +h3
      | б) Установка драйверов видеокарты
    +p
      | Видеокарты GeForce GTX 7xx, 9xx, 10xx, TITAN и выше не поддерживаются macOS Mojave по умолчанию. Для них необходимы альтернативные драйвера Alternate NVIDIA drivers и небольшая настройка Clover, которую я советую сделать с помощью утилиты Clover Configurator.
    +ol
      +li
        | Установите последнюю версию 
        +a()(href="https://www.tonymacx86.com/nvidia-drivers/")
          | Alternate NVIDIA Graphics Drivers
        |  для своей версии macOS.
        +note(inf)
          | Обновления macOS как правило делают текущие драйвера Nvidia несовместимыми. Поэтому желательно сперва дождаться новых драйверов, совместимых с актуальной версией ОС.
      +li
        | По окончании безопасно извлеките загрузочный USB и перезагрузите компьютер. Теперь можно загружаться в macOS без USB.
        +image("images/content/install-on-pc/mojave-desktop-dark.jpg")(data-size="960x540" alt="Рабочий стол macOS Mojave")
  +section
    +h2
    +ul
      +li 
        | коллекция бесплатных программ: <br>
        +a()(href="https://github.com/serhii-londar/open-source-mac-os-apps")
          | github.com/serhii-londar/open-source-mac-os-apps
        | ;
      +li 
        | коллекция «платных» программ: <br>
        +a()(href="https://macx.ws/mac-os-unix/")
          | macx.ws/mac-os-unix/
        | ;
      +li 
        | отличный почтовый клиент: <br>
        +a()(href="https://itunes.apple.com/ru/app/spark-love-your-email-again/id1176895641?mt=12")
          | itunes.apple.com/ru/app/spark-love-your-email-again
        | ;
      +li 
        | бесплатная альтернатива ACDSee:<br>
        +a()(href="https://www.xnview.com/en/xnviewmp/#downloads") 
          | www.xnview.com/en/xnviewmp
        | ;
      +li
        | 11 плагинов для Quick Look:<br>
        +a()(href="https://lifehacker.ru/2018/04/17/quick-look-plugins/") 
          | lifehacker.ru/2018/04/17/quick-look-plugins
        | ;
      +li 
        | настройка расписания для Time Machine:<br>
        +a()(href="https://tclementdev.com/timemachineeditor/") 
          | tclementdev.com/timemachineeditor
        | ;
      +li
        | утилита для удобной настройки Clover: 
        +a()(href="http://mackie100projects.altervista.org/download-clover-configurator/")
          | Clover Configurator
        | .