extends /layouts/layout

prepend page
  - var pageTitle = "Монтирование раздела EFI в macOS"
  - var pageDesc = "Подробная инструкция по подключению раздела EFI в macOS через утилиту EFI Mounter"
  - var datePublished = ["02", "09", "2017"]
  - var pageLink = page.efi
  - var likeBtnId = "Монтирование EFI"
  -
    var metaImage = {
      src: "images/content/mount-efi/thumbnail.jpg",
      width: 882,
      height: 548
    }
  -
    var articleHeader = {
      iconId: "#gears",
      title: "Монтирование EFI<br> в macOS"
    }
  -
    var itemList = [
      "Введение", 
      "Инструкция"
    ]

block nav
  +nav()(popup = selected, efi = selected)

block content
  +section
    +h2
    +p 
      | Есть два способа подключения (монтирования) раздела 
      +tooltip("abbr")(title="Extensible Firmware Interface (с англ. — «интерфейс расширяемой прошивки») — интерфейс между операционной системой и микропрограммами, управляющими низкоуровневыми функциями оборудования, его основное предназначение: корректно инициализировать оборудование при включении системы и передать управление загрузчику операционной системы. ©Wikipedia.")
        | EFI
      |  — ручной и автоматический. Я рекомендую автоматический, поскольку он гораздо проще. В этом мне помогает утилита EFI Mounter.
  +section
    +h2
    +ol
      +li
        | Загрузите EFI Mounter: 
        +a()(href="https://www.tonymacx86.com/resources/efi-mounter-v3.280/")
          | tonymacx86.com
        |  / 
        +a()(href="https://drive.google.com/file/d/1KDGJuGEqPlYU8oD2Hq_qkW102ryKON3l/view?usp=sharing")
          | Google Drive
        | .
      +li Переместите ее в папку программ.
        +image("images/content/mount-efi/apps-folder.png")(data-size="990x705" alt="Папка приложений macOS")
      +li
        | При запуске EFI Mounter обнаружит скрытые разделы на всех жестких дисках и подключенных носителях. На картинке ниже изображены 2 системных накопителя — SSD (твердотелый накопитель) и HDD (жесткий диск). SSD-диск указан как Disk0s1, где s1 — это первый раздел данного диска, который и является EFI — загрузочным разделом в UEFI. 
      +li
        | Выберите раздел и нажмите OK, затем Mount.
        +smallImage()(src="images/content/mount-efi/efi-list_small.png" alt="Список разделов EFI компьютера")
      +li
        | В боковой колонке Finder к списку монтированных накопителей добавился раздел EFI, содержащий одноименную папку и папку Clover внутри нее.
        +image("images/content/mount-efi/opened-efi-partition.png")(data-size="882x548" alt="Подключенный раздел EFI в Finder")
    +note(warning)
      | Не путайте раздел EFI для macOS с аналогичным разделом для Windows. В случае, если по ошибке был смонтирован не тот раздел, извлеките его.
    +p
      | Может быть монтирован неподходящий загрузочный раздел EFI в следующих случаях:
    +ul
      +li
        | вы установили macOS на один жесткий диск с ОС Windows и по ошибке монтировали загрузочный раздел с файлами этой ОС,
      +li
        | на целевом жестком диске по какой-либо причине вообще нет раздела EFI и монтировался аналогичный раздел для Windows из другого физического диска,
      +li
        | по ошибке подключился аналогичный раздел с загрузочного USB.