extends /layouts/layout

prepend page
  -
    var pageTitle      = "Настройка iCloud и App Store на хакинтоше"
        pageDesc       = "Инструкции по настройке iCloud и App Store на хакинтоше с решением некоторых частых проблем."
        isDateModified = true
        datePublished  = ["23", "05", "2017"]
        dateModified   = ["09", "01", "2018"]
        pageLink       = pages.services
        likeBtnId      = "Запуск сервисов Apple"

    var metaImage = {
      src: "images/content/setup-services/thumbnail.jpg",
      width: 1334,
      height: 772
    };

    var articleHeader = {
      icon: "icloud",
      title: "Настройка iCloud и App&nbsp;Store<br> на хакинтоше"
    };

    var itemList = [
      "Настройка iCloud",
      "Настройка App Store"
    ]

block nav
  +nav()(popup = selected, services = selected)

block content	
  +h2
  +h3
    | а) Сброс данных
  +ol
    +li
      | Выйдите из App Store , iCloud и других сервисов Apple.
      +img("images/content/setup-services/logout-from-appstore.jpg")(alt="Выход из App Store")
      +img("images/content/setup-services/logout-from-icloud.png")(alt="Выход из iCloud")
    +li
      | Войдите в свою 
      +a()(href="https://appleid.apple.com/#!&page=signin")
        | учетную запись
      |  Apple и удалите все устройства из списка, с которых был произведен вход. Можно оставить 
      i подлинные 
      | устройства Apple — iPhone, iPod и т.д...
      +img("images/content/setup-services/remove-devices.jpg")(alt="Стереть историю входов учетной записи Apple")
    +li
      | Перезагрузите компьютер.
  +h3
    | б) Настройка Clover
  +note(warning)
    | Не используйте значения, приведенные в инструкции в качестве примеров: они не подойдут вашей конфигурации, либо уже забанены.
  +ol
    +li
      | Откройте файл настройки Clover — config.plist через Clover Configurator.
      +img("images/content/setup-services/open-clover-config.jpg")(alt="Местонахождение Config.plist")
    +li
      | В разделе SMBIOS выберите компьютер Mac, который наиболее схож с вашей конфигурацией.
      +img("images/content/setup-services/pick-mac-model.png")(alt="Вкладка SMBIOS")
      +note(inf)
        | Подходящий вариант и поля уже должны быть введены автоматически во время 
        +a("note")(href= pages.index + "#6")
         | пост-установки
        |  с MultiBeast. Поэтому, если страницы конфигуратора окажутся полупустыми, убедитесь, что config.plist открыт правильно.
    +li
      | Нажмите на Generate New и сгенерируйте серийный номер.
      +img("images/content/setup-services/generate-serial.png")(alt="Вкладка SMBIOS")
    +li
      | Скопируйте полученный код из поля Serial Number и введите его в форму на странице 
      +a()(href="https://checkcoverage.apple.com")
        | checkcoverage.apple.com
      | .
      +p
        | Проверьте этот серийный номер. Если появится 
        em ошибка
        | , как на приведенном ниже скриншоте — значит это то, что надо и можно продолжать дальше. В противном случае, если серийный номер окажется «валидным», необходимо будет сгенерировать его по-новому. Иначе возникнут проблемы с дубликатом уже зарегистрированного серийного номера Mac.
      +img("images/content/setup-services/check-serial_small.jpg", false)(alt="Проверка серийного номера Mac")
    +li
      | Откройте Terminal и введите 
      +code("uuidgen")
      | , затем нажмите Enter.
      +img("images/content/setup-services/get-uuidgen.png", false)(alt="Вставка uuidgen в терминал")
    +li
      | Скопируйте выданное терминалом значение в буфер обмена и вставьте в поле SmUUID.
      +img("images/content/setup-services/smuuid-field.png")(alt="Вкладка SMBIOS")
    +li
      | Сохраните изменения.
      +img("images/content/setup-services/config-6_small.jpg", false)(alt="Сохранение в Clover Configurator")
    +li
      | Перезагрузите компьютер и войдите со своим логином и паролем в сервисы iCloud и App Store.
  +h2
  +p
    | Запуск App Store не требует каких-либо дополнительных инструкций, если при попытке входа нет ошибок. Проблемы с App Store обычно возникают при использовании внешних Wi-Fi USB-адаптеров, когда сетевое устройство не назначено как основное, то есть обозначено как en1 вместо en0. Далее следует инструкция, которая помогла мне решить эту проблему.
  +ol
    +li
      | Откройте поиск Spotlight и введите System Profiler. Откроется окно информации о системе.
      +img("images/content/setup-services/find-system-information.png")(alt="Информация о системе в Spotlight")
    +li
      | Найдите свой Wi-Fi  адаптер. Если Wi-Fi назначено значение en0, то делать ничего не надо и проблема со входом в App Store, скорее всего, связана с отсутствием кекста для сетевого устройства. Если назначено другое значение, например, en1 или en2 то продолжайте читать далее.
      +img("images/content/setup-services/wifi-information.png")(alt="Wi-Fi в информации о системе")
    +li
      | Откройте Finder и выберите в строке меню «Переход к папке».
      +img("images/content/setup-services/go-to-folder_small.jpg", false)(alt="Переход к папке в macOS")
    +li
      | И введите /Library/Preferences/<wbr>SystemConfiguration.
      +img("images/content/setup-services/go-to-preferences-folder.png")(alt="Переход в папку SystemConfiguration")
    +li
      | Удалите файлы NetworkInterfaces.plist, preferences.plist и перезагрузите компьютер.
      +img("images/content/setup-services/delete-files.png")(alt="Удаление файлов в SystemConfiguration")