extends /layouts/layout

prepend page
  -
    var pageTitle      = "Установка macOS на компьютер с помощью VMWare"
        pageDesc       = "Подробная инструкция по установке macOS High Sierra на виртуальную машину со ссылками на необходимые файлы"
        isDateModified = true
        datePublished  = ["17", "08", "2017"]
        dateModified   = ["08", "08", "2018"]
        pageLink       = link.vmware
        likeBtnId      = "Установка через VMWare"

    var metaImage = {
      src: "images/content/install-on-vmware/install-vmware-tools_original.jpg",
      width: 1024,
      height: 834
    };

    var articleHeader = {
      icon: "vmware",
      title: "Установка macOS на компьютер<br>&#32;с помощью VMWare"
    };

    var itemList = [
      "Введение", 
      "Инструкция"
    ]

block nav
  +nav()(vmware = selected)

block content
  +h2
  +p
    | Запустить операционную систему macOS High Sierra «поверх» Windows на ПК или ноутбуке можно с помощью виртуальных машин — программ, которые эмулируют работу одной операционной системы в среде другой. На этой странице приведена инструкция по установке бесплатной версии одной из таких программ — VMWare Workstation Player. Работающая на виртуальной машине 
    i (далее — ВМ)
    |  macOS High Sierra отображается как обычная программа для Windows — в окне или режиме полного экрана.
  +p
    | MacOS High Sierra в качестве виртуальной ОС не предложит всех своих возможностей по техническим причинам и будет работать медленней, в следствие чего не способна оставить полноценные впечатления от своей работы. Но для поверхностного ознакомления с ОС от Apple такой способ установки вполне сгодится.
  +h2
  +note(warning)
    | Инструкция рассчитана на работу с компьютерами на базе intel. С процессорами AMD могут возникнуть проблемы.
  +p
    | Что потребуется перед установкой:
  +ul
    +li
      | программа Workstation Player Free: 
      +a()(href="http://www.vmware.com/products/player/playerpro-evaluation.html")
        | www.vmware.com/products
      | ,
    +li
      | образ macOS High Sierra для ВМ:<br>
      +a()(href="https://drive.google.com/open?id=1jmjnMgN0cRydhBYhDr7NV_C485CmAaiz")
        | Google&nbsp;Drive
      |  / 
      +a()(href="https://drive.google.com/drive/folders/112fLqi6yWaMWb-g5d8fAJUHpMp6INAj2")
        | Google&nbsp;Drive (2)
      |  / 
      +a()(href="https://yadi.sk/d/schzIM0R3a2oRB")
        | Яндекс&nbsp;Диск
      | ,
    +li
      | патч VMWare Unlocker: 
      +a()(href="https://github.com/DrDonk/unlocker")
        | GitHub
      |  / 
      +a()(href="https://drive.google.com/file/d/1_TfY6lgApgOPm0A56s43RGULt3TfSzUX/view?usp=sharing")
        | Google Drive
      | ,
    +li
      | около 40 Гб свободного места на жестком диске.
  +note(tip)
    | Если загруженный архив с образом окажется «битым», обновите архиватор WinRAR.
  +ol
    +li
      | Установите VMWare Workstation Player 
      i (далее — VMWare)
      | .
    +li
      | Распакуйте архив c Unlocker и запустите win-install.cmd от имени администратора. Таким образом в VMWare добавляется поддержка macOS.
      +img("images/content/install-on-vmware/install-patch-tool.jpg")(alt="Добавление поддержки macOS в VMWare")
    +li
      | Откройте VMWare и нажмите “Create a new Virtual Machine”.
    +li
      | Выберите “I will install the operating system later”.
      +img("images/content/install-on-vmware/install-later_small.jpg", false)(alt="Создание виртуальной машины в VMWare")
    +li
      | Укажите Apple Mac OS X версии 10.13
      +img("images/content/install-on-vmware/select-os_small.jpg", false)(alt="Выбор версии ОС в VMWare")
    +li
      | И папку, в которую будет установлена виртуальная ОС. Запомните ее путь.
      +img("images/content/install-on-vmware/select-vm-location_small.jpg", false)(alt="Выбор папки для VMWare")
    +li
      | Затем в настройках созданной ВМ удалите Hard Disk.
      +img("images/content/install-on-vmware/vmware-settings.jpg")(alt="Настройки VMWare")
      +img("images/content/install-on-vmware/remove-hdd.jpg")(alt="Удаление жесткого диска в VMWare")
    +li
      | Добавьте виртуальный жесткий диск: Add &gt; Hard Disk &gt; SATA. 
    +li
      | После выберите “Use an Existing Virtual Disk” и укажите путь к образу с macOS High Sierra (большой файл с расширением vmdk).
      +img("images/content/install-on-vmware/select-disk_small.jpg", false)(alt="Добавление жесткого диска в VMWare")
      +img("images/content/install-on-vmware/browse-macos-image_small.jpg", false)(alt="Добавление образа в VMWare")
    +li
      | В параметрах диска советую выбрать “Store virtual disk as a single file”, как наиболее производительный вариант.
      +img("images/content/install-on-vmware/select-hdd-size_small.jpg", false)(alt="Выделение памяти для VMWare")
    +li
      | Не забудьте выделить достаточное кол-во памяти для VMWare — порядка 50-65% от общей суммы ОЗУ компьютера.
      +img("images/content/install-on-vmware/memory-size.jpg")(alt="Выделение памяти для VMWare")
    +li
      | Нажмите OK и 
      em закройте
      |  VMWare, иначе при старте ВМ появится сообщение об ошибке.&nbsp;⚠️
    +li
      | Перейдите в папку ВМ и откройте файл macOS 10.13 с помощью блокнота. Это небольшой файл размером ~2 Кб, не имеющий расширения. Вставьте туда последней строкою код: 
      +code('smc.version = "0"')
      | . Сохраните изменения.
      +img("images/content/install-on-vmware/open-vm-file.jpg")(alt="Файлы VMWare")
      +img("images/content/install-on-vmware/edit-vm-file.jpg")(alt="Редактирование файла VMWare")
    +li
      | Все, теперь можно запустить VMWare и начать установку macOS High Sierra!  
      +p
        | В процессе установки будет предложено создать нового пользователя, придумать пароль и войти в учетную запись Apple.
      +img("images/content/install-on-vmware/start-vm.jpg")(alt="Запуск VMWare")
    +li
      | По окончании установки, подключите VMWare Tools: Player > Manage > Install VMWare Tools. Через некоторое время на Рабочем столе должен появиться образ патча с установщиком.
      +img("images/content/install-on-vmware/mount-vmware-tools_small.jpg", false)(alt="Загрузка VMWare Tools")
      +note(inf)
        | Патч VMWare Tools нужен главным образом для того, чтобы VMWare работала быстрее и поддерживала родное разрешение экрана.
    +li
      | Установите VMWare Tools и перезагрузите ВМ. 
      +img("images/content/install-on-vmware/install-vmware-tools.jpg")(alt="Установка VMWare Tools")
    +li
      | Система безопасности macOS High Sierra заблокирует VMWare Tools как неизвестное расширение. Зайдите в настройки ОС (значок шестеренки), далее в раздел “Security and Privacy” и разблокируйте патч кнопкой Allow. 
      +img("images/content/install-on-vmware/allow-vmware-tools.jpg")(alt="Открытие доступа для VMWare Tools")
    +li
      | Перезагрузите ВМ еще раз. 
      +p 
        | Готово, теперь macOS High Sierra должна работать на Windows как виртуальная ОС!&nbsp;😊
      +img("images/content/install-on-vmware/vmware-macos-desktop.jpg")(alt="Рабочий стол macOS High Sierra на VMWare")
      +note(tip)
        | Если интерфейс macOS High Sierra будет слишком крупным, в режиме работающей ВМ зайдите в настройки VMWare: Player > Manage > Virtual Machine Settings > Display и уберите галку с Display Scaling. 
      +note(inf)
        | Локализовать интерфейс macOS High Sierra можно в настройках ОС. Для этого откройте System Preferences > Language & Region. Затем добавьте язык в Prefered Languages и сделайте его первым в списке.