extends /pug/layout

prepend page
  - var pageTitle = "Установка macOS на компьютер с помощью VMWare"
  - var pageDesc = "Подробная инструкция по установке macOS Mojave на виртуальную машину   со ссылками на необходимые файлы"
  - var isDateModified = true
  - var datePublished = ["17", "08", "2017"]
  - var dateModified = ["07", "12", "2018"]
  - var pageLink = page.vmware
  - var likeBtnId = "Установка через VMWare"
  -
    var metaImage = {
      src: "images/content/install-on-vmware/install-vmware-tools_original.jpg",
      width: 1024,
      height: 834
    }
  -
    var articleHeader = {
      iconId: "#vmware",
      title: "Установка macOS Mojave на&nbsp;компьютер через VMWare"
    }
  -
    var itemList = [
      "Введение", 
      "Требования",
      "Инструкция",
      "Советы"
    ]

block nav
  +nav()(vmware = selected)

block articleHeader
  +articleHeader

block content
  +section
    +h2
    +p
      | Запустить операционную систему macOS Mojave «поверх» Windows на ПК или ноутбуке можно с помощью виртуальных машин — программ, которые эмулируют работу одной операционной системы в среде другой. На этой странице содержится инструкция по установке бесплатной версии одной из таких программ — VMWare Workstation Player. Работающая на виртуальной машине 
      i (далее — ВМ)
      |  macOS Mojave отображается как обычная программа для Windows — в окне или режиме полного экрана.
    +p
      | MacOS в качестве виртуальной ОС не предложит всех своих возможностей по техническим причинам и будет работать медленней, в следствие чего не способна оставить полноценные впечатления от своей работы. Но для поверхностного ознакомления с ОС от Apple такой способ установки вполне сгодится.
  +section
    +h2
    +ul
      +li
        | ПК/ноутбук на базе процессора Intel;
      +li
        | более 40 Гб свободного места на жестком диске;
      +li
        | программа Workstation Player Free: 
        +a()(href="http://www.vmware.com/products/player/playerpro-evaluation.html")
          | www.vmware.com/products
        | ;
      +li
        | архиватор WinRAR, желательно нестарый;
      +li
        | образ macOS Mojave 10.14 (18A391) для ВМ:<br>
        +a()(href="https://drive.google.com/open?id=1JQPalzn7PiliwTKqPpYcCxxWrvdvb8dM")
          | Google&nbsp;Drive
        |  / 
        +a()(href="https://yadi.sk/d/qlPUT79XgQUMOg")
          | Яндекс&nbsp;Диск
        | ;
      +li
        | патч VMWare Unlocker: 
        +a()(href="https://github.com/DrDonk/unlocker/releases")
          | Github
        |  / 
        +a()(href="https://drive.google.com/open?id=1r4Lw77l5ItKBvF8n1_42suZCKCx9TK59")
          | Google&nbsp;Drive
        | ;
      +li
        | базовый уровень английского языка и владения компьютером.
  +section
    +h2
    +ol
      +li
        | Установите VMWare Workstation Player 
        i (далее — VMWare)
        | .
      +li
        | Распакуйте архив c Unlocker и запустите win-install.cmd от имени администратора. Таким образом в VMWare добавляется поддержка macOS.
        +image("images/content/install-on-vmware/install-patch-tool.jpg")(data-size="972x653" alt="Добавление поддержки macOS в VMWare")
      +li
        | Откройте VMWare и нажмите “Create a new Virtual Machine”.
      +li
        | Выберите “I will install the operating system later”.
        +smallImage()(src="images/content/install-on-vmware/install-later_small.jpg" alt="Создание виртуальной машины в VMWare")
      +li
        | Укажите Apple Mac OS X версии 10.13
        +smallImage()(src="images/content/install-on-vmware/select-os_small.jpg" alt="Выбор версии ОС в VMWare")
      +li
        | И папку, в которую будет установлена виртуальная ОС. Запомните ее путь.
        +smallImage()(src="images/content/install-on-vmware/select-vm-location_small.jpg" alt="Выбор папки для VMWare")
      +li
        | Затем в настройках созданной ВМ удалите Hard Disk.
        +image("images/content/install-on-vmware/vmware-settings.jpg")(data-size="732x650" alt="Настройки VMWare")
        +image("images/content/install-on-vmware/remove-hdd.jpg")(data-size="669x594" alt="Удаление жесткого диска в VMWare")
      +li
        | Добавьте виртуальный жесткий диск: Add &gt; Hard Disk &gt; SATA. 
      +li
        | После выберите “Use an Existing Virtual Disk” и укажите путь к образу с macOS Mojave (большой файл с расширением vmdk).
        +smallImage()(src="images/content/install-on-vmware/select-disk_small.jpg" alt="Добавление жесткого диска в VMWare")
        +smallImage()(src="images/content/install-on-vmware/browse-macos-image_small.jpg" alt="Добавление образа в VMWare")
      +li
        | В параметрах диска советую выбрать “Store virtual disk as a single file”, как наиболее производительный вариант.
        +smallImage()(src="images/content/install-on-vmware/select-hdd-size_small.jpg" alt="Выделение памяти для VMWare")
      +li
        | Не забудьте выделить достаточное кол-во памяти для VMWare — порядка 50-65% от общей суммы ОЗУ компьютера.
        +image("images/content/install-on-vmware/memory-size.jpg")(data-size="669x594" alt="Выделение памяти для VMWare")
      +li
        | Нажмите OK и 
        em закройте
        |  VMWare, иначе при старте ВМ появится сообщение об ошибке.&nbsp;⚠️
      +li
        | Перейдите в папку ВМ и откройте файл macOS 10.13 с помощью блокнота. Это небольшой файл размером ~2 Кб. Вставьте туда последней строкою код: 
        +code('smc.version = "0"')
        | . Сохраните изменения.
        +image("images/content/install-on-vmware/open-vm-file.jpg")(data-size="883x565" alt="Файлы VMWare")
        +image("images/content/install-on-vmware/edit-vm-file.jpg")(data-size="852x803" alt="Редактирование файла VMWare")
      +li
        | Все, теперь можно запустить VMWare и начать установку macOS Mojave!
        +image("images/content/install-on-vmware/start-vm.jpg")(data-size="700x618" alt="Запуск VMWare")
      +li
        | Для того чтобы отказаться от входа в учетную запись Apple, нажмите на Set Up Later.
        +image("images/content/install-on-vmware/sign-in-to-account.jpg")(data-size="1026x833" alt="Вход в учетную запись Apple")
      +li
        | По окончании установки, подключите VMWare Tools: Player > Manage > Install VMWare Tools. Через некоторое время на Рабочем столе должен появиться образ патча с установщиком.
        +smallImage()(src="images/content/install-on-vmware/mount-vmware-tools_small.jpg" alt="Загрузка VMWare Tools")
        +note(inf)
          | Патч VMWare Tools нужен главным образом для того, чтобы VMWare работала быстрее и поддерживала родное разрешение экрана.
      +li
        | Установите VMWare Tools и перезагрузите ВМ. 
        +image("images/content/install-on-vmware/install-vmware-tools.jpg")(data-size="1026x836" alt="Установка VMWare Tools")
      +li
        | Система безопасности macOS Mojave заблокирует VMWare Tools как неизвестное расширение. Зайдите в настройки ОС (значок шестеренки), далее в раздел “Security and Privacy” и разблокируйте патч кнопкой Allow. 
        +image("images/content/install-on-vmware/allow-vmware-tools.jpg")(data-size="1026x834" alt="Открытие доступа для VMWare Tools")
      +li
        | Перезагрузите ВМ еще раз. 
        +p 
          | Готово, теперь macOS Mojave должна работать на Windows как виртуальная ОС!&nbsp;😊
        +image("images/content/install-on-vmware/vmware-macos-desktop.jpg")(data-size="1920x1080" alt="Рабочий стол macOS Mojave на VMWare")
  +section
    +h2
    +ul
      +li
        | если интерфейс macOS Mojave будет слишком крупным, в режиме работающей ВМ зайдите в настройки VMWare: Player > Manage > Virtual Machine Settings > Display и уберите галку с Display Scaling. 
      +li
        | для локализации интерфейса откройте System Preferences > Language & Region, затем добавьте язык в Prefered Languages и сделайте его первым в списке.