extends /layouts/layout

prepend page
  -
    var pageTitle      = "Установка и удаление кекстов в macOS"
        pageDesc       = "Подробная и доступная инструкция по установке и удалению кекстов на хакинтоше"
        isDateModified = true
        datePublished  = ["02", "09", "2017"]
        dateModified   = ["09", "01", "2018"]
        pageLink       = link.kexts
        likeBtnId      = "Установка и удаление кекстов"

    var metaImage = {
      src: "images/content/install-kexts/kext-dragging_original.jpg",
      width: 797,
      height: 534
    };

    var articleHeader = {
      image: "images/content/install-kexts/icon.png",
      title: "Установка и удаление<br>&#32;кекстов в macOS"
    };

    var itemList = [
      "Введение", 
      "Установка кекстов", 
      "Удаление кекстов"
    ]

block nav
  +mainNav(kexts = selected, pageA0 = selected)

block articleHeader
  +articleHeader(theme = themeAccent)

block content
  +h2

  +p 
    | Слово «Кекст» — транскрипция английского сокращения Kext от Kernel extension, т.е. расширение ядра. В виде кекстов реализованы все драйверы для macOS. Большинство самих же кекстов реализовано в виде специальных установочных пакетов, при запуске которых потребуется лишь ввести пароль, а всё остальное сделают за вас скрипты. Почти так же, как и с привычной установкой драйверов на ОС Windows. 
    
  +p 
    | Но не всегда всё так легко. Порой достается просто файл с расширением .kext. А в случае с хакинтошем, следует и вовсе готовиться к тому, что, возможно, придётся перепробовать несколько разных кекстов, прежде чем определенная аппаратная часть ПК заработает правильно. 

  +p 
    | Установка кекстов в macOS состоит из трёх этапов: 

  +ol
    +li
      | Копировании в папку System/Library/Extensions.
    +li
      | Настройке прав доступа.
    +li
      | Удалении и пересоздании кэша кекстов для загрузки системы.

  +h2

  +h3
    | Kext Utility

  +p 
    | Есть два способа установки кекстов — ручной и автоматический. Я рекомендую автоматический, поскольку он гораздо проще. В этом мне помогает отличная программа Kext Utility (
    +link("https://www.insanelymac.com/forum/topic/140647-latest-kext-utility-macos-sierra-super-speed-edition/", "обсуждение")
    |  на insanelymac.com). Она делает за меня все три описанных выше этапа установки кекстов.

  +p 
    | Есть несколько способов работы с Kext Utility:

  +ul
    +li
      | Перетаскивание одного или нескольких кекстов в окно программы.
    +li
      | Запуск «вхолостую». В этом случае будет запущена проверка прав доступа к уже установленным кекстам и пересоздание их кэша.

  +ol
    +li
      | Скачайте Kext Utility с 
      +link('http://cvad-mac.narod.ru/index/0-4', 'cvad-mac.narod.ru')
      |  и установите, переместив приложение в папку «Программы».

      - src = "images/content/install-kexts/install-location.png"
      - alt = "Папка c программами в macOS"
      +img

    +li
      | При каждом открытии программы начинается служебная процедура. Пока она выполняются, крутится индикатор и выводится лог событий.

      - src = "images/content/install-kexts/kext-utility-window.png"
      - alt = "Окно программы Kext Utility"
      +img

    +li
      | Переместите кекст(ы) в окно программы методом drag-and-drop и дождитесь выполнения установки.

      - src = "images/content/install-kexts/kext-dragging.jpg"
      - alt = "Установка кекста через Kext Utility"
      +img

    +li
      | Как только появится кнопка Quit, кекст(ы) будут установлены.
    +li
      | Выйдите из программы и перезагрузите компьютер. После перезагрузки все устройства, для которых были установлены кексты, должны опознаться системой.

  +h3
    | Установка в папку Clover

  +p 
    | Не всегда требуется устанавливать кексты в системную папку macOS: на хакинтоше есть еще одно место с кекстами — в папке Clover. Обычно там располагаются кексты, необходимые для работы хакинтоша. Выбор места для установки следует делать исходя из документации к кексту. Большое количество кекстов, загружаемых через Clover, может замедлить загрузку системы.

  +ol
    +li
      | Откройте папку кекстов в Clover: EFI &gt; CLOVER &gt; Kexts &gt; Other. 

      - src = "images/content/install-kexts/kexts-location-in-clover.png"
      - alt = "Папка с кекстами в Clover"
      +img

    +li
      | Скопируйте туда необходимые кексты и перезагрузите компьютер. 
      
      +note(tip)
        | В папке Clover/Kexts/Other располагаются кексты для всех версий macOS. Рекомендуется копировать кексты именно в эту папку.

      +note(inf)
        | Системные разделы по умолчанию скрыты от пользователя. Инструкция по монтированию скрытых разделов приведена на отдельной 
        a.link.link--note(href= link.efi) странице
        | .

  +h2

  +h3
    | Удаление из системной папки

  +ol
    +li
      | Выберите в строке меню пункт «Переход к папке» и введите путь к системной папке: /System/Library/Extensions

      - src = "images/content/install-kexts/go-to-folder_small.jpg"
      - alt = "Переход в системную папку macOS"
      +img("small")

      +note(inf)
        | С помощью сочетания ⌘ + Shift + . (точка) можно отображать скрытые файлы в macOS и таким же способом их скрывать.

    +li
      | Затем найдите кекст у удалите.

      - src = "images/content/install-kexts/extensions-folder.png"
      - alt = "Папка с кекстами в системном разделе macOS"
      +img

    +li
      | После запустите 
      +link('http://cvad-mac.narod.ru/index/0-4', 'Kext Utility')
      |  и подождите окончания процедуры по пересозданию кеша.
    +li
      | Перезагрузите компьютер.

      +note(inf)
        | Помимо основной папки с кекстами в macOS, которая располагается в папке System/, есть еще одно место, где хранятся кексты — /Library/Extensions. Но оно используется гораздо реже и кекстов там немного.

  +h3
    | Удаление из папки Clover

  +p 
    | В случае, если целевой кекст располагается в папке Clover, просто удалите его оттуда и перезагрузите компьютер.