@mixin x-center(
  $position: absolute, 
  $left: 0, 
  $right: 0, 
  $top: 0, 
  $bottom: 0) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  margin: auto;
}

@mixin x-normalize-button(
  $border: border, 
  $border-value: none, 
  $background-color: transparent, 
  $padding: padding, 
  $padding-value: 0, 
  $outline: none, 
  $cursor: pointer) {
  $padding: $padding-value;
  outline: $outline;
  #{$border}: $border-value;
  cursor: $cursor;
  background-color: $background-color;
}

@mixin x-button-states($background-color) {
  background: $background-color;
  transition-duration: .2s;
  transition-property: background-color;

  &:hover {
    background: darken($background-color, 10);
  }
}

@mixin x-padding-desktop {
  padding-right: 8%;
  padding-left: 8%;
}

@mixin x-padding-tablet {
  padding-right: 10%;
  padding-left: 10%;
}

@mixin x-padding-mobile {
  padding-right: 5%;
  padding-left: 5%;
}


