@mixin x-center(
  $position: absolute, 
  $left: 0, 
  $right: 0, 
  $top: 0, 
  $bottom: 0) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  margin: auto;
}

@mixin x-btn(
  $padding: 0, 
  $border: none, 
  $outline: none, 
  $background: transparent, 
  $cursor: pointer) 
{
  padding: $padding;
  outline: $outline;
  border: $border;
  cursor: $cursor;
  background: $background;
}

@mixin x-btn-states($background-color) {
  background: $background-color;
  transition-duration: .2s;
  transition-property: background-color;

  &:hover {
    background: darken($background-color, 10);
  }
}


