// ==========================================================================
// Breakpoints
// ==========================================================================

$desktop:                 1200px;
$tablet:                  960px;
$mobile:                  600px;
$nav-mobile-full-width:   352px;

// ==========================================================================
// Fonts
// ==========================================================================

$font-family:            "Open Sans",   sans-serif;
$font-family--heading:   "PT Sans",     sans-serif;
$font-family--system:    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// ==========================================================================
// Sizes
// ==========================================================================

$layout:   1140px;
$margin:   26px;

$border-radius--small:   4px;
$border-radius:          12px;
$border-radius--large:   15px;

$font-size:            16px;

$h1-size:   37px;
$h2-size:   32px;
$h3-size:   23px;

$h1-size--mobile:   27px;
$h2-size--mobile:   25px;
$h3-size--mobile:   20px;

// ==========================================================================
// Colors
// ==========================================================================

$accent-color:         #4367d4;
$visited-link-color:   darken(#8a39b6, 8);
$selection:            #9575cd;

$inf:       lighten(#7f5f9f, 1);
$tip:       #26a69a;
$warning:   #ec407a;

$vk:         #507299;
$twitter:    #55acee;
$email:      #ffbb1d;
$gplus:      #dd4e42;
$facebook:   #3b5998;
$donate:     #689f38;

$grey-68:    #444;     // rgb(68, 68, 68)
$grey-85:    #555;     // rgb(85, 85, 85)
$grey-102:   #666;     // rgb(102, 102, 102)
$grey-119:   #777;     // rgb(119, 119, 119)
$grey-128:   #808080;  // rgb(128, 128, 128)
$grey-152:   #989797;  // rgb(152, 151, 151)
$grey-235:   #ebebeb;  // rgb(235, 235, 235)
$grey-240:   #f0f0f0;  // rgb(240, 240, 240)

// ==========================================================================
// Animations
// ==========================================================================

$fall-duration:    0.25s;
$shake-duration:   0.2s;
$shake-delay:      $fall-duration;
