// ==========================================================================
// Global styles
// ==========================================================================

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

::selection {
  color: white;
  background: $selection;
}

p {
  margin-top: 0; 
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}