// Fonts
// ==========================================================================
$base-font:       "PT Sans", sans-serif;
$second-font:     "PT Sans Caption", sans-serif;
$websafe-font:    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$headings-font:   $base-font;

// Breakpoints
// ==========================================================================
$desktop:   1160px;
$tablet:    960px;
$mobile:    600px;

// Sizes
// ==========================================================================
$margin: 26px;

// Font sizes
$h1:           37px;
$h2:           32px;
$h3:           24px;
$h1--mobile:   26px;
$h2--mobile:   25px;
$h3--mobile:   21px;

// Borders
// ==========================================================================
$border-radius--tiny:    4px;
$border-radius--small:   10px;
$border-radius:          12px;
$border-radius--large:   23px;
$border-radius--huge:    40px;

// Colors
// ==========================================================================
$accent:      #4367d4;
$footer:      #230e2d;;
$light:       #f4f4f4;
$grey:        #858585;
$border:      #ebebeb;
$code:        #ebebeb;
$visited:     #512da8;
$selection:   #9575cd;
$info:        #26a69a;
$tip:         #00acc1;
$tooltip:     #7E57C2;
$warning:     #ec407a;

// Font colors
$base:       #464646;
$headings:   #464646;
$nav:        #6c757d;
$dimmed:     transparentize(white, .1);

// Social
$vk:           #507299;
$twitter:      #55acee;
$googleplus:   #dd4e42;
$facebook:     #3b5998;

// Animations
// ==========================================================================
$fall-duration:    .25s;
$shake-duration:   .2s;
$shake-delay:      $fall-duration;

$transition: all .15s ease-out;