// ==========================================================================
// Breakpoints
// ==========================================================================

$desktop:   1200px;
$tablet:    960px;
$mobile:    600px;

// ==========================================================================
// Fonts
// ==========================================================================

$base-font-family:       "Open Sans",   sans-serif;
$headings-font-family:   "PT Sans",     sans-serif;
$websafe-font-family:    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$base-font-color:   #444;
$base-font-size:   16px;

$h1-font-size:   37px;
$h2-font-size:   32px;
$h3-font-size:   23px;
$h1-font-size--mobile:   27px;
$h2-font-size--mobile:   25px;
$h3-font-size--mobile:   20px;

// ==========================================================================
// Breakpoints
// ==========================================================================

$layout: 1140px;
$margin: 26px;

// ==========================================================================
// Borders
// ==========================================================================

$border-radius--tiny:   4px;
$border-radius--small:   10px;
$border-radius:       12px;
$border-radius--large:   15px;

// ==========================================================================
// Theme colours
// ==========================================================================

$accent:      #4367d4;
$visited:     darken(#8a39b6, 8);
$selection:   #9575cd;
$info:        lighten(#7f5f9f, 1);
$tip:         #26a69a;
$warning:     #ec407a;

// Social colours
// ==========================================================================

$vk:           #507299;
$twitter:      #55acee;
$email:        #ffbb1d;
$googleplus:   #dd4e42;
$facebook:     #3b5998;
$donate:       #689f38;

// ==========================================================================
// Animations
// ==========================================================================

$fall-duration:    .25s;
$shake-duration:   .2s;
$shake-delay:      $fall-duration;
