doctype html
include /pug/mixins/*
include /pug/variables
include /blocks/**/*

//- <html> tag is deliberately omitted. Info here: google.github.io/styleguide/htmlcssguide.html#Optional_Tags 

block page
  head
    block head
      meta(charset="utf-8")
      title= pageTitle
      meta(name="description" content= pageDesc)

      //inject:critical:css 
      //endinject

      //build:css css/styles.min.css rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      link(href="css/normalize.css" rel="stylesheet")
      link(href="css/main.css" rel="stylesheet")
      //endbuild 

      //inject:fg-loadcss:html 
      //endinject 

      //inject-string:noscript

      meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

      meta(property="og:title" content= pageTitle)
      meta(property="og:description" content= pageDesc)
      meta(property="og:type" content="article")
      meta(property="og:image" content= domain + metaImage.src)
      meta(property="og:image:width" content= metaImage.width)
      meta(property="og:image:height" content= metaImage.height)
      meta(property="og:url" content= domain)
      meta(property="og:site_name" content="macOS+ | Лис подскажет")

      link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
      link(rel="manifest" href="manifest.json")
      link(rel="shortcut icon" href="favicon.ico")
      meta(name="apple-mobile-web-app-title" content="macOS+ | Лис подскажет")
      meta(name="application-name" content="macOS+ | Лис подскажет")
      meta(name="msapplication-config" content="browserconfig.xml")
      meta(name="theme-color" content="#455a64")

      // Google Tag
      script(async src="https://www.googletagmanager.com/gtag/js?id=UA-100340915-1")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-100340915-1');

      // LikeBtn
      script(async id="likebtn_wjs" src="https://w.likebtn.com/js/w/widget.js")

  body.page(lang="ru")
    noscript 
      | Для полной функциональности этого сайта необходимо включить JavaScript. Вот 
      a(href="https://www.enable-javascript.com/ru/" target="_blank") инструкции
      | , как включить JavaScript в вашем браузере.

    +header
      block nav
        +nav
    main.page__container  
      block inner
        article.article
          block articleHeader
            +articleHeader
          block content
          +contents("mobile")
          +vote
      block sidebar
        +sidebar
    +footer
    +scrollButton
    +lightbox

    block scripts
      //build:js js/global.min.js
      script(src="js/svg4everybody.min.js")
      script(src="js/transition.js")
      script(src="js/lightbox-image.js")
      script(src="js/tooltip.js")
      script(src="js/copy-url.js")
      script(src="js/animate-fox.js")
      script(src="js/relative-date.js")
      script(src="js/page-nav.js")
      script(src="js/lazy-image.js")
      script(src="js/external-link.js")
      script(src="js/custom-list.js")
      script(src="js/share.js")
      script(src="js/scroll-btn.js")
      //endbuild

      script.
        svg4everybody();

      //build:remove 
      script(src="js/_viewport.js") 
      //endbuild