include ../../pug/*/mixins

- var footer  = "footer__item"

mixin reference
	aside(class= attributes.state + "\u0020" + "aside reference")
		h2.aside__headline Cообщество
		.reference__container
			- src	  = "images/community-logo.png"
			- imgClass = "reference__image"
			- size	 = 256
			- sizes	= size / 16 + "em"
			- alt	  = ""
			+respImage

			a.reference__link(href="https://plus.google.com/u/0/communities/103318624432661992867") macOS+ на Google Plus

				

		  
