mixin reference
  aside.aside.reference(class= attributes.appendClass, data-target="sidebar")
    h2.aside__headline Сообщество
    .reference__container
      - className = "reference__img"
      - src       = "images/community.png"
      - width     = 240
      +respImg

      a.reference__link(href="https://plus.google.com/u/0/communities/103318624432661992867") macOS+ на Google Plus
