.header {
  display: flex;
  flex-direction: column;
  background: white;

  @media (max-width: $tablet) {
    align-items: center;
    flex-direction: row-reverse;
    padding: 15px 0;
    background: $accent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
  }

  @media (max-width: $mobile) {
    padding: 10px 0;
  }

  &__logo {
    display: block;
    width: 240px;
    margin: 26px auto 1px;

    @media (max-width: $tablet) {
      width: 126px;
      margin: auto;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: contain;
  }
}
