.header {
  display: flex;
  flex-direction: column;
  background: white;
  padding-top: 25px;

  @media (max-width: $tablet) {
    padding: 15px 0;
    align-items: center;
    flex-direction: row-reverse;
    background: $accent-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
  }

  @media (max-width: $mobile) {
    padding: 10px 0;
  }

  &__logo {
    display: block;
    width: 240px;
    height: 72px;
    margin: auto;

    @media (max-width: $tablet) {
      width: 126px;
      height: 38px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
