.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: $header-width;
  padding-left: 24vw;
  background: transparentize($header-bg, .02);
  box-shadow: 0 1px 8px rgba(0 ,0 ,0 , .3);

  @supports (-webkit-backdrop-filter: blur(0)) {
    background: transparentize($header-bg, .05);
    -webkit-backdrop-filter: blur(10px);
  }

  @media (max-width: $desktop) {
    padding-left: 10vw;
  }

  @media (max-width: $tablet) {
    flex-direction: row-reverse;
    height: auto;
    padding: 15px 0;
    background: $header-bg;
  }

  @media (max-width: $mobile) {
    padding: 10px 0;
  }

  &__logo {
    display: block;
    margin-right: 30px;
    width: 150px;

    @media (max-width: $tablet) {
      width: 126px;
      margin: auto;
    }
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: contain;
    color: $grey;
  }
}
