mixin header
  header.page__header.header(data-target="mainNav")
    a.header__logo(href= link.index)
      picture
        +imgSource("(max-width: 960px)","images/logo-mobile.png", 126)
        +respImg("header__img","images/logo.png", 240)
    if block
    block