mixin header
  header.page__header.header
    a.header__logo(href= indexLink)
      picture
        - src   = "images/header__logo--mobile.png"
        - size  = 126
        - sizes = size / 16 + "em"
        - media = "(max-width: 960px)"
        +imgSourceTag

        - imgClass = "header__img"
        - src      = "images/header__logo.png"
        - size     = 240
        - sizes    = size / 16 + "em"
        +respImg

    if block
    block