mixin header
  header.page__header.header
    a.header__logo(href= indexHref)
      picture
        - src   = "images/header__logo--mobile.png"
        - size  = 240
        - sizes = size / 16 + "em"
        - media = "(max-width: 960px)"
        +resp-img-source

        - src      = "images/header__logo.png"
        - imgClass = "header__img"
        - alt      = "Логотип"
        +resp-img

    if block
    block