mixin header
  header.page__header.header
    a.header__logo(href= link.index)
      picture
        - src   = "images/logo-mobile.png"
        - size  = 126
        - media = "(max-width: 960px)"
        +respImgSource

        - imgClass = "header__img"
        - src      = "images/logo.png"
        - size     = 240
        +respImg

    if block
    block