include ../../pug/_mixins

mixin header
  header.page__header.header
    a.header__logo(href= hrefIndex)
      picture
        - src   = "images/header__logo--mobile.png"
        - size  = 240
        - sizes = size / 16 + "em"
        - media = "(max-width: 960px)"
        +respSrcImg

        - src      = "images/header__logo.png"
        - imgClass = "header__img"
        - alt      = "Логотип"
        +respImg

    if block
    block