.lightbox {
  z-index: 99;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,0.85);

  .x-center(fixed);

  &::before {
    display: inline-block;
    height: 50%;
    content: "";
  }

  &__inner {
    display: inline-block;
    max-width: 80%;
    max-height: 700px;
    vertical-align: middle;

    @media (max-width: @tablet) {
      max-width: 90%;
    }
  }

  &__close {
    position: absolute;
    top: 4%;
    right: 4%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: @accent-color;

    .x-button();
  }

  &__close-icon {
    width: 20px;
    height: 20px;
    fill: white;

    .x-center();
  }

  &__img {
    display: block;
    max-width: 100%;
    max-height: 80vh;
  }
}
