.lightbox {
  z-index: 99;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .8);
  font-size: 0;

  backdrop-filter: blur(15px);
  @include x-center(fixed);

  &::before {
    display: inline-block;
    height: 50%;
    content: "";
  }

  &__inner {
    display: inline-block;
    max-width: 60vw;
    max-height: 80vh;
    vertical-align: middle;

    @media (orientation: portrait) {
      max-width: 100vw;
    }
  }

  &__close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @include x-button();
    @include x-button-states($accent);
  }

  &__close-icon {
    width: 18px;
    height: 18px;

    fill: white;
    @include x-center();
  }

  &__img {
    display: block;
    max-width: 100%;
  }
}
