mixin lightbox
  .lightbox(data-target="lightbox")
    .lightbox__inner
      button.btn.lightbox__close(data-dismiss="lightbox")
        +svg("times")(class="lightbox__close-icon")
      img.lightbox__img(src="images/misc/preloader.svg" alt="")